
/*=========== LINKING FONTS ============*/
@font-face {
  font-family: 'gothambook';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Gotham-Book.otf')  format('opentype'),
     	url('../fonts/Gotham-Book.woff') format('woff'), 
     	url('../fonts/Gotham-Book.ttf')  format('truetype'), 
     	url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothammedium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Medium.otf')  format('opentype'),
     	url('../fonts/Gotham-Medium.woff') format('woff'), 
 		url('../fonts/Gotham-Medium.ttf')  format('truetype'), 
 		url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothamlight';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/Gotham-Light.otf')  format('opentype'),
     	url('../fonts/Gotham-Light.woff') format('woff'), 
     	url('../fonts/Gotham-Light.ttf')  format('truetype'), 
     	url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background: url('../images/body-pattern.png')no-repeat 422px 0;
	font-family: 'gothambook';
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

ul,
li,
figure {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

.form-control {
	box-shadow: none;
	border: none;
	border-radius: 3px;
	height: 45px;
	font-size: 14px;
}


/*=========== COMMON CSS ==============*/

.inner-container {
	width: 940px;
	margin: 0 auto;
}

.in-container {
    width: 940px;
    margin: 0 auto;
}

.page-title {
	font-size: 36px;
	color: #86754d;
	line-height: 21px;
	text-align: center;
}

.banner-title {
    color: #fff;
    font-size: 22px;
    line-height: 21px;
    margin: 32px 0 15px;
}

.block-title {
    margin: 0 0 25px;
    font-size: 36px;
    color: #86754d;
    line-height: 21px;
}

.inner-block-title {
    color: #858585;
    font-family: 'gothammedium';
    font-size: 28px;
    margin: 0 0 25px;
}

.tagline {
	text-align: center;
	color: #333333;
	font-size: 22px;
	font-family: 'gothamlight';
	line-height: 28px;
}

.bx-wrapper {
	box-shadow: none;
	background: none;
	border: none;
	margin: 0;
}


/*=========== COMMON CSS END ==============*/


/*=========== PAGINATION CSS START =========*/

.car-pagination .pagination {
    margin-top: 0px;
    float: right;
    margin: 0;
}

.car-pagination .pagination > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.car-pagination .pagination > li:last-of-type {
    margin-right: 0px;
}

.car-pagination .pagination>li>a,
.car-pagination .pagination>li>span {
    background: #f4f4f4;
    border: none;
    color: #156a9f;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.car-pagination .pagination>li>a:hover {
    color: #86754d;
}

.car-pagination .pagination li.active:first-child>span,
.car-pagination .pagination li.active:first-child>a,
.car-pagination .pagination li.active:last-child>span,
.car-pagination .pagination li.active:last-child>a {
    border: none;
    color: #86754d;
}

.car-pagination .pagination>li:last-child>a,
.car-pagination .pagination>li:last-child>span,
.car-pagination .pagination>li:first-child>a,
.car-pagination .pagination>li:first-child>span {
    padding: 6px 12px;
}

.car-pagination .pagination>li:last-child>a:hover,
.car-pagination .pagination>li:last-child>span:hover,
.car-pagination .pagination>li:last-child>a:focus,
.car-pagination .pagination>li:last-child>span:focus {
    color: #86754d;
    background: #f4f4f4;
}

.car-pagination .pagination li.active:first-child>span:hover,
.car-pagination .pagination li.active:first-child>a:hover,
.car-pagination .pagination li.active:last-child>span:hover,
.car-pagination .pagination li.active:last-child>a:hover,
.car-pagination .pagination li.active:first-child>span:focus,
.car-pagination .pagination li.active:first-child>a:focus,
.car-pagination .pagination li.active:last-child>span:focus,
.car-pagination .pagination li.active:last-child>a:focus {
    background: #f4f4f4;
}


/*============ PAGINATION CSS END ==================*/




/*=========== HEADER CSS START ==============*/

.site-header {
	border-top: 6px solid #38a4b9;
}

.topmenu {
	position: relative;
}

.topmenu span {
	position: absolute;
	top: 0;
	right: 0;
}

.topmenu span img {
	position: absolute;
	top: -5px;
	right: 0;
}

.topmenu span ul {
	position: relative;
	margin-top: 12px;
	margin-right: 57px;
}

.topmenu span ul li {
	display: inline-block;
	margin-right: 28px;
}

.topmenu span ul li:last-of-type {
	margin-right: 0px;
}

.topmenu span ul li a {
	color: #fff;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.topmenu span ul li a:hover {
	color: #f3f3f3;
}

.main-header {
	padding: 55px 0 30px;
}

.site-logo > a {
	display: block;
}

.site-navigation ul {
	float: right;
	margin-top: 30px;
}

.site-navigation ul li {
	display: inline-block;
	margin-right: 35px;
}

.site-navigation ul li:last-of-type {
	margin-right: 0px;
}

.site-navigation ul li a {
	display: block;
	color: #138bc7;
	font-size: 18px;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.site-navigation ul li a:hover,
.site-navigation ul li a:focus {
	color: #104d6b;
}

.site-navigation ul li.register {
    width: 110px;
    text-align: center;
    height: 37px;
    vertical-align: middle;
    line-height: 37px;
}

.site-navigation ul li.register a {
	background: #117ab8;
	color: #fff;
}

.site-navigation ul li.register a:hover {
	background: #104d6b;
}

.srch-form.active {
    width: 100%;
    left: 0;
    visibility: visible;
    opacity: 1;
}

.srch-form {
    position: fixed;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: #71b4e0e8;
    display: flex;
    align-items: center;
    z-index: 999999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.srch-form form {
    width: 100%;
    text-align: center;
    padding: 5% 20%;
}

.srch-form form .form-group {
    position: relative;
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
}

.srch-form.active .form-group {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}

.searchform .form-control {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 6px 53px 6px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.searchform .form-control:focus {
    box-shadow: none;
}

.srch-form form .site-btn {
    position: absolute;
    top: 0;
    right: 7px;
    background: none;
    border: none;
    height: 100%;
    width: 50px;
    text-align: center;
    padding: 0 15px;
    font-size: 24px;
    color: #125884;
}


.srch-form .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.srch-form.active .close {
    visibility: visible;
    opacity: 1;
}

/*=========== HEADER CSS END ==============*/




/*=========== HOMESLIDER CSS START ==============*/

.mainslider {
	margin: 0 0 50px;
    position: relative;
}

.slider-container {
	width: 1170px;
}

.mainslider-wrap {
	background: url('../images/mainslider-bg.png')no-repeat -160px -40px;
	padding: 15px 0 24px 100px;
}

.slider-shape1 {
    position: absolute;
    top: -1px;
    left: 535px;
    z-index: -1;
}

.slider-shape2 {
    position: absolute;
    bottom: 0;
    left: 292px;
    z-index: -1;
}

.mainslider .bx-controls-direction {
    background-image: url(../images/carousel-control-cover.png);
    background-position: 0px;
    background-repeat: no-repeat;
    bottom: 105px;
    height: 145px;
    position: absolute;
    right: 0;
    width: 100px;
}

.bx-wrapper .bx-controls-direction a.bx-prev {
    background: url(../images/prev.png)no-repeat;
    position: absolute;
    top: 17px;
    margin-top: 0;
    outline: 0;
    width: 78px;
    height: 112px;
    text-indent: -9999px;
    z-index: 9999;
    left: 23px;
}

.bx-wrapper .bx-controls-direction a.bx-next {
    background: url(../images/next.png)no-repeat;
    position: absolute;
    top: 64px;
    margin-top: 0;
    outline: 0;
    width: 78px;
    height: 112px;
    text-indent: -9999px;
    z-index: 9999;
    left: 68px;
}

.mainslider .slider-item .slider-caption {
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
    text-align: right;
    padding: 82px 100px 0 0; 
    color: #fff;
}

.mainslider .slider-item .slider-caption h4 {
    font-size: 36px;
    line-height: 36px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.mainslider .slider-item .slider-caption h1 {
    font-size: 60px;
    font-family: 'gothammedium';
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.mainslider .slider-item .slider-caption p {
    font-size: 20px;
    padding-left: 90px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -webkit-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}


/*=========== HOMESLIDER CSS END ==============*/



/*=========== FOOTER CSS START ==============*/

.site-footer {
	background: #031924 url('../images/footer-bg.jpg')no-repeat;
	padding: 34px 0 27px;
}

.footer-block {
	color: #fff;
	font-size: 14px;
}

.footer-block cite {
	display: block;
	margin: 0 0 31px;
}

.footer-block .footer-desc {
	line-height: 24px;
}

.footer-title {
	font-family: 'gothammedium';
	font-size: 14px;
	margin: 30px 0 30px;
}

.footer-block ul.contacts {
	margin: 20px 0 20px;
}

.footer-block ul.contacts li {
	display: block;
	margin: 0 0 10px;
}

.footer-block ul.contacts li.email {
	text-decoration: underline;
}

.footer-block ul.contacts li img {
	margin-right: 20px;
}

.footer-block ul.social li {
	display: inline-block;
	margin-right: 12px;
}

.footer-block ul.social li:last-of-type {
	margin-right: 0px;
}

.footer-block ul.social li a img {
	display: block;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.footer-block ul.social li a:hover img {
	-webkit-transform: rotate(360deg);
	   -moz-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	        transform: rotate(360deg);
}

.form-newsletter .site-btn {
	float: right;
	width: 134px;
	height: 45px;
	background: #86754d;
}

.pdflink {
	display: block;
	font-size: 14px;
	text-decoration: underline;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}

.pdflink:hover,
.pdflink:focus {
	text-decoration: underline;
	color: #ccc;
}

.copyright {
	margin-top: 70px;
	color: #fff;
	font-size: 11px;
}


/*=========== FOOTER CSS END ==============*/



/*=========== SITE BREADCRUMB CSS START ==============*/

.site-breadcrumb {
    background: #156a9f;
    margin: 0 0 45px;
    position: relative;
}

.site-breadcrumb:before, 
.site-breadcrumb:after {
    content: "";
    height: 20px;
    width: 25%;
    top: 0px;
    position: absolute;
    left: 0px;
    background-color: #fff;
}

.site-breadcrumb:after {
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    left: 10px;
}

.site-breadcrumb .breadcrumb {
    margin: 10px 0 0;
    padding: 0;
    border-radius: 0px;
    background: transparent;
    text-align: right;
}

.site-breadcrumb-wrap {
    background: url('../images/banner-bg.png')no-repeat 330px -38px;
}

.main-breadcrumb-wrap {
    position: relative;
}

.main-breadcrumb-wrap:before,
.main-breadcrumb-wrap:after {
    content: "";
    height: 20px;
    width: 55%;
    bottom: 0px;
    position: absolute;
    right: 0px;
    background-color: #fff;
}

.main-breadcrumb-wrap:after {
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    right: 10px;
}

.site-breadcrumb .breadcrumb > li > a {
    color: #dedede;
    font-size: 18px;
}

/*=========== SITE BREADCRUMB CSS END ==============*/



/*=========== HOWITWORKS CSS START ==============*/

.howitworks {
    background: url('../images/howitworks-bg.png')no-repeat center center;
    padding: 47px 0px;
}

.howitworks .page-title {
	margin: 0 0 34px;
}


/*=========== HOWITWORKS CSS START END ==============*/

.howitworks-col-wrap {
    margin-top: 50px;
}

.howitworks-column {
    padding: 18px 10px 26px;
    background: #156a9f url(../images/howitworks-colbg.png)no-repeat center center;
    text-align: center;
    color: #fff;
    position: relative;
    margin-left: 30px;
}

.howitworks-column:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100px;
    background: #fff;
}

.howitworks-column:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 174px;
    background: #fff;
}

.shape.first {
    position: absolute;
    left: 94px;
    top: -3px;
    height: 9px;
    width: 14px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.shape.last {
    position: absolute;
    left: 143px;
    bottom: -6px;
    height: 10px;
    width: 20px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.howitworks-column h4 {
    color: #fff;
    font-family: 'gothammedium';
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 23px;
}

.howitworks-column img {
	margin: 0 0 20px;
}

.howitworks-column p {
    font-size: 16px;
    font-family: "gothamlight";
}

.howitworks-column .step {
    position: absolute;
    top: -15px;
    left: -15px;
    background: #49a7c5;
    color: #fff;
    text-align: center;
    padding: 11px 22px;
}

.about-samara h5 {
    color: #333333;
    font-size: 22px;
}

.about-samara .inner-paddor h2 {
    margin: 0 0 20px;
}




/*============== WINNER TABLE =========*/

.two-section-wrap {
    background: url('../images/two-section-bg.png')no-repeat left 133px;
}

.winners {
	margin: 70px 0 0;
}

.winners .page-title {
	color: #fff;
}

.winners-overlay {
	background: #156a9f url('../images/winner-table-bg.png')no-repeat -242px 0;
	padding: 80px 0 80px;
    position: relative;
}

.winners-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 520px;
    background: #fff;
}

.winners-overlay:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 520px;
    background: #fff;
}

.winners-overlay .shape.first {
    position: absolute;
    left: 501px;
    top: -7px;
    height: 26px;
    width: 54px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.winners-overlay .shape.last {
    position: absolute;
    left: 585px;
    bottom: -7px;
    height: 26px;
    width: 54px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.winner-table-wrap {
    width: 940px;
    margin: 56px 0 0 118px;
    background: #fff;
    padding: 17px 13px 20px 20px;
}

.winner-table {
    max-height: 426px;
    overflow-y: scroll;
    padding-right: 10px;
}

.winner-table::-webkit-scrollbar-track {
    background-color: #efefef;
}

.winner-table::-webkit-scrollbar {
    width: 6px;
    background-color: #efefef;
}

.winner-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #156a9f;
}

.winner-table .table>thead>tr>th {
    color: #86754d;
    padding: 0px 0 12px;
    font-weight: normal;
    border: none;
    font-size: 17px;
}

.winner-table .table>tbody>tr>td {
    color: #858585;
    padding: 22px 2px 10px;
    font-size: 17px;
}

.winner-table .table>tbody>tr>td.name {
    color: #156a9f;
}















/*============== END OF WINNER TABLE =========*/


/*============== WHY SAMARA =========*/

.whysamara {
    padding: 110px 0 85px;
    text-align: center;
}

.whysamara .page-title {
	margin: 0 0 30px;
}

.whysamara .inner-paddor {
    padding: 0 162px;
}

.whysamara p {
	margin-top: 30px;
    font-size: 16px;
    font-family: "gothamlight";
    line-height: 28px; 
    color: #858585;
}

.samara-support {
    margin-top: 86px;
}

.sp-block {
    text-align: left;
    padding: 0 26px
}

.sp-block span {
	font-size: 19px;
	color: #90815e;
	font-family: 'gothammedium';
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}




/*============== END OF WHY SAMARA =========*/


/*============== SAMARA BENEFITS =========*/

.benefits .page-title {
	margin: 0 0 78px;
}

.benefits .inner-container {
	padding: 0 100px 0 72px;
}

.benefits-block-wrap {
    background: #f8fbfc;
    padding: 80px 0 62px;
    position: relative;
}

.benefits-block-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 520px;
    background: #fff;
}

.benefits-block-wrap:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 520px;
    background: #fff;
}

.benefits-block-wrap .shape.first {
    position: absolute;
    left: 501px;
    top: -7px;
    height: 26px;
    width: 54px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.benefits-block-wrap .shape.last {
    position: absolute;
    left: 584px;
    bottom: -7px;
    height: 26px;
    width: 54px;
    background: #fff;
    z-index: 1;
    transform: rotate(-50deg);
}

.benefits-block {
    margin: 0 0 27px 0;
    position: relative;
    padding-left: 70px;
    padding-top: 23px;
}

.benefits-block.right {
    margin-left: 38px;
}

.benefits-block .bimg {
    position: absolute;
    top: 15px;
    left: 15px;
}

.benefits-block h5 {
	font-family: 'gothammedium';
    font-size: 19px;
    margin: 0 0 16px;
    color: #90815e;
}

.benefits-block p {
	font-family: 'gothamlight';
	font-size: 14px;
	color: #858585;
	line-height: 22px;
}



/*============== END OF BENEFITS =========*/


/*============== CLIENTS CSS =========*/

.clients {
    background: url('../images/partners-bg.png')no-repeat 450px 0;
    padding: 65px 0 71px;
}

.clients-slider .slider-item img {
	margin: 0 auto;
}

.clients .page-title {
	margin: 0 0 70px;
}

.clients-slider .slider-item.client3 {
	margin-top: 20px;
}

.clients-slider .slider-item.client4 {
	margin-top: 5px;
}

/*============== END OF CLIENTS CSS =========*/

#samara-footer .form-control {
    border: none;
}

.follow-us h5 {
    margin-bottom: 25px !important;
    padding-top: 2px;
}

form.news-suscribe {
    padding-left: 20px;
    padding-top: 3px;
}

form.news-suscribe h5 {
    padding-bottom: 5px;
}

/*===================  INNER PAGE CSS START ======================*/

.page-banner {
    background: #156a9f url('../img/banner-bg.png')no-repeat center right;
    min-height: 70px;
}

.search-form {
    margin: 0 0 30px;
}

.search-form .form-group {
    float: left;
    width: 156px;
    margin: 0 9px 0 0;
}

.search-form .form-group:nth-of-type(5n) {
    margin-right: 5px;
    width: 160px;
}

.search-form .form-group:last-of-type {
    margin-right: 0px;
    width: 115px;
}

.search-btn {
    background: #156a9f;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.search-btn:hover,
.search-btn:focus {
    background: #125884;
    color: #fff;
    box-shadow: none;
    outline: 0;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.bootstrap-select .btn.btn-default,
.bootstrap-select.open>.dropdown-toggle.btn-default {
    background-color: inherit;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
}

.bootstrap-select .btn.btn-default,
.bootstrap-select .btn.btn-default:hover,
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default:focus,
.bootstrap-select.open .btn-default:focus {
    background: none;
    border-color: #cfd4d9;
}

.bootstrap-select .btn-default:focus,
.bootstrap-select.open .btn-default:focus {
    outline: none !important;
}

.select-appearance .caret::before {
    content: '\f107';
    font-size: 16px;
    font-family: 'FontAwesome';
    color: #252525;
}

.select-appearance .dropup .caret::before {
    content: '\f106';
}

.select-appearance .bootstrap-select .btn.btn-default {
    color: #138bc7;
    height: 100%;
    font-size: 14px;
    padding-right: 30px;
    border: none;
    box-shadow: 1px 1px 0 #dedede;
    -webkit-box-shadow: 1px 1px 0 #dedede;
    -moz-box-shadow: 1px 1px 0 #dedede;
}

.select-appearance .btn-group.bootstrap-select.form-control.open {
    z-index: 12;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu {
    background: #156a9f;
    border: none;
    border-radius: 0px;
    padding: 0;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu>li>a {
    color: #fff;
    padding: 6px 15px;
    font-size: 14px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu>li>a:focus,
.select-appearance .bootstrap-select.form-control .dropdown-menu>li>a:hover {
    color: #bc1f34;
    outline: none;
    background: #fff;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a,
.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a:hover,
.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a:focus {
    color: #d3d3d3;
    outline: none;
    background: none;
}

.select-appearance {
    position: relative;
}

.bootstrap-select.form-control {
    z-index: 1;
    background: #f4f4f4;
    height: 40px;
}

.bootstrap-select .caret {
    border: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    top: 30%;
    right: 27px;
}

h3.nocars {
    text-align: left;
    margin: 0 0 15px;
}

.sort-form .form-group {
    display: inline-block;
    margin: 0 20px 0 0;
}

.car-details-block-wrap {
    background: url('../images/car-listing-bg.png')no-repeat center top;
    margin-top: 50px;
    margin-bottom: 50px;
}

.car-details-block-wrap .car-details-block {
    margin: 0 0 50px;
}

.car-details-block-wrap .car-details-block:last-of-type {
    margin: 0;
}

.car-details-block .thumbnail-img {
    position: relative;
}

.car-details-block .thumbnail-img img {
    width: 100%;
}

.car-details-block .thumbnail-img:before,
.car-details-block .thumbnail-img:after {
    content: "";
    height: 20px;
    width: 40%;
    top: 0px;
    position: absolute;
    left: 0px;
    background-color: #fff;
}

.car-details-block .thumbnail-img:after {
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    left: 10px;
}

.car-details-block .thumbnail-img .shape {
    display: block;
}

.car-details-block .thumbnail-img .shape:before,
.car-details-block .thumbnail-img .shape:after {
    content: "";
    height: 20px;
    width: 40%;
    bottom: 0px;
    position: absolute;
    right: -5px;
    background-color: #fff;
}

.car-details-block .thumbnail-img .shape:after {
    transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    -moz-transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -o-transform: skew(-45deg, 0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    right: 10px;
}

h3.car-heading {
    font-family: 'gothammedium';
    font-size: 30px;
    color: #156a9f;
    margin: 0 0 30px;
}

ul.car-details-list {
    padding: 0;
    margin: 0;
}

ul.car-details-list li {
    list-style-type: none;
    color: #333333;
    font-size: 13.05px;
    margin: 0 0 8px;
}

ul.car-details-list li:last-of-type {
    margin: 0;
}

ul.car-details-list li span {
    display: inline-block;
    width: 180px;
}

.car-details-right {
    position: relative;
    text-align: right;
    min-height: 215px;
}

.car-details-right h4 {
    text-align: right;
    color: #4b4b4b;
    font-family: 'gothammedium';
    font-size: 17px;
}

.car-details-right .deal-time {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #4b4b4b;
    font-family: 'gothammedium';
    font-size: 17px;
}

.car-details-actions {
    margin-top: 15px;
    float: left;
    width: 100%;
    background: #f4f4f4;
    border-radius: 3px;
    box-shadow: 1px 1px 0 #dedede;
    -webkit-box-shadow: 1px 1px 0 #dedede;
    -moz-box-shadow: 1px 1px 0 #dedede;
}

.car-details-actions ul {
    padding: 0;
    margin: 0;
}

.car-details-actions ul li {
    float: left;
    width: 25%;
    list-style-type: none;
}

.car-details-actions ul li a {
    display: block;
    color: #156a9f;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.car-details-actions ul li a:hover {
    background: #156a9f;
    color: #fff;
}

.car-pagination.foot {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 70px;
}

.car-pagination.foot .pagination {
    float: none;
}

.car-pagination.foot .pagination>li:last-child>a,
.car-pagination.foot .pagination>li:last-child>span,
.car-pagination.foot .pagination>li:first-child>a,
.car-pagination.foot .pagination>li:first-child>span {
    background: none;
    padding: 0;
    font-size: 20px;
}

.car-pagination.foot .pagination > .active > a {
    color: #86754d;
}

.car-pagination.foot .pagination > .active > a, 
.car-pagination.foot .pagination > .active > span, 
.car-pagination.foot .pagination > .active > a:hover, 
.car-pagination.foot .pagination > .active > span:hover, 
.car-pagination.foot .pagination > .active > a:focus, 
.car-pagination.foot .pagination > .active > span:focus {
    background: #f4f4f4;
}

.car-view-details p {
    font-size: 15px;
    color: #858585;
    line-height: 27px;
}

p.car-number {
    color: #858585;
    margin: 0 0 28px;
    font-size: 15px;
}

.car-view-details p.desc {
    margin: 0 0 35px;
    color: #858585;
    font-size: 15px;
    line-height: 27px;
}

.seller-details {
    margin: 0 0 20px;
}

.seller-price-details {
    margin: 0 0 25px;
}

.car-view-details ul {
    padding: 0;
    margin: 0;
}

.car-view-details ul li {
    list-style-type: none;
    font-family: 'gothammedium';
    color: #858585;
    line-height: 37px;
}

.site-btn {
    background: #156a9f;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 14px;
}

.site-btn:hover,
.site-btn:focus,
.site-btn:active {
    background: #125884;
    color: #fff;
    box-shadow: none;
    outline: 0 !important;
}

.biding-price h4 {
    font-family: 'gothammedium';
    color: #858585;
    font-size: 18px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 37%;
}

.biding-price .bidnow {
    display: inline-block;
    vertical-align: middle;
    width: 61%;
    text-align: right;
}

.biding-price .bidnow .form-control {
    height: 40px;
    display: inline-block;
    width: 113px;
    background: #f4f4f4;
    border: none;
    box-shadow: 1px 1px 0 #dedede;
    -webkit-box-shadow: 1px 1px 0 #dedede;
    -moz-box-shadow: 1px 1px 0 #dedede;
}

.biding-price .bidnow .site-btn {
    display: inline-block;
    width: 113px;
    margin-left: 10px;
}

.note {
    margin: 50px 0 50px;
    padding: 0 20px;
    text-align: center;
}

.note h5 {
    font-size: 16px;
    line-height: 27px;
    color: #858585;
}

.note h5 span {
    font-family: 'gothammedium';
    color: #858585;
}

.info-tabs {
    margin: 0 0 150px;
}

.info-tabs .nav-tabs {
    width: 500px;
    margin: 0 auto;
    border: none;
}

.info-tabs .nav-tabs > li > a {
    margin: 0;
    width: 235px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 3px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.info-tabs .nav-tabs>li>a:hover {
    background: #156a9f;
    color: #fff;
    border-color: #156a9f;
}

.info-tabs .nav-tabs>li.active>a,
.info-tabs .nav-tabs>li.active>a:hover,
.info-tabs .nav-tabs>li.active>a:focus {
    background: #156a9f;
    color: #fff;
    border-color: #156a9f;
}

.infotabs-content {
  margin-top: 40px;
  padding-left: 110px;
}

.infotabs-content .table > thead > tr > th, 
.infotabs-content .table > thead > tr > td, 
.infotabs-content .table > tbody > tr > th, 
.infotabs-content .table > tbody > tr > td, 
.infotabs-content .table > tfoot > tr > th, 
.infotabs-content .table > tfoot > tr > td {
  border: none;
}

.infotabs-content .table > thead > tr > th, 
.infotabs-content .table > tbody > tr > th, 
.infotabs-content .table > tfoot > tr > th {
    font-family: 'gothammedium';
    font-size: 16px;
    font-weight: normal;
    color: #686464;
}


/*===================  INNER PAGES CSS END ======================*/



/*================ CAR VIEW PAGE CSS START =====================*/

.car-view-section {
    background: url('../images/car-view-bg.png')no-repeat center 303px;
}

ol.carousel-indicators {
    width: 100%;
    position: static;
    margin: 18px 0 0;
    text-align: left;
}

ol.carousel-indicators li {
    width: 107px;
    height: 72px;
    float: left;
    text-indent: 0;
    border-radius: 0px;
    border: none;
    margin: 0 9px 0 0;
    position: relative;
}

.carousel-indicators li.active {
    width: 107px;
    height: 72px;
    margin: 0 9px 0 0;
    border: none;
}

.carousel-indicators li.active:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #5894b9;
    opacity: 0.7;
}

ol.carousel-indicators li:last-of-type {
    margin-right: 0px;
}

ol.carousel-indicators li img {
    width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
}



/*================ CAR VIEW PAGE CSS END =====================*/



/*================ USER PROFILE PAGE CSS START =====================*/

.user-profile {
    padding: 88px 0 115px;
}

.page-navigation {
    background: #156a9f url('../images/page-navigation-bg.png')no-repeat center right;
    padding: 25px 20px;
}

.page-navigation ul li {
    margin: 0 0 12px;
}

.page-navigation ul li a {
    position: relative;
    display: block;
    font-family: 'gothammedium';
    font-size: 17px;
    padding-left: 20px;
    color: #fff;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.page-navigation ul li a:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 20px;
    width: 12px;
    background: url('../images/right-arrow.png')no-repeat left top;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
     -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.page-navigation ul li a:hover {
    color: #c8c8c8;
}

.page-navigation ul li.active a {
    color: #c8c8c8;
}

.page-navigation ul li a:hover::before,
.page-navigation ul li.active a:before {
    opacity: 1;
    visibility: visible;
    transform: rotate(0);
}

.page-inner-block {
    margin: 0 0 30px;
}

.page-inner-block:last-of-type {
    margin: 0;
}

.editinfo {
    margin-left: 35px;
    font-size: 16px;
    color: #156a9f;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.editinfo:hover {
    color: #86754d;
}

.page-details-block {
    padding-top: 15px;
}

.page-details-block .block-title {
    margin: 0 0 38px;
}

.page-inner-block ul li {
    color: #858585;
    font-size: 17px;
    margin: 0 0 6px;
}

.page-inner-block ul li:last-of-type {
    margin: 0;
}


/*================ USER PROFILE PAGE CSS START END =====================*/


