<div class="form-group {% if errors.has(field) %}has-error{% endif %}">
	{# <label class="control-label"></label> #}
	<div class="input-group">
    <label class="input-group-btn">
      <span class="btn btn-lg btn-default">
        <i class="fa fa-upload"></i> {{ trans('module::field.'~field~'.name')|raw }} {{ field == 'other_docs' or field=='power_of_attorny' ? '' : '<span class="required">*</span>' }}
        <input 
          type="file" 
          style="display:none;" 
          class="upload" 
          data-url="/ajax/upload-document"
          data-valid-files="pdf,docx,doc"
          data-name-input=".{{ field }}-name"
          data-value-input=".{{ field }}-input"
          onchange="skrollx.ajaxFileUpload(this)">
      </span>
			<input class="{{ field }}-input" type="hidden" name="{{ field }}" value="{{ attribute(dealer, field).id }}">
    </label>
    <span type="text" class="form-control {{ field }}-name">{{ attribute(dealer, field).getName() }}</span>
  </div>
	<span class="help-block">(Allowed file types: *.doc, *.docx, *.pdf)</span>
</div>