{% extends layout('dashboard') %}

{% block content %}
{% set countries = config_get('streams::countries.available') %}

	<h2 class="page-title">{{ trans('skrollx.module.dealers::site.address') }}</h2>
	<div class="contact-info-block">
		<h2>{{ trans('skrollx.module.dealers::site.shipping_address') }} <a href="{{ url('dealer/edit-address') }}">{{ trans('theme::button.edit') }}</a></h2>
		<ul>
	    <li>{{ trans('skrollx.module.dealers::field.country.name') }}: {{ dealer.shipping_country.value ? countries[dealer.shipping_country.value]['name'] : trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.city.name') }}: {{ dealer.shipping_city.name ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.region.name') }}: {{ dealer.shipping_region.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.building.name') }}: {{ dealer.shipping_building.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.apartment.name') }}: {{ dealer.shipping_apartment.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.note.name') }}: {{ dealer.shipping_note ?: trans('theme::site.not_specified') }}</li>
		</ul>
	</div>

	<div class="contact-info-block">
		<h2>{{ trans('skrollx.module.dealers::site.billing_address') }} <a href="{{ url('dealer/edit-address') }}">{{ trans('theme::button.edit') }}</a></h2>
		<ul>
	    <li>{{ trans('skrollx.module.dealers::field.country.name') }}: {{ dealer.billing_country.value ? countries[dealer.billing_country.value]['name'] : trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.city.name') }}: {{ dealer.billing_city.name ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.region.name') }}: {{ dealer.billing_region.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.building.name') }}: {{ dealer.billing_building.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.apartment.name') }}: {{ dealer.billing_apartment.value ?: trans('theme::site.not_specified') }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.note.name') }}: {{ dealer.billing_note ?: trans('theme::site.not_specified') }}</li>
		</ul>
	</div>

{% endblock %}
