{% extends layout('dashboard') %}

{% block content %}
	<a href="{{ url('cars') }}" class="btn site-btn pull-right">{{ trans('skrollx.module.cars::button.start_bidding') }}</a>
	<h2 class="page-title">{{ trans('module::site.bids') }}</h2>
	{% set biddings = entries('dealers', 'biddings').where('created_by_id', auth_user().id).orderBy('id', 'desc').get() %}
	{% if biddings.count() %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ trans('module::field.transaction_date.name') }}</th>
				<th>{{ trans('module::field.car.name') }}</th>
				<th>{{ trans('module::field.amount.name') }}</th>
				<th>{{ trans('module::field.won.name') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for bidding in biddings %}
			<tr>
				<td>{{ bidding.created_at.format('Y-m-d') }}</td>
				<td><a target="_blank" href="{{ url('car/'~bidding.car.slug) }}">{{ bidding.car.title }}</a></td>
				<td>{{ currency_format(bidding.amount.value) }}</td>
				<td>{{ bidding.paid_date ? bidding.paid_date.format('Y-m-d') : '' }}</td>
				<td>
					{% if bidding.car.status.key == 5 %}
						{{ bidding.won.value ? 'Yes' : 'No' }}
					{% else %}
						{{ trans('module::site.running') }}
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			{{ trans('module::message.no_biddings') }}
		</div>
	{% endif %}
{% endblock %}
