{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('module::site.billing') }}</h2>
	{% set billings = entries('dealers', 'billings').where('dealer_id', auth_user().dealer().id).get() %}
	{% if billings.count() %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ trans('module::field.date.name') }}</th>
				<th>{{ trans('module::field.car_no.name') }}</th>
				<th>{{ trans('module::field.invoice_no.name') }}</th>
				<th>{{ trans('module::field.amount.name') }}</th>
				<th>{{ trans('module::field.paid_date.name') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for billing in billings %}
			<tr>
				<td>{{ billing.date.format('Y-m-d') }}</td>
				<td>{{ billing.car_no }}</td>
				<td>{{ billing.invoice_no }}</td>
				<td>{{ currency_format(billing.amount.value) }}</td>
				<td>{{ billing.paid_date.value ? billing.paid_date.format('Y-m-d') : 'Not paid' }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			{{ trans('module::message.no_billings') }}
		</div>
	{% endif %}
{% endblock %}
