{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('module::site.change_password') }}</h2>
	{{ form_open({class:'form-change-password'}) }}
		<div class="form-group required {% if errors.has('current_password') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.current_password.name') }}</label>
			<input class="form-control" type="password" name="current_password" value="">
		</div>
		<div class="form-group required {% if errors.has('password') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.new_password.name') }}</label>
			<input class="form-control password-field" type="password" name="password" value="">
		</div>
		<div class="form-group required {% if errors.has('password_confirmation') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.confirm_new_password.name') }}</label>
			<input class="form-control" type="password" name="password_confirmation" value="">
		</div>
		<div class="form-group">
			<input class="btn site-btn" type="submit" name="reset_password" value="{{ trans('theme::button.submit') }}">
		</div>
	{{ form_close() }}
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(function(){
      $('form.form-change-password').validate({
			  rules: {
			    current_password: {
		        required: true,
		        minlength: 8
			    },
			    password: {
		        required: true,
		        minlength: 8
			    },
			    password_confirmation: {
		        required: true,
		        minlength: 8,
		        equalTo: '.password-field.form-control'
			    }
			  },
			  messages: {
	        current_password: {
	        	required: false
	        },
	        password: {
	        	required: false
	        },
	        password_confirmation: {
	        	required: false,
	        	equalTo: '{{ trans("skrollx.module.dealers::validation.confirm_new_password.same") }}'
	        }
	      },
			  highlight: function(element) {
			    $(element).closest('.form-group').addClass('has-error');
			  },
			  unhighlight: function(element) {
			    $(element).closest('.form-group').removeClass('has-error');
			  },
			  errorElement: 'span',
			  errorClass: 'help-block',
			  errorPlacement: function(error, element) {
			    if(element.parent('.input-group').length) {
			      error.insertAfter(element.parent());
			    } else {
			      error.insertAfter(element);
			    }
			  }
			});
    });
	</script>
{% endblock %}