{% extends layout('default') %}

{% block content %}
    <div class="container">
      <div class="col-sm-12">
      	<div class="stripped-form-wrap">
      		<h3 class="form-title">{{ trans('theme::site.complete_your_details')|upper }}</h3>
          {# {% if auth_check() %}
            {{ trans('skrollx.module.dealers::message.already_loggedin')|raw }}
          {% else %} #}
            {% set dealerForm = form('complete_registration_form')
              .entry(dealer)
              .options({
                'success_message': trans('skrollx.module.dealers::message.registration_complete_message'),
                'redirect': request_get('redirect', url('dealer/register'))
              })
              .get() %}
            {{ dealerForm.open({'class':'complete-registration-form'})|raw }}
            <div class="row">
              <div class="col-sm-6">
                <h3>{{ trans('skrollx.module.dealers::site.authorized_signatory') }}</h3>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" type="text" name="first_name" value="{{ user.first_name }}" placeholder="{{ trans('theme::field.first_name.name') }}">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                    <input class="form-control" type="text" name="last_name" value="{{ user.last_name }}" placeholder="{{ trans('theme::field.last_name.name') }}">
                    </div>
                  </div>
                </div>

                {% for field in ['passport', 'power_of_attorny', 'trade_license', 'other_docs','emirates_id'] %}
                  {% include 'skrollx.module.dealers::dealer._upoad-field-type' %}
                {% endfor %}
                
              </div>
              <div class="col-sm-6">
                <h3>{{ trans('skrollx.module.dealers::site.company_details') }}</h3>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="select-appearance">
                      {{ dealerForm.fields.company_country.input|raw }}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <div class="select-appearance">
                        <select class="form-control selectpicker" name="company_city" id="">
                          {% for city in cities %}
                            <option value="{{city.name}}">{{city.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      {{ dealerForm.fields.company_zip.input|raw }}
                    </div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="checkbox">
                    <label>
                      <input name="terms_conditions" type="checkbox" value="1">
                      {{ trans('theme::site.agree_terms_conditions', { terms_url : url('terms-and-conditions'), policy_url: url('privacy-policy') })|raw }}
                    </label>
                  </div>
                </div>  
                <div class="form-group">
                  <input type="submit" class="btn site-btn" value="{{ trans('theme::button.get_best_deals') }}">
                </div>
              </div>
            </div>
            <input type="hidden" name="user" value="{{ user.id }}">
            {{ dealerForm.close()|raw }}
					{# {% endif %} #}
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(function(){
      $('form.complete-registration-form').validate({
        ignore: [],
        rules: {
          first_name: {
              minlength: 3,
              required: true
          },
          last_name: {
              minlength: 3,
              required: true
          },
          emirates_id: "required",
          passport: "required",
          trade_license: "required",
          company_country: "required",
          company_city: "required",
          terms_conditions: "required",
        },
        messages: {
          first_name: false,
          last_name: false,
          passport: false,
          trade_license: false,
          company_country: false,
          company_city: false,
          terms_conditions: false,
          emirates_id: false,
        },
        highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-text',
        errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else if(element.parent('label').length) {
          } else {
            error.insertAfter(element);
          }
        }
      });
    });
  </script>
{% endblock %}