{% extends layout('dashboard') %}

{% block content %}
{% set dealer = auth_user().dealer() %}

	<h2 class="page-title">{{ trans('skrollx.module.dealers::site.contact_info')|raw }}</h2>
	<div class="contact-info-block">
		<h2>{{ trans('skrollx.module.dealers::site.personal_info') }} <a href="{{ url('dealer/edit-contact-info') }}">{{ trans('theme::button.edit') }}</a></h2>
		<ul>
	    <li>{{ trans('anomaly.module.users::field.first_name.name') }}: {{ auth_user().first_name }}</li>
	    <li>{{ trans('anomaly.module.users::field.last_name.name') }}: {{ auth_user().last_name }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.company_name.name') }}: {{ dealer.company_name }}</li>
	    <li>{{ trans('anomaly.module.users::field.email.name') }}: {{ auth_user().email }}</li>
	    <li>{{ trans('skrollx.module.dealers::field.traffic_file_code.name') }}: {{ dealer.traffic_file_code ?: trans('theme::site.not_specified') }}</li>
		</ul>
	</div>
	<div class="contact-info-block">
		<h2>{{ trans('skrollx.module.dealers::site.documents') }} <a href="{{ url('dealer/edit-contact-info') }}">{{ trans('theme::button.edit') }}</a></h2>
		<ul>
	    <li>{{ trans('skrollx.module.dealers::field.passport.name') }}:
	    {% if dealer.passport.getName() %} 
	    	<a href="{{ dealer.passport.url() }}" target="_blank">{{ dealer.passport.getName() }}</a>
	    {% else %}
	    	{{ trans('theme::site.not_specified') }}
	    {% endif %}
	    </li>
	    <li>{{ trans('skrollx.module.dealers::field.power_of_attorny.name') }}:
	    {% if dealer.power_of_attorny.getName() %}
	    <a href="{{ dealer.power_of_attorny.url() }}" target="_blank">{{ dealer.power_of_attorny.getName() }} </a>
	    {% else %}
	    	{{ trans('theme::site.not_specified') }}
	    {% endif %}
	    </li>
	    <li>{{ trans('skrollx.module.dealers::field.trade_license.name') }}:
	    {% if dealer.trade_license.getName() %} 
	    	<a href="{{ dealer.trade_license.url() }}" target="_blank">{{ dealer.trade_license.getName() }}</a>
	    {% else %}
	    	{{ trans('theme::site.not_specified') }}
	    {% endif %}
	    </li>
	    <li>{{ trans('skrollx.module.dealers::field.other_docs.name') }}:
	    {% if dealer.other_docs.getName() %} 
	    	<a href="{{ dealer.other_docs.url() }}" target="_blank">{{ dealer.other_docs.getName() }}</a>
	    {% else %}
	    	{{ trans('theme::site.not_specified') }}
	    {% endif %}
	    </li>
		</ul>
	</div>
{% endblock %}
