{% extends layout('dashboard') %}

{% block content %}
{% set dealer = auth_user().dealer() %}
	<h2 class="page-title">{{ trans('module::site.deposit') }}</h2>
	{% set deposits = entries('dealers', 'deposits').where('dealer_id', auth_user().dealer().id).get() %}
	
	<h4>{{ trans('module::message.your_deposite_balance_is') }} <span class="text-info">{{ currency_format(dealer.getBalance()) }}</span>
	</h4>
	<p>{{ trans('module::message.increase_deposit_instructions') }}</p>

	{% if deposits.count() %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ trans('module::field.date.name') }}</th>
				<th>{{ trans('module::field.amount.name') }}</th>
				<th>{{ trans('module::field.deposit_type.name') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for deposit in deposits %}
			<tr>
				<td>{{ deposit.date.format('Y-m-d') }}</td>
				<td>{{ currency_format(deposit.amount.value) }}</td>
				<td>{{ deposit.deposit_type.value }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			{{ trans('module::message.no_deposits') }}
		</div>
	{% endif %}
{% endblock %}
