{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('skrollx.module.dealers::site.address') }}</h2>
	
	{% set addressForm = form('dealer_address_form').entry(dealer).get() %}

	{{ addressForm.open({'class':'address-form'})|raw }}

		<h3>{{ trans('module::site.shipping_address') }}</h3>
		
		<div class="form-group {% if errors.has('shipping_country') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.country.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				{{ addressForm.fields.shipping_country.setAttributes({
					'title': trans('module::field.country.placeholder')
				}).input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('shipping_city') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.city.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				<select name="shipping_city" class="form-control custom-select" data-value="{{ dealer.shipping_city_id }}" title="{{ trans('module::field.city.placeholder') }}">
					<option>{{ trans('module::field.city.placeholder') }}</option>
				</select>
				{# {{ addressForm.fields.shipping_city.input|raw }} #}
			</div>
		</div>

		<div class="form-group {% if errors.has('shipping_region') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.region.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.shipping_region.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('shipping_building') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.building.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.shipping_building.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('shipping_apartment') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.apartment.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.shipping_apartment.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('shipping_note') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.note.name')|raw }}</label>
			<div>
				{{ addressForm.fields.shipping_note.input|raw }}
			</div>
		</div>
	
		<h3>{{ trans('module::site.billing_address') }}</h3>
		
		<div class="form-group {% if errors.has('shipping_country') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.country.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				{{ addressForm.fields.billing_country.setAttributes({
					'title': trans('module::field.country.placeholder')
				}).input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('billing_city') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.city.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				<select name="billing_city" class="form-control custom-select" data-value="{{ dealer.billing_city_id }}" title="{{ trans('module::field.city.placeholder') }}">
					<option>{{ trans('module::field.city.placeholder') }}</option>
				</select>
				{# {{ addressForm.fields.billing_city.input|raw }} #}
			</div>
		</div>

		<div class="form-group {% if errors.has('billing_region') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.region.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.billing_region.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('billing_building') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.building.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.billing_building.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('billing_apartment') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.apartment.name')|raw }} <span class="required">*</span></label>
			<div>
				{{ addressForm.fields.billing_apartment.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('billing_note') %}has-error{% endif %}">
			<label class="control-label">{{ trans('module::field.note.name')|raw }}</label>
			<div>
				{{ addressForm.fields.billing_note.input|raw }}
			</div>
		</div>

		<input type="hidden" name="user" value="{{ auth_user().id }}">
		<div>
			<input class="btn btn-warning btn-lg" type="submit" name="submit" value="{{ trans('theme::button.submit') }}">
		</div>
	{{ addressForm.close()|raw }}
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(function(){
			$('[name="shipping_country"]').on('change', function(){
				skrollx.formRelatedChanged(this, '[name="shipping_city"]', '/ajax/city-dropdown');
			}).change();
			$('[name="billing_country"]').on('change', function(){
				skrollx.formRelatedChanged(this, '[name="billing_city"]', '/ajax/city-dropdown');
			}).change();

      $('form.address-form').validate({
	      ignore: [],
	      rules: {
	        shipping_country: "required",
	        shipping_city: "required",
	        shipping_region: "required",
	        shipping_building: "required",
	        shipping_apartment: "required",
	        billing_country: "required",
	        billing_city: "required",
	        billing_region: "required",
	        billing_building: "required",
	        billing_apartment: "required",
	      },
	      messages: {
          shipping_country: false,
					shipping_city: false,
					shipping_region: false,
					shipping_building: false,
					shipping_apartment: false,
					billing_country: false,
					billing_city: false,
					billing_region: false,
					billing_building: false,
					billing_apartment: false
        },
	      highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	      },
	      unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	      },
	      errorElement: 'span',
	      errorClass: 'help-block',
	      errorPlacement: function(error, element) {
	        if(element.parent('.input-group').length) {
	          error.insertAfter(element.parent());
	        } else {
	          error.insertAfter(element);
	        }
	      }
	    });
    });
	</script>
{% endblock %}