{% extends layout('dashboard') %}

{% block content %}
	<div class="contact-info-block">
		<h2>{{ trans('skrollx.module.dealers::site.authorized_signatory') }}</h2>
		{% set contactForm = form('dealer_contact_form').entry(dealer).get() %}

		{{ contactForm.open({'class':'contact-form'})|raw }}
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group {% if errors.has('first_name') %}has-error{% endif %}">
						<label class="control-label">{{ trans('anomaly.module.users::field.first_name.name')|raw }} <span class="required">*</span></label>
						<div>
							<input class="form-control" type="text" name="first_name" value="{{ user.first_name }}">
							{# {{ contactForm.fields.first_name.value|raw }} #}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group {% if errors.has('last_name') %}has-error{% endif %}">
						<label class="control-label">{{ trans('anomaly.module.users::field.last_name.name')|raw }} <span class="required">*</span></label>
						<div>
							<input class="form-control" type="text" name="last_name" value="{{ user.last_name }}">
							{# {{ contactForm.fields.last_name.input|raw }} #}
						</div>
					</div>
				</div>
			</div>

			<div class="form-group {% if errors.has('company_name') %}has-error{% endif %}">
				<label class="control-label">{{ trans('skrollx.module.dealers::field.company_name.name')|raw }} <span class="required">*</span></label>
				<div>
					{{ contactForm.fields.company_name.input|raw }}
				</div>
			</div>

			{% for field in ['passport', 'power_of_attorny', 'trade_license', 'other_docs'] %}
				{% include 'skrollx.module.dealers::dealer._upoad-field-type' %}
			{% endfor %}

			<div class="form-group {% if errors.has('email') %}has-error{% endif %}">
				<label class="control-label">{{ trans('module::field.email.name')|raw }} <span class="required">*</span></label>
				<div>
					<input class="form-control" type="email" name="email" value="{{ user.email }}">
				</div>
			</div>

			{{ contactForm.fields.traffic_file_code|raw }}

			<div class="form-group {% if errors.has('timezone') %}has-error{% endif %}">
				<label class="control-label">{{ trans('module::field.timezone.name')|raw }} <span class="required">*</span></label>
				<div class="select-appearance">
					{{ contactForm.fields.timezone.input|raw }}
				</div>
			</div>

			{{ contactForm.fields.phone_no|raw }}

			{{ contactForm.fields.mobile_no|raw }}

			<input type="hidden" name="user" value="{{ user.id }}">
			<div>
				<input class="btn btn-warning btn-lg" type="submit" name="submit" value="{{ trans('theme::button.submit') }}">
			</div>
		{{ contactForm.close()|raw }}
	</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$(function(){
		  $('form.contact-form').validate({
		    ignore: [],
		    rules: {
		      first_name: {
		          minlength: 3,
		          required: true
		      },
		      last_name: {
		          minlength: 3,
		          required: true
		      },
		      email: {
		          required: true,
		          email: true
		      },
		      passport: {
		          required: true,
		      },
		      power_of_attorny: {
		          required: true,
		      },
		      trade_license: {
		          required: true,
		      },
		      traffic_file_code: {
		          required: true,
		      },
		      timezone: {
		          required: true,
		      },
		      phone_no: {
		          required: true,
		      },
		      mobile_no: {
		          required: true,
		      }
		    },
		    messages: {
		      first_name: false,
		      last_name: false,
		      power_of_attorny: false,
		      trade_license: false,
		      timezone: false,
		      phone_no: {
		      	required: false
		      },
		      mobile_no: {
		      	required: false
		      },
		      email: {
		        required: false,
		      },
		      password: {
		        required: false,
		      },
		      contact_no: {
		        required: false,
		      }
		    },
		    highlight: function(element) {
		      $(element).closest('.form-group').addClass('has-error');
		    },
		    unhighlight: function(element) {
		      $(element).closest('.form-group').removeClass('has-error');
		    },
		    errorElement: 'span',
		    errorClass: 'help-block',
		    errorPlacement: function(error, element) {
		      if(element.parent('.input-group').length) {
		        error.insertAfter(element.parent());
		      } else {
		        error.insertAfter(element);
		      }
		    }
		  });
		});
	</script>
{% endblock %}