{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('module::site.invoice') }}</h2>
	{% set invoices = entries('dealers', 'invoices').where('dealer_id', auth_user().dealer().id).get() %}
	{% if invoices.count() %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ trans('module::field.date.name') }}</th>
				<th>{{ trans('module::field.due_date.name') }}</th>
				<th>{{ trans('module::field.amount.name') }}</th>
				<th>{{ trans('module::field.paid_date.name') }}</th>
				<th>{{ trans('module::field.invoice_file.name') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in invoices %}
			<tr>
				<td>{{ invoice.date.format('Y-m-d') }}</td>
				<td>{{ invoice.due_date.format('Y-m-d') }}</td>
				<td>{{ currency_format(invoice.amount.value) }}</td>
				<td>{{ invoice.paid_date ? invoice.paid_date.format('Y-m-d') : '' }}</td>
				<td><a class="btn btn-danger btn-xs" target="_blank" href="{{ invoice.invoice_file.url() }}">
					<i class="fa fa-download"></i> {{ trans('theme::button.view') }}/{{ trans('theme::button.download') }}
				</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			{{ trans('module::message.no_invoices') }}
		</div>
	{% endif %}
{% endblock %}
