{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('module::site.notification_preferences') }}</h2>
	<p>{{ trans('module::message.preferences_instructions') }}</p>
	{% set preferenceForm = form('dealer_preference_form').entry(preference).get() %}
		
	{{ preferenceForm.open({'class':'preference-form'})|raw }}

		<div class="form-group {% if errors.has('country') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.country.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				{{ preferenceForm.fields.country.input|raw }}
			</div>
		</div>

		<div class="form-group {% if errors.has('year') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.year.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
        <select name="year" class="form-control selectpicker">
          <option selected="selected" disabled="disabled">{{ trans('module::field.year.placeholder') }}</option>
          {% for year in "now"|date("Y")..1980 %}
          <option value="{{ year }}" {% if preferenceForm.fields.year.value == year %}selected{% endif %}>{{ year }}</option>
        	{% endfor %}
        </select>
      </div>
		</div>

		<div class="form-group {% if errors.has('makes') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.makes.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance">
				<select name="makes[]" class="form-control selectpicker" multiple title="{{ trans('skrollx.module.cars::field.make.placeholder') }}">
          <option>{{ trans('skrollx.module.cars::field.make.placeholder') }}</option>
          {% for id,title in preferenceForm.fields.makes.options %}
          <option value="{{ id }}" {% if id in preferenceForm.fields.makes.value.pluck('id').toArray() %}selected{% endif %}>{{ title }}</option>
        	{% endfor %}
        </select>
      </div>
		</div>

		<div class="form-group {% if errors.has('mileage') %}has-error{% endif %}">
			<label class="control-label">{{ trans('skrollx.module.dealers::field.mileage.name')|raw }} <span class="required">*</span></label>
			<div class="select-appearance"> 
				{{ preferenceForm.fields.mileage.input|raw }}
      </div>
		</div>

		<h3>{{ trans('module::site.language_preferences') }}</h3>

		<div class="form-group {% if errors.has('lang') %}has-error{% endif %}">
			<div class="select-appearance"> 
				{{ preferenceForm.fields.lang.input|raw }}
      </div>
		</div>
		
		<input type="hidden" name="user" value="{{ auth_user().id }}">
		<div>
			<input class="btn btn-warning btn-lg" type="submit" name="submit" value="{{ trans('theme::button.submit') }}">
		</div>

	{{ preferenceForm.close()|raw }}

{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(function(){
	  $('form.preference-form').validate({
	    ignore: [],
	    rules: {
	      country: {
	          required: true
	      },
	      year: {
	          required: true
	      },
	      'makes[]': {
	          required: true,
	      },
	      mileage: {
	          required: true,
	      }
	    },
	    messages: {
	       country: false,
	       year: false,
	      'makes[]': false,
	       mileage: false,
	    },
	    highlight: function(element) {
	      $(element).closest('.form-group').addClass('has-error');
	    },
	    unhighlight: function(element) {
	      $(element).closest('.form-group').removeClass('has-error');
	    },
	    errorElement: 'span',
	    errorClass: 'help-block',
	    errorPlacement: function(error, element) {
	      if(element.parent('.input-group').length) {
	        error.insertAfter(element.parent());
	      } else {
	        error.insertAfter(element);
	      }
	    }
	  });
	});
</script>
{% endblock %}
