{% extends layout('dashboard') %}

{% block content %}
	<h2 class="page-title">{{ trans('module::field.saved_cars.name') }}</h2>
	{% set saved_cars = auth_user().dealer().savedCars().get() %}
	{% if saved_cars.count() %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>{{ trans('module::field.car.name') }}</th>
				<th>{{ trans('skrollx.module.cars::field.status.name') }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for saved in saved_cars %}
			<tr>
				<td><a href="{{ url('car/'~saved.slug) }}">{{ saved.title }}</a></td>
				<td>{{ trans('skrollx.module.cars::field.status.options.'~saved.status) }}</td>
				<td>
					<a class="confirm" href="{{ url('dealer/remove-car/'~saved.id) }}"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-info">
			{{ trans('module::message.no_saved_cars') }}
		</div>
	{% endif %}
{% endblock %}
