

@media(max-width: 1600px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.slider-form-wrap form .bootstrap-select .btn.btn-default {
	    padding: 6px 15px 6px 55px;
	}

	.steps-details{
		padding-right: 20px;
	}

	.step-ribbon{
		right: -15px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

}

@media(min-width: 992px) and (max-width: 1279px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	#menu-right ul li.dropdown .site-btn{
		padding-left: 23px;
    	padding-right: 10px;
	}

	.site-navigation ul li.switch-lang{
		padding: 0 9px;
	}

	.step-ribbon {
	    right: -13px;
	}

	.steps-details {
	    padding-right: 0;
	    text-align: center;
	}

	.whyMeBuyCar-block h4 {
	    margin: 0 15px 0 0;
	    padding-right: 20px;
	}

	.contact-container{
		padding-right: 0;
	}

	.filter-cars-form-wrap .form-group:last-child{
		margin-right: 0;
		text-align: right;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

}

@media(min-width: 768px) and (max-width: 991px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.main-navigation{
		padding-left: 70px;
		padding-right: 10px;
	}

	.navbar-toggle{
		right: auto;
		left: 0;
	}

	.slider-wrap {
	    float: none;
	}

	.step-ribbon {
	    right: -10px;
	}

	.steps-details {
	    padding-right: 0;
	    text-align: center;
	}

	.footer-block-wrap [class^="col-"]:nth-of-type(2) .footer-block, 
	.footer-block-wrap [class^="col-"]:last-child .footer-block{
		padding-right: 20px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

	/* ________________________________________ Appointment Page Start _____________________________________ */

	.radio-list-group .radio{
		margin-left: 13px;
	}

	.valuation-box span.site-icon{
		right: 30px;
	}

	/* _________________________________________ Appointment Page End ______________________________________ */

	/* ________________________________________ Car Listing Page Start _____________________________________ */

	.filter-cars-form-wrap .form-group:nth-of-type(4n){
		margin-right: 0;
	}

	.car-listing-detail-wrap .ultimatum {
	    text-align: right;
	}

	.carousel-control{
		bottom: 15px;
	}

	.carousel-control.left{
		right: 15px;
	}

	.carousel-control.right{
		left: 15px;
	}

	.car-view-slider{
		float: none;
	}

	.car-view-details{
		padding-right: 0;
	}

	/* _________________________________________ Car Listing Page End ______________________________________ */

}

@media(max-width: 767px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.site-logo,.navbar-brand,#menu-right,.slider-wrap,.video-section [class^="col-"]:first-child,
	.appoinment-form-wrap form .col-sm-6:first-child,.user-prof-container #primary,
	.sort-by-wrap .site-pagination,.car-listing-block .thumbnail-img,.car-listing-block .car-details h1 span,
	.choose-option-list ul li,.car-view-slider{
		float: none;
	}

	.navbar-toggle{
		right: auto;
		left: 0;
		margin-left: 10px;
	}

	.site-navigation ul li.switch-lang{
		margin: 0;
		padding: 0 0 0 9px;
	}

	.how-it-works-section .page-desc,.steps-details,.footer-block-wrap [class^="col-"]:nth-of-type(2) .footer-block, 
	.footer-block-wrap [class^="col-"]:last-child .footer-block,.appoinment-form-wrap > ul > li,
	.user-prof-container #primary,.car-listing-block .car-details,.car-view-details{
		padding-right: 0;
	}

	.steps-details{
		text-align: center;
	}

	.step-ribbon{
		right: -10px;
	}

	.whyMeBuyCar-block h4 {
	    margin: 0 15px 0 0;
	    padding-right: 15px;
	}

	.footer-block #testimonial-slider p{
		padding-left: 0;
	}

	.video-frame{
	    float: none;
	    margin: 0 0 20px;
	}

	.whyMeBuyCar-block {
	    text-align: right;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

	/* __________________________________________ Contact Page Start ________________________________________ */

	.contact-container{
		padding: 0;
	}

	.contact-form-wrap [class^="col-"]:first-child .form-group{
		margin-left: 0;
	}

	/* ___________________________________________ Contact Page End _________________________________________ */

	/* ________________________________________ Appointment Page Start ______________________________________ */
	
	.radio-list-group .radio{
		margin: 0 0 10px;
	}

	.valuation-box {
	    padding-left: 15px;
	    padding-right: 60px;
	}

	.valuation-box span.site-icon{
		right: 15px;
	}

	.appoinment-form-wrap form .col-sm-6:first-child{
		padding-right: 15px;
	}

	.appoinment-form-wrap form .col-sm-6:first-child + .col-sm-6{
		padding-left: 15px;
	}

	/* ________________________________________ Appointment Page End ________________________________________ */

	/* _______________________________________ User Profile Page Start _____________________________________ */

	#menu-right ul li.dropdown .site-btn {
	    padding: 5px 15px 5px 30px;
	}

	#menu-right ul li.dropdown:last-child .dropdown-menu{
		right:auto;
		left:0; 
	}

	/* ________________________________________ User Profile Page End ______________________________________ */

	/* _______________________________________ Car listing Page Start ______________________________________ */

	.filter-cars-form-wrap .form-group,.nav-tabs > li:first-child{
		margin-right: 0;
	}

	.filter-cars-form-wrap .form-group:last-child,.site-pagination .pagination{
		text-align: inherit;
	}

	.sort-by-wrap .form-group:first-child{
		margin-left: 0;
	}

	.car-listing-detail-wrap .ultimatum{
		text-align: right;
	}

	.carousel-control{
		bottom: -55px;
	}

	.carousel-control.left{
		right: 50%;
		margin-left: 0;
		margin-right: -20px;
	}

	.carousel-control.right{
		left: 50%;
		margin-right: 0;
		margin-left: -20px;
	}

	.nav-tabs > li > a, .nav-tabs > li:first-child > a{
		padding: 8px 15px;
	}

	.nav-tabs > li > a,.nav-tabs > li > a > span{
		transform: inherit;
	}

	.information-list ul li span{
		padding: 0 0 0 20px;
	}

	/* ________________________________________ Car Listing Page End _______________________________________ */

}

@media(max-width: 414px){

	/* _______________________________________ Car Listing Page Start ______________________________________ */

	.information-list ul li span{
		padding: 0;
	}

	/* ________________________________________ Car Listing Page End _______________________________________ */

}