/*------------------------------------------------------------------------------------------------------

Theme Name: MeBuyCar.com
Theme URI: localhost/skrollx/mebuycar
Description: Lorem ipsum dolor sit amet 

------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------

CSS Document
Edited By: Sharad Sharma

------------------------------------------------------------------------------------------------------*/


/* ========================================= Home Page Start ======================================== */

.main-navigation,#menu-left,.slider-wrap,.car-listing-block .thumbnail-img,
.choose-option-list ul li,.car-view-slider{
    float: right;
}

#menu-right,.video-section [class^="col-"]:first-child,.sort-by-wrap .site-pagination,
.car-listing-block .car-details h1 span{
    float: left;
}

/* .site-navigation ul li {
    border-right: none;
    border-left: 1px solid #7e7d7f;
} */

.site-logo {
    padding: 30.5px 27px;
}

.site-logo img{
    height: 40px;
    margin: 0 auto;
    max-width: 100%;
}

.navbar-brand{
    float:none;
}

.site-navigation ul li.switch-lang a i{
    padding: 0 6px 0 0;
}

.site-navigation ul li .btn-group .site-btn:last-child {
    border-left: 2px solid #fff;
    border-right: 0;
}

#menu-right ul li.dropdown .site-btn{
    text-align: right;
    padding: 9px 18px 9px 40px;
}

#menu-right ul li.dropdown .site-btn i{
    right: auto;
    left: 0;
    border-left: none;
    border-right: 2px solid #fff;
}

#menu-right ul li.dropdown .site-btn:hover i, #menu-right ul li.dropdown.open .site-btn i{
    border-right-color: #bf3417;
}

.slider-form-wrap,.car-listing-detail-wrap .ultimatum {
    right: auto;
    left: 0;
}

.slider-form-wrap form .bootstrap-select .btn.btn-default {
    padding:6px 15px 6px 66px;
}

.bootstrap-select .btn.btn-default .filter-option,.site-info p,
.how-it-works-section .page-title,.contact-address .page-title,
.appoinment-form-wrap >  ul > li,.user-prof-container .page-title,
.car-listing-content .page-title{
    text-align: right;
}

.bootstrap-select.btn-group .dropdown-toggle .caret,.car-view-details form .site-btn{
    right: auto;
    left: 0;
}

.slider-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret{
    border-left:none;
    border-right: 1px solid #c2c4c7;
}

.bx-wrapper .bx-viewport, .call-us h4 span,.site-info p,.car-listing-detail-wrap .ultimatum {
    direction: ltr;
}

.slider-caption{
    direction: rtl;
}

.how-it-works-section .page-desc {
    padding-left:0;
    padding-right: 144px;
    text-align: right;
}

.steps-details{
    padding-left: 0;
    padding-right: 52px;
    text-align: right;
}

.step-ribbon{
    left: auto;
    right: -17px;
}

.steps-block::before,form input[type=radio]:checked+span::before, form input[type=radio]:not(:checked)+span::before,
form input[type=checkbox]:checked+span::before, form input[type=checkbox]:not(:checked)+span::before,
.sort-by-wrap .site-addon{
    left: auto;
    right: 0;
}

.whyMeBuyCar-block h4 {
    padding-left: 0;
    padding-right: 25px;
    margin: 0 21px 0 0;
    border-right: 1px solid #d0d1d1;
    border-left: none;
    text-align: right;
}

.whyMeBuyCar-block .whyMeBuyCar-icon {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.footer-block-wrap [class^="col-"]:nth-of-type(2) .footer-block, 
.footer-block-wrap [class^="col-"]:last-child .footer-block {
    padding-left: 0;
    padding-right: 100px;
}

.footer-block #testimonial-slider p {
    padding-right: 0;
    padding-left: 42px;
}

.footer-address p span {
    direction: ltr;
    display: inline-block;
}

.video-frame{
    float: left;
    margin-left: 0;
    margin-right: 20px;
}

/* ========================================== Home Page End ========================================= */

/* ======================================= Contact Page Start ======================================= */

.contact-container{
    padding: 0  105px 92px 0;
}

.contact-address ul li span {
    float: right;
    padding-left: 5px;
}

.contact-form-wrap [class^='col-']:first-child .form-group {
    margin-right: 0;
    margin-left: 11px;
}

.contact-form-wrap [class^='col-']:first-child .form-group:last-child {
    margin-left: 0;
}

/* ======================================= Contact Page End ======================================= */

/* ====================================== Appointment Page Start ================================== */

.appoinment-form-wrap >  ul > li{
    padding-left: 0;
    padding-right: 50px;
}

.appoinment-form-wrap > ul > li > a > span{
    margin-right: 0;
    margin-left: 15px;
}

.valuation-box span.site-icon{
    left: auto;
    right:47px;
}

.appoinment-form-wrap form .col-sm-6:first-child{
    float: left;
    padding-left: 15px;
    padding-right: 8px;
}

.appoinment-form-wrap form .col-sm-6:first-child + .col-sm-6 {
    padding-right: 15px;
    padding-left: 8px;
}

.bootstrap-datetimepicker-widget{
    direction: ltr;
}

.radio label, .checkbox label{
    padding: 0;
}

.radio-list-group .radio{
    margin-right: 0;
    margin-left: 20px;
}

form input[type=radio]:checked+span, form input[type=radio]:not(:checked)+span, 
form input[type=checkbox]:checked+span, form input[type=checkbox]:not(:checked)+span {
    padding-left: 0;
    padding-right: 24px;
}

form input[type=radio]:checked+span::after, form input[type=radio]:not(:checked)+span::after{
    left: auto;
    right: 5px;
}

form input[type=checkbox]:checked+span::after, form input[type=checkbox]:not(:checked)+span::after{
    left: auto;
    right: 2px;
}

/* ====================================== Appointment Page End ==================================== */

/* ===================================== User Profile Page Start ================================== */

.user-prof-container #primary {
    float: left;
    padding-left: 0;
    padding-right: 40px;
}

/* ====================================== User Profile Page End =================================== */

/* ====================================== Car Listing Page Start ================================== */

.filter-cars-form-wrap .form-group{
    margin-left: 0px;
    margin-right: 9px;
}

.filter-cars-form-wrap .form-group:first-child{
    margin-right: 0;
}

.filter-cars-form-wrap .form-group:last-child,.site-pagination .pagination{
    text-align: left;
}

.sort-by-wrap .form-group:first-child{
    margin-left: 28px;
    margin-right: 0;
}

.sort-by-wrap .form-group .bootstrap-select .btn.btn-default {
    padding-left: 15px;
    padding-right: 87px;
}

.sort-by-wrap .form-group:first-child .bootstrap-select .btn.btn-default {
    padding-left: 15px;
    padding-right: 75px;
}

.car-listing-block .car-details{
    padding-left: 0;
    padding-right: 40px;
}

.carousel-indicators {
    margin-right: 0;
}

#carModalGallerySlider .carousel-indicators {
    position: static;
    margin: 13px 0 0;
}

.carousel-control {
    bottom: 26px;
}

.carousel-control.left{
    left: auto;
    right: 39px;
    background-position: -14px 0;
}

.carousel-control.left:hover{
    background-position: -14px -38px;
}

.carousel-control.right{
    right: auto;
    left: 39px;
    background-position: 0 0; 
}

.carousel-control.right:hover{
    background-position: 0 -38px; 
}

/* ======================================= Car Listing Page End =================================== */

/* ======================================== Car View Page Start =================================== */

.car-view-details {
    padding-left: 0;
    padding-right: 50px;
}

.car-view-details form .form-control {
    padding: 6px 15px 6px 135px;
}

.carousel-indicators li, .carousel-indicators .active{
    margin: 0 0 0 7.2px;
}

.nav-tabs>li>a{
    transform: skewX(-23deg);
    border-radius: 0;
    margin: 0;
}

.nav-tabs>li>a>span {
    transform: skewX(23deg);
}

.nav-tabs>li:first-child {
    margin-left: 0;
    margin-right: -9px;
}

.nav-tabs>li:first-child a {
    padding-left: 22px;
    padding-right: 31px;
}

.nav-tabs>li:first-child a, .nav-tabs>li:first-child a:focus{
    border-right: none;
    border-left: 1px solid #cbcaca;
}

/* ========================================= Car View Page End ==================================== */

.page-alshrot-o-alahkam ol li,.page-alshrot-o-alahkam ul li,
.page-syas-alkhsosy ul li{
    padding: 0 20px 6px 0;
}
.page-alshrot-o-alahkam ol li::before, .page-alshrot-o-alahkam ul li::before,
.page-syas-alkhsosy ul li::before{ 
    left: auto;
    right: 0;
}