{% extends layout('default') %}

{% block content %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
			<div class="appoinment-form-wrap">
				<div class="valuation-box">
					<form action="" method="POST">
						{{ csrf_field() }}
						<div class="form-inline">
							<div class="input-group">
								<label class="sr-only" for="">{{ trans('module::field.seller_price.name') }}</label>
								<div class="input-group-addon">{{ trans('module::site.mobile_no') }}</div>
								<input name="mobile_no" type="number" class="form-control" value="{{mobile}}">
							</div>	
							<button type="submit" class="btn site-btn search_btn">{{ trans('module::site.search') }}</button>
						</div>
					</form>
				</div>
				{% if informations %}
					{% for information in informations %}
						<div class="information-wrap">
						{% if information.checked_in.value == false %}
							<button type="button" class="btn pull-right"><a href="{{url('user/changestatus/checkin/'~information.id)}}">{{ trans('module::site.check_in') }}</a></button>
						{% else %}
							<button type="button" class="btn btn-warning pull-right"><a href="{{url('user/changestatus/checkout/'~information.id)}}">{{ trans('module::site.check_out') }}</a></button>
						{% endif %}						
						<h3><strong>{{ information.title }} {{ information.plate_number }}</strong></h3>
						<h3>Personal Information</h3>
						<div class="information-list">
							<ul>
								<li><span>{{ trans('module::field.first_name.name') }} :</span> {{ information.first_name }}</li>
								<li><span>{{ trans('module::field.last_name.name') }} :</span> {{ information.last_name }}</li>
								<li><span>{{ trans('module::field.email.name') }} :</span> {{ information.email }}</li>
								<li><span>{{ trans('module::field.location.name') }} :</span> {{ information.location.name }}</li>
							</ul>
						</div>
						<h3>vehicle information</h3>
						<div class="information-list">
							<ul>
								<li><span>{{ trans('module::field.title.name') }} :</span> {{ information.title }}</li>
								<li><span>{{ trans('module::field.plate_number.name') }} :</span> {{ information.plate_number }}</li>
								<li><span>{{ trans('module::field.make.name') }}</span> {{ car.make.title }}</li>
								<li><span>{{ trans('module::field.model.name') }}</span> {{ car.model.title }}</li>
								<li><span>{{ trans('module::field.body_type.name') }}</span> {{ car.body_type.value }}</li>
								<li><span>{{ trans('module::field.color.name') }}</span> {{ car.color.value }}</li>
								<li><span>{{ trans('module::field.odometer_reading.name') }}</span> {{ car.odometer_reading.value }}</li>
								<li><span>{{ trans('module::field.chassis_damage.name') }}</span> {{ car.chassis_damage.label|raw }}</li>
							</ul>
						</div>
						</div>
						<hr>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$('.search_btn').click(function(e){
			var mobile = $('input[name="mobile_no"]').val();
			if(mobile==''){
				e.preventDefault();
				$('input[name="mobile_no"]').closest('.input-group').addClass('has-error');
				return false;
			}

			return true;
		});
	</script>
{% endblock %}