{% extends layout('default') %}

{% block content %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
        {% set locations = entries('cars', 'locations').get() %}
        {% if locations.count() %}
        <div class="about-us-container no-top-margin">
          <h3 class="page-title">{{ trans('theme::site.locations') }}</h3>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					{% for location in locations %}
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading-{{ loop.index }}">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">{{ location.name|raw }}</a>
							</h4>
						</div>
						<div id="collapse-{{ loop.index }}" class="panel-collapse collapse {% if loop.index ==  1 %}in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ loop.index }}">
							<div class="panel-body">
								<p>
									{{ location.description|raw }}
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
        </div>
        {% endif %}
		</div>
	</div>
{% endblock %}