{% extends layout('default') %}

{% block content %}
{% set makes = entries('cars', 'makes').get() %}
{% set carForm = form('cars', 'cars').entry(data).fields([
	'make',
	'model',
	'year',
	'engine_size',
	'mileage',
	'email',
	'option',
	'paint',
	'specs',
]).get() %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area"></div>
			<div class="appoinment-form-wrap step-1-form-wrap">
				<ul>
			    <li class="active"><a href="javascript:void(0);"><span>1</span> {{ trans('theme::site.select_your_car') }}</a></li>
			    <li><a href="javascript:void(0);"><span>2</span> {{ trans('theme::site.book_an_appointment') }}</a></li>
				</ul>
				{{ form_open({'url': url('evaluate/step-1'),'class' : 'form-step-1'}) }}
					<h3>{{ trans('skrollx.module.cars::message.car_valuation_info') }}</h3>
					<input type="hidden" name="make" value="{{request_get('make')}}">
					<input type="hidden" name="model" value="{{request_get('model')}}">
					<input type="hidden" name="year" value="{{request_get('year')}}">
					<input type="hidden" name="paint" value="1">
					<div class="row">
						<div class="col-sm-6">
						    <div class="form-group required">
						        <div class="select-appearance">
						        	<select name="mileage" class="form-control selectpicker">
						        		<option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.mileage.placeholder') }} *</option>
							        	{% for id,mileage in carForm.fields.mileage.options %}
						            <option value="{{ id }}" {% if request_get('mileage') == mileage %}selected{% endif %}>{{ trans(mileage) }}</option>
						          	{% endfor %}
					          	</select>
						        </div>
						    </div>
						</div>
						<div class="col-sm-6">
						    <div class="form-group required">
						    	<div class="select-appearance">
						    		<select name="engine_size" class="form-control selectpicker" title="{{ trans('skrollx.module.cars::field.engine_size.placeholder') }}">
					            <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.engine_size.placeholder') }}</option>
					            {% for id,engine_size in carForm.fields.engine_size.options %}
					            <option value="{{ id }}" {% if request_get('engine_size') == engine_size %}selected{% endif %}>{{ trans(engine_size) }}</option>
					          	{% endfor %}
						        </select>
						      </div>
						    </div>
						</div>
						{# <div class="{% if carForm.fields.engine_size.options is empty %}col-sm-6{% else %}col-sm-12{% endif %}">#}
						    {#<div class="form-group required">#}
						        {#<input type="email" name="email" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.email.placeholder') }} *">#}
						    {#</div>#}
						{#</div> #}
						<div class="col-sm-12"></div>
						<div class="col-sm-6">
						    <div class="form-group radio-list-group required">
						        <label>{{ trans('skrollx.module.cars::field.option.name') }}</label>
						        {% for option in carForm.fields.option.options %}
							        {% if loop.index < 4 %}
							        <div class="radio">
							            <label>
							                <input type="radio" name="option" value="{{ loop.index }}" {% if loop.index == 1 %}checked{% endif %}><span>{{ trans(option) }}</span>
							            </label>
							        </div>
							      	{% endif %}
						      	{% endfor %}
						    </div>
						</div>
						<div class="col-sm-6">
						    <div class="form-group radio-list-group required">
						        <label>{{ trans('skrollx.module.cars::field.specs.name') }}</label>
						        {% for specs in carForm.fields.specs.options %}
						        <div class="radio">
						            <label>
						                <input type="radio" name="specs" value="{{ loop.index }}" {% if loop.index == 1 %}checked{% endif %}><span>{{ trans(specs) }}</span>
						            </label>
						        </div>
						      	{% endfor %}
						    </div>
						</div>
					</div>
					<div class="form-group required">
						<div class="checkbox">
							<label>
								<input name="terms_conditions" type="checkbox" value="1">
								{{ trans('theme::site.agree_terms_conditions', { terms_url : url('terms-and-conditions'), policy_url: url('privacy-policy') })|raw }}
							</label>
						</div>
					</div>	
					<div class="form-group">
						<input type="submit" class="btn site-btn" value="{{ trans('theme::button.continue') }}">
					</div>
				{{ form_close() }}
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(function(){
      $('form.form-step-1').validate({
	      ignore: [],
	      rules: {
	        model: "required",
	        year: "required",
	        mileage: "required",
//	        email: {
//	            required: true,
//	            email: true
//	        },
	        option: "required",
	        paint: "required",
	        specs: "required",
	        terms_conditions: "required",
	      },
	      messages: {
          make: false,
					model: false,
					year: false,
					mileage: false,
					email: false,
					option: false,
					paint: false,
					specs: false,
					terms_conditions: false
        },
	      highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	      },
	      unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	      },
	      errorElement: 'span',
	      errorClass: 'help-block',
	      errorPlacement: function(error, element) {
	        if(element.parent('.input-group').length) {
	          error.insertAfter(element.parent());
	        } else if(element.parent('label').length) {
	        } else {
	          error.insertAfter(element);
	        }
	      }
	    });
    });
	</script>
{% endblock %}