{% extends layout('default') %}

{% block content %}
{% set makes = entries('cars', 'makes').get() %}
{% set carForm = form('cars', 'cars').entry(data).fields([
	'location',
	'first_name',
	'last_name',
	'date',
	'mobile',
	'alt_contact',
]).get() %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
			<div class="appoinment-form-wrap">
				<ul>
					<li><a href="{{ url('evaluate/step-2') }}"><span>1</span> {{ trans('theme::site.select_your_car') }}</a></li>
			    <li class="active"><a href="javascript:void(0);"><span>2</span> {{ trans('theme::site.book_an_appointment') }}</a></li>
				</ul>
				<div class="valuation-box">
					<span class="site-icon"><img src="{{ asset_path('theme::img/mebuycar-icon.png') }}" alt=""></span>
					{% set show_price_class = 'display:none;' %}
					{% if evaluation.price and evaluation.status %}
						<h3>{{ trans('skrollx.module.cars::site.your_vehicle_market_price') }}: <span>{{ currency_format(evaluation.price) }}</span></h3>
						<p>{{ trans('skrollx.module.cars::site.think_valuation_is_correct') }} <a href="javascript:;" class="toggle-price-form">{{ trans('theme::button.click_here') }}</a></p>
					{% else %}
						{% if data.seller_price.value %}
							<h3>{{ trans('skrollx.module.cars::message.extra_cash_no_hassle') }}</span></h3>
							<p>{{ trans('skrollx.module.cars::message.extra_cash_no_hassle_info') }}</p>
						{% else %}
							<h3>{{ trans('skrollx.module.cars::message.could_not_evaluate_car') }}</span></h3>
							<p>{{ trans('skrollx.module.cars::message.could_not_evaluate_car_info') }}</p>
							{% set show_price_class = 'display:block;' %}
						{% endif %}
					{% endif %}

					{{ form_open({'url': url('evaluate/step-2'), 'class':'form-price', 'style':show_price_class}) }}
					<div class="form-group">
						<span class="help-block">{{ trans('module::message.suggest_car_worth') }}</span>
					</div>
					<div class="form-inline">
						<div class="input-group">
							<label class="sr-only" for="">{{ trans('module::field.seller_price.name') }}</label>
							<div class="input-group-addon">{{ currency_symbol() }}</div>
							<input name="seller_price" type="number" class="form-control">
						</div>				
						<button type="submit" class="btn site-btn">{{ trans('theme::button.submit') }}</button>
					</div>
					{{ form_close() }}
				</div>
				{{ form_open({'url': url('evaluate/step-2'), 'class':'form-step-2'}) }}
					<h3>{{ trans('skrollx.module.cars::site.book_car_inspection_now') }}</h3>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group required">
								<input type="text" name="first_name" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.first_name.placeholder') }} *">
							</div>
							<div class="form-group required">
								<input type="text" name="last_name" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.last_name.placeholder') }} *">
							</div>
							 <div class="form-group required">
								<input type="text" name="mobile" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.mobile.placeholder') }} *">
							</div>
							<div class="form-group required">
								<input type="text" name="email" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.email.placeholder') }} *" value="">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group required">
								<div class="select-appearance">
									<select name="location" class="form-control selectpicker">
				        		<option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.location.placeholder') }} *</option>
					        	{% for id,location in carForm.fields.location.options %}
				            <option value="{{ id }}" {% if request_get('location') == location %}selected{% endif %}>{{ trans(location) }}</option>
				          	{% endfor %}
			          	</select>
								</div>
							</div>
							<div class="form-group required">
							{# <input type="text" name="date" class="form-control custom-data-picker" placeholder="Date *"> #}
							<div class="select-appearance">
									<select name="date" class="form-control select_dates selectpicker">
										<option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.date.placeholder') }} *</option>
									</select>
							</div>
							</div>
							<div class="form-group required">
								{# <input type="text" name="time" class="form-control custom-time-picker" placeholder="Time *"> #}
				                <div class="select-appearance">
				                	<select name="time" class="form-control select_times selectpicker">
				                		<option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.time.placeholder') }} *</option>
				                	</select>
				                </div>
				            </div>
				            <input type="hidden" name="date_id">
						</div>
						{#<div class="col-sm-12">#}
							{#<div class="form-group required">#}
                {#<input type="text" name="alt_contact" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.alt_contact.placeholder') }} *">#}
							{#</div>#}
						{#</div>#}
					</div>	
					<div class="btn-center-wrap">
						<input type="submit" class="btn site-btn" value="{{ trans('theme::site.book_an_appointment') }}">
					</div>			
				{{ form_close() }}
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(function(){
      $('form.form-step-2').validate({
	      ignore: [],
	      rules: {
					location: "required",
					first_name: "required",
					last_name: "required",
					date: "required",
					mobile: {
						required: true,
						number: true,
						minlength:10,
						maxlength:20
					},
					email: {
						required: true,
						email: true,
					},
	      },
	      messages: {
          location: false,
					first_name: false,
					last_name: false,
					date: false,
					mobile: false,
					email: false,
        },
	      highlight: function(element) {
	        $(element).closest('.form-group').addClass('has-error');
	      },
	      unhighlight: function(element) {
	        $(element).closest('.form-group').removeClass('has-error');
	      },
	      errorElement: 'span',
	      errorClass: 'help-block',
	      errorPlacement: function(error, element) {
	        if(element.parent('.input-group').length) {
	          error.insertAfter(element.parent());
	        } else if(element.parent('label').length) {
	        } else {
	          error.insertAfter(element);
	        }
	      }
	    });

      $('form.form-price').validate({
	      ignore: [],
	      rules: {
					seller_price: {
						required: true,
						number: true,
					},
	      },
	      messages: {
          seller_price: false
        },
	      highlight: function(element) {
	        $(element).closest('.input-group').addClass('has-error');
	      },
	      unhighlight: function(element) {
	        $(element).closest('.input-group').removeClass('has-error');
	      },
	      errorElement: 'span',
	      errorClass: 'help-text',
	      errorPlacement: function(error, element) {
	        if(element.parent('.input-group').length) {
	          error.insertAfter(element.parent());
	        } else if(element.parent('label').length) {
	        } else {
	          error.insertAfter(element);
	        }
	      }
	    });

	    $('a.toggle-price-form').on('click', function(e){
	    	e.preventDefault();
	    	$('form.form-price').slideToggle();
	    });

	    $('select[name="time"]').on('change',function(){
	    	var time_id = $('select[name="time"] option:selected').data('id');
	    	$('input[name="date_id"]').val(time_id);
	    });

	    function getTimes()
	    {
	    	var location = $('select[name="location"] option:selected').val();
	    	var date = $('select[name="date"] option:selected').val();
	    	$.ajax({
	    		url: '/ajax/getTimes',
	    		type: 'POST',
	    		dataType: 'JSON',
	    		data: {date:date,location:location},
	    		success: function(data){
	    			var options = [];
	    			var option = '<option disabled="disabled">{{ trans("skrollx.module.cars::field.time.placeholder") }} *</option>';
	    				options.push(option);

	    			for (var i = 0; i < data.length; i++) {
	    				var option = '<option value="'+data[i].time+'" data-id="'+data[i].id+'">'+tConv24(data[i].time)+'</option>';
	    				options.push(option);
	    			}

	    			$('.select_times.selectpicker').html(options);
	    			$('.select_times.selectpicker').selectpicker('refresh');
	    			$('input[name="date_id"]').val(data[0].id);
	    		}
	    	});
	    }

	    function tConv24(time24) {
	      var ts = time24;
	      var H = +ts.substr(0, 2);
	      var h = (H % 12) || 12;
	      h = (h < 10)?("0"+h):h;  // leading 0 at the left for 1 digit hours
	      var ampm = H < 12 ? " AM" : " PM";
	      ts = h + ts.substr(2, 3) + ampm;
	      return ts;
	    };

	    function getDates()
	    {
	    	var location = $('select[name="location"] option:selected').val();
	    	$.ajax({
	    		url: '/ajax/location-dates',
	    		type: 'POST',
	    		dataType: 'JSON',
	    		data: {location:location},
	    		success: function(data){
	    			var weekday = new Array(7);
	    			weekday[0] =  "Sun";
	    			weekday[1] = "Mon";
	    			weekday[2] = "Tues";
	    			weekday[3] = "Wed";
	    			weekday[4] = "Thur";
	    			weekday[5] = "Fri";
	    			weekday[6] = "Sat";

	    			var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
	    			  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
	    			];

	    			var options = [];
	    			var option = '<option selected="selected" disabled="disabled">{{ trans("skrollx.module.cars::field.date.placeholder") }} *</option>';
	    				options.push(option);

	    			for (var i = 0; i < data.length; i++) {

	    				var dayname = data[i].dayname;
	    				var month = data[i].monthname;
	    				var day = data[i].day;
	    				var year = data[i].year;
	    					var disabled = '';	
	    				if(data[i].holiday == true){
	    					var disabled = 'disabled';	
	    				}

	    				var option = '<option value="'+data[i].date+'" '+disabled+'>'+dayname+', '+month+' '+day+' '+year+'</option>';
	    				options.push(option);
	    			}

	    			$('.select_dates.selectpicker').html(options);
	    			$('.select_dates.selectpicker').selectpicker('refresh');
	    		}
	    	});
	    }

	    $('select[name="date"]').on('change',function(){
	    	getTimes();
	    });

	    $('select[name="location"]').on('change',function(){
	    	getDates();
	    });
    });
	</script>
{% endblock %}