{% extends layout('default') %}

{% block content %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
			<div class="appoinment-form-wrap">
				<div class="alert alert-success">
					{{ trans('module::message.evaluation_complete',data) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(function(){
			skrollx.requiredValidation('form.form-step-2', '.form-group.required');
		});
	</script>
{% endblock %}