{% extends layout('default') %}

{% block content %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
			<div class="appoinment-form-wrap">
				<div class="valuation-box">
					<form action="" method="POST">
						{{ csrf_field() }}
						<div class="form-inline">
							<div class="input-group">
								<label class="sr-only" for="">{{ trans('module::field.seller_price.name') }}</label>
								<div class="input-group-addon">{{ trans('module::site.mobile_no') }}</div>
								<input name="mobile_no" type="number" class="form-control" value="{{mobile}}">
							</div>	
							<button type="submit" class="btn site-btn search_btn">{{ trans('module::site.search') }}</button>
						</div>
					</form>
				</div>
				{% if vehicles %}
					{% for vehicle in vehicles %}
						<div class="information-wrap">
						<button type="button" class="btn pull-right"><a href="{{url('user/view-report/'~vehicle.id)}}">{{ trans('module::site.view_report') }}</a></button>				
						<h3><strong>{{ vehicle.title }} {{ vehicle.plate_number }}</strong></h3>
						<h3>vehicle information</h3>
						<div class="information-list">
							<ul>
								<li><span>{{ trans('module::field.title.name') }} :</span> {{ vehicle.title }}</li>
								<li><span>{{ trans('module::field.plate_number.name') }} :</span> {{ vehicle.plate_number }}</li>
								<li><span>{{ trans('module::field.make.name') }}</span> {{ vehicle.make.title }}</li>
								<li><span>{{ trans('module::field.model.name') }}</span> {{ vehicle.model.title }}</li>
							</ul>
						</div>
						</div>
						<hr>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
		$('.search_btn').click(function(e){
			var mobile = $('input[name="mobile_no"]').val();
			if(mobile==''){
				e.preventDefault();
				$('input[name="mobile_no"]').closest('.input-group').addClass('has-error');
				return false;
			}

			return true;
		});
	</script>
{% endblock %}