{% extends layout('default') %}

{% block content %}
	<div class="bk-appoinment-container">
		<div id="primary" class="content-area">
			<div class="appoinment-form-wrap">
				<a class="btn site-btn pull-right" href="{{url('user/check-report?m='~car.mobile)}}">{{ trans('module::site.back') }}</a>
				<h3><strong>{{ car.title }} {{ car.plate_number }}</strong></h3>

				<div class="vech-info-tab">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab"><span>{{ trans('module::site.vehicle_information') }}</span></a></li>
						{% for key, tab in tabs %}
							<li role="presentation"><a href="#{{tab['id']}}" aria-controls="info" role="tab" data-toggle="tab"><span>{{ key }}</span></a></li>
						{% endfor %}
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="info">
							<div class="information-list">
								<ul>
								    <li><span>{{ trans('module::field.make.name') }}</span> {{ car.make.title }}</li>
								    <li><span>{{ trans('module::field.model.name') }}</span> {{ car.model.title }}</li>
								    <li><span>{{ trans('module::field.transmission.name') }}</span> {{ car.transmission.value }}</li>
								    <li><span>{{ trans('module::field.year.name') }}</span> {{ car.year }}</li>
								    <li><span>{{ trans('module::field.specs.name') }}</span> {{ car.specs.value }}</li>
								    <li><span>{{ trans('module::field.cylinders.name') }}</span> {{ car.cylinders.value }}</li>
								    <li><span>{{ trans('module::field.odometer_reading.name') }}</span> {{ car.odometer_reading.value }}</li>
								    <li><span>{{ trans('module::field.paint.name') }}</span> {{ car.paint.value }}</li>
								    <li><span>{{ trans('module::field.accident_history.name') }}</span> {{ car.accident_history.label|raw }}</li>
								    {% if car.history_report.count() %}
								    <li><span>{{ trans('module::field.history_report.name') }}</span> 
								    	{% for report in car.history_report.getValue() %}
								    		{{ trans('module::field.history_report.options.'~report) }}{% if not loop.last %}, {% endif %}
								    	{% endfor %}
								    </li>
								  	{% endif %}
								    <li><span>{{ trans('module::field.service_history.name') }}</span> {{ car.service_history.value }}</li>
								    <li><span>{{ trans('module::field.body_type.name') }}</span> {{ car.body_type.value }}</li>
								    <li><span>{{ trans('module::field.drive.name') }}</span> {{ car.drive.value }}</li>
								    <li><span>{{ trans('module::field.color.name') }}</span> {{ car.color.value }}</li>
								    <li><span>{{ trans('module::field.fuel_type.name') }}</span> {{ car.fuel_type.value }}</li>
								    <li><span>{{ trans('module::field.engine_size.name') }}</span> {{ car.engine_size.value }}</li>
								    <li><span>{{ trans('module::field.chassis_damage.name') }}</span> {{ car.chassis_damage.label|raw }}</li>
								    <li><span>{{ trans('module::field.chassis_repaired.name') }}</span> {{ car.chassis_repaired.label|raw }}</li>
								    <li><span>{{ trans('module::field.registered_in.name') }}</span> {{ car.registered_in.getValue() }}</li>
								    <li><span>{{ trans('module::field.bank_loan.name') }}</span> {{ car.bank_loan.label|raw }}</li>
								    <li><span>{{ trans('module::field.navigation_system.name') }}</span> {{ car.navigation_system.label|raw }}</li>
								    <li><span>{{ trans('module::field.no_keys.name') }}</span> {{ car.no_keys.value }}</li>
								    <li><span>{{ trans('module::field.roof.name') }}</span> {{ car.roof.value }}</li>
								    <li><span>{{ trans('module::field.rim_type.name') }}</span> {{ car.rim_type.value }}</li>
								    <li><span>{{ trans('module::field.rim_condition.name') }}</span> {{ car.rim_condition.value }}</li>
								    <li><span>{{ trans('module::field.seat_color.name') }}</span> {{ car.seat_color.value }}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="VehicleDetail">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.plate_number.name') }}</span> {% if VehicleDetail.plate_number != '' %} {{ VehicleDetail.plate_number }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.model_type.name') }}</span> {% if VehicleDetail.model_type != '' %} {{ VehicleDetail.model_type }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.engine.name') }}</span> {% if VehicleDetail.engine != '' %} {{ VehicleDetail.engine.title }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.body.name') }}</span> {% if VehicleDetail.body != '' %} {{ VehicleDetail.body }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="VehicleSpec">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.power_options.name') }}</span> {{ VehicleSpec.power_options.label|raw }}</li>
									<li><span>{{ trans('module::field.keys.name') }}</span> {% if VehicleSpec.keys != '' %} {{ trans('module::field.keys.options.'~VehicleSpec.keys) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.iterior.name') }}</span> {% if VehicleSpec.sun_para_roof != '' %} {{ trans('module::field.iterior.options.'~VehicleSpec.sun_para_roof) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.sun_para_roof.name') }}</span> {{ VehicleSpec.sun_para_roof.label|raw }}</li>
									<li><span>{{ trans('module::field.wheel.name') }}</span> {% if VehicleSpec.wheel != '' %} {{ trans('module::field.wheel.options.'~VehicleSpec.wheel) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.fog_lamp.name') }}</span> {{ Vehicle.fog_lamp.label|raw }}</li>
									<li><span>{{ trans('module::field.zenon_lights.name') }}</span> {{ Vehicle.zenon_lights.label|raw }}</li>
									<li><span>{{ trans('module::field.cruise_control.name') }}</span> {{ Vehicle.cruise_control.label|raw }}</li>
									<li><span>{{ trans('module::field.blue_tooth.name') }}</span> {{ Vehicle.blue_tooth.label|raw }}</li>
									<li><span>{{ trans('module::field.differential_lock.name') }}</span> {{ Vehicle.differential_lock.label|raw }}</li>
									<li><span>{{ trans('module::field.cd_dvd_player.name') }}</span> {{ Vehicle.cd_dvd_player.label|raw }}</li>
									<li><span>{{ trans('module::field.rear_camera.name') }}</span> {{ Vehicle.rear_camera.label|raw }}</li>
									<li><span>{{ trans('module::field.air_bag.name') }}</span> {{ Vehicle.air_bag.label|raw }}</li>
									<li><span>{{ trans('module::field.parking_sensor.name') }}</span> {{ Vehicle.parking_sensor.label|raw }}</li>
									<li><span>{{ trans('module::field.differential_lock.name') }}</span> {{ Vehicle.differential_lock.label|raw }}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="VehicleGeneral">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.car_registered_in.name') }}</span>{% if VehicleGeneral.car_registered_in != '' %} {{ trans('module::field.car_registered_in.options.'~VehicleGeneral.car_registered_in) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.dealers_warranty.name') }}</span> {{ VehicleGeneral.dealers_warranty.label|raw }}</li>
									<li><span>{{ trans('module::field.dealers_extended_warranty.name') }}</span> {{ VehicleGeneral.dealers_extended_warranty.label|raw }}</li>
									<li><span>{{ trans('module::field.warranty_service_booklet.name') }}</span> {{ VehicleGeneral.warranty_service_booklet.label|raw }}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="VehicleBodyReport">
							<div class="information-list">
								<ul>
									<li><span> {{ trans('module::field.vehicle_history.name') }}</span> {% if VehicleBodyReport.vehicle_history != '' %}{{ trans('module::field.vehicle_history.options.'~VehicleBodyReport.vehicle_history) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.accident_reported.name') }}</span> {{ VehicleBodyReport.accident_reported.label|raw }}</li>
									<li><span> {{ trans('module::field.front_bumper.name') }}</span> {% if VehicleBodyReport.front_bumper != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_bumper) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.front_bonnete.name') }}</span> {% if VehicleBodyReport.front_bonnete != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_bonnete) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.front_left_fender.name') }}</span> {% if VehicleBodyReport.front_left_fender != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_left_fender) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.front_left_door.name') }}</span> {% if VehicleBodyReport.front_left_door != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_left_door) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_bumper.name') }}</span> {% if VehicleBodyReport.rear_bumper != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_bumper) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_left_door.name') }}</span> {% if VehicleBodyReport.rear_left_door != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_left_door) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_left_fender.name') }}</span> {% if VehicleBodyReport.rear_left_fender != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_left_fender) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.front_right_fender.name') }}</span> {% if VehicleBodyReport.front_right_fender != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_right_fender) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.front_right_door.name') }}</span> {% if VehicleBodyReport.front_right_door != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.front_right_door) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_right_door.name') }}</span> {% if VehicleBodyReport.rear_right_door != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_right_door) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_right_fender.name') }}</span> {% if VehicleBodyReport.rear_right_fender != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_right_fender) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.rear_trunk.name') }}</span> {% if VehicleBodyReport.rear_trunk != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.rear_trunk) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.running_board_right.name') }}</span> {% if VehicleBodyReport.running_board_right != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.running_board_right) }} {% else %} - {% endif %}</li>
									<li><span> {{ trans('module::field.running_board_left.name') }}</span> {% if VehicleBodyReport.running_board_left != '' %}{{ trans('module::field.front_bumper.options.'~VehicleBodyReport.running_board_left) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="EngineCondition">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.head_gasket_leak.name') }}</span> {{ EngineCondition.head_gasket_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.oil_sump_leak.name') }}</span> {{ EngineCondition.oil_sump_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.value_cover_oil_leak.name') }}</span> {{ EngineCondition.value_cover_oil_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.coolant_leak.name') }}</span> {{ EngineCondition.coolant_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.warning_light_on.name') }}</span> {{ EngineCondition.warning_light_on.label|raw }}</li>
									<li><span>{{ trans('module::field.power_steering_oil_leak.name') }}</span> {{ EngineCondition.power_steering_oil_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_misfiring.name') }}</span> {{ EngineCondition.engine_misfiring.label|raw }}</li>
									<li><span>{{ trans('module::field.need_sparkplug_replace.name') }}</span> {{ EngineCondition.need_sparkplug_replace.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_lack_powers.name') }}</span> {{ EngineCondition.engine_lack_powers.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_overheating.name') }}</span> {{ EngineCondition.engine_overheating.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_vibration_in_acc.name') }}</span> {{ EngineCondition.engine_vibration_in_acc.label|raw }}</li>
									<li><span>{{ trans('module::field.battery_weak.name') }}</span> {% if EngineCondition.battery_weak != '' %} {{ trans('module::field.battery_weak.options.'~EngineCondition.battery_weak) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.engine_mounting.name') }}</span> {% if EngineCondition.engine_mounting != '' %} {{ trans('module::field.engine_mounting.options.'~EngineCondition.engine_mounting) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.battery_dead.name') }}</span> {{ EngineCondition.battery_dead.label|raw }}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="EngineNoise">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.engine_valve_noise.name') }}</span> {{ EngineNoise.engine_valve_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.tappet_noise.name') }}</span> {{ EngineNoise.tappet_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.timebelt_noise.name') }}</span> {{ EngineNoise.timebelt_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.pulley_noise.name') }}</span> {{ EngineNoise.pulley_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_bearing_noise.name') }}</span> {{ EngineNoise.engine_bearing_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.exhaust_manifold_noise.name') }}</span> {{ EngineNoise.exhaust_manifold_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.engine_noise.name') }}</span> {{ EngineNoise.engine_noise.label|raw }}</li>
									<li><span>{{ trans('module::field.drive_belt_noise.name') }}</span> {% if EngineNoise.drive_belt_noise != '' %}{{ trans('module::field.drive_belt_noise.options.'~EngineNoise.drive_belt_noise) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.silencer_condition.name') }}</span> {% if EngineNoise.silencer_condition != '' %}{{ trans('module::field.silencer_condition.options.'~EngineNoise.silencer_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.silencer_smoke_condition.name') }}</span> {% if EngineNoise.silencer_smoke_condition != '' %}{{ trans('module::field.silencer_smoke_condition.options.'~EngineNoise.silencer_smoke_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.engine_turbo_condition.name') }}</span> {% if EngineNoise.engine_turbo_condition != '' %}{{ trans('module::field.engine_turbo_condition.options.'~EngineNoise.engine_turbo_condition) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="GearboxCondition">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.delay_in_shift.name') }}</span> {{ GearboxCondition.delay_in_shift.label|raw }}</li>
									<li><span>{{ trans('module::field.transmission_whining_sound.name') }}</span> {{ GearboxCondition.transmission_whining_sound.label|raw }}</li>
									<li><span>{{ trans('module::field.shift_shock.name') }}</span> {{ GearboxCondition.shift_shock.label|raw }}</li>
									<li><span>{{ trans('module::field.gear_slipping.name') }}</span> {{ GearboxCondition.gear_slipping.label|raw }}</li>
									<li><span>{{ trans('module::field.noise_differential_gear.name') }}</span> {{ GearboxCondition.noise_differential_gear.label|raw }}</li>
									<li><span>{{ trans('module::field.transmission_oil_leak.name') }}</span> {{ GearboxCondition.transmission_oil_leak.label|raw }}</li>
									<li><span>{{ trans('module::field.hard_clutch.name') }}</span> {% if GearboxCondition.hard_clutch != '' %}{{ trans('module::field.hard_clutch.options.'~GearboxCondition.hard_clutch) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.gear_shifting.name') }}</span> {% if GearboxCondition.gear_shifting != '' %}{{ trans('module::field.gear_shifting.options.'~GearboxCondition.gear_shifting) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.transmission_mounting.name') }}</span> {% if GearboxCondition.transmission_mounting != '' %}{{ trans('module::field.fluids_otions_1.options.'~GearboxCondition.transmission_mounting) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="AcCondition">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.air_condition_working.name') }}</span> {% if AcCondition.air_condition_working != '' %}{{ trans('module::field.air_condition_working.options.'~AcCondition.air_condition_working) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.ac_compresor.name') }}</span> {% if AcCondition.ac_compresor != '' %}{{ trans('module::field.ac_compresor.options.'~AcCondition.ac_compresor) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.heating_system.name') }}</span> {% if AcCondition.heating_system != '' %}{{ trans('module::field.heating_system.options.'~AcCondition.heating_system) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="AccessoryPart">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.right_mirror_camera.name') }}</span> {% if AccessoryPart.right_mirror_camera != '' %}{{ trans('module::field.fluids_otions_1.options.'~AccessoryPart.right_mirror_camera) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.left_mirror_camera.name') }}</span> {% if AccessoryPart.left_mirror_camera != '' %}{{ trans('module::field.fluids_otions_1.options.'~AccessoryPart.left_mirror_camera) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.front_parking_sensor.name') }}</span> {% if AccessoryPart.front_parking_sensor != '' %}{{ trans('module::field.fluids_otions_1.options.'~AccessoryPart.front_parking_sensor) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_parking_sensor.name') }}</span> {% if AccessoryPart.rear_parking_sensor != '' %}{{ trans('module::field.fluids_otions_1.options.'~AccessoryPart.rear_parking_sensor) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.sun_para_roof_condition.name') }}</span> {% if AccessoryPart.sun_para_roof_condition != '' %}{{ trans('module::field.light_options.options.'~AccessoryPart.sun_para_roof_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.right_side_mirror.name') }}</span> {% if AccessoryPart.right_side_mirror != '' %}{{ trans('module::field.light_options.options.'~AccessoryPart.right_side_mirror) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.left_side_mirror.name') }}</span> {% if AccessoryPart.left_side_mirror != '' %}{{ trans('module::field.light_options.options.'~AccessoryPart.left_side_mirror) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.front_wind_screen.name') }}</span> {% if AccessoryPart.front_wind_screen != '' %}{{ trans('module::field.average_glassdamage.options.'~AccessoryPart.front_wind_screen) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_wind_screen.name') }}</span> {% if AccessoryPart.rear_wind_screen != '' %}{{ trans('module::field.average_glassdamage.options.'~AccessoryPart.rear_wind_screen) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.wiper_blades.name') }}</span> {% if AccessoryPart.wiper_blades != '' %}{{ trans('module::field.fluids_otions_1.options.'~AccessoryPart.wiper_blades) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="Fluid">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.engine_oil_filter.name') }}</span> {% if Fluid.engine_oil_filter != '' %}{{ trans('module::field.fluids_otions_1.options.'~Fluid.engine_oil_filter) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.break_fluid.name') }}</span> {% if Fluid.break_fluid != '' %}{{ trans('module::field.fluids_otions_1.options.'~Fluid.break_fluid) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.driver_axle_fluid.name') }}</span> {% if Fluid.driver_axle_fluid != '' %}{{ trans('module::field.fluids_otions_1.options.'~Fluid.driver_axle_fluid) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.collant.name') }}</span> {% if Fluid.collant != '' %}{{ trans('module::field.fluids_otions_1.options.'~Fluid.collant) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.transmission_fluid.name') }}</span> {% if Fluid.transmission_fluid != '' %}{{ trans('module::field.fluids_otions_1.options.'~Fluid.transmission_fluid) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.power_steering_fluid.name') }}</span> {% if Fluid.power_steering_fluid != '' %}{{ trans('module::field.fluids_otions_2.options.'~Fluid.power_steering_fluid) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.clutch_fluid.name') }}</span> {% if Fluid.clutch_fluid != '' %}{{ trans('module::field.fluids_otions_2.options.'~Fluid.clutch_fluid) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="TestdriveGeneral">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.engine_startup.name') }}</span> {% if TestdriveGeneral.engine_startup != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.engine_startup) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.engine_exhaust.name') }}</span> {% if TestdriveGeneral.engine_exhaust != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.engine_exhaust) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.shift_shock.name') }}</span> {% if TestdriveGeneral.shift_shock != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.shift_shock) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.shift_interlock.name') }}</span> {% if TestdriveGeneral.shift_interlock != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.shift_interlock) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.steer_wheel.name') }}</span> {% if TestdriveGeneral.steer_wheel != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.steer_wheel) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.suspension.name') }}</span> {% if TestdriveGeneral.suspension != '' %}{{ trans('module::field.test_drive_options_1.options.'~TestdriveGeneral.suspension) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.electric_seats.name') }}</span> {% if TestdriveGeneral.electric_seats != '' %}{{ trans('module::field.electric_seats.options.'~TestdriveGeneral.electric_seats) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.diff_lock.name') }}</span> {% if TestdriveGeneral.diff_lock != '' %}{{ trans('module::field.test_drive_options_2.options.'~TestdriveGeneral.diff_lock) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.cruise_contorl_condition.name') }}</span> {% if TestdriveGeneral.cruise_contorl_condition != '' %}{{ trans('module::field.test_drive_options_3.options.'~TestdriveGeneral.cruise_contorl_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.manual_gear.name') }}</span> {% if TestdriveGeneral.manual_gear != '' %}{{ trans('module::field.test_drive_options_2.options.'~TestdriveGeneral.manual_gear) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.differentail_drive_axle.name') }}</span> {% if TestdriveGeneral.differentail_drive_axle != '' %}{{ trans('module::field.test_drive_options_2.options.'~TestdriveGeneral.differentail_drive_axle) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.bonnete_shocks.name') }}</span> {% if TestdriveGeneral.bonnete_shocks != '' %}{{ trans('module::field.test_drive_options_3.options.'~TestdriveGeneral.bonnete_shocks) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.power_lift_gate_electrical.name') }}</span> {% if TestdriveGeneral.power_lift_gate_electrical != '' %}{{ trans('module::field.test_drive_options_3.options.'~TestdriveGeneral.power_lift_gate_electrical) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="ElectricalSystem">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.front_head_lights.name') }}</span> {% if ElectricalSystem.front_head_lights != '' %}{{ trans('module::field.light_options.options.'~ElectricalSystem.front_head_lights) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.tail_lamps.name') }}</span> {% if ElectricalSystem.tail_lamps != '' %}{{ trans('module::field.light_options.options.'~ElectricalSystem.tail_lamps) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.indicators.name') }}</span> {% if ElectricalSystem.indicators != '' %}{{ trans('module::field.light_options.options.'~ElectricalSystem.indicators) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.front_right_door_power_switches.name') }}</span> {% if ElectricalSystem.front_right_door_power_switches != '' %}{{ trans('module::field.power_switches.options.'~ElectricalSystem.front_right_door_power_switches) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.front_left_door_power_switches.name') }}</span> {% if ElectricalSystem.front_left_door_power_switches != '' %}{{ trans('module::field.power_switches.options.'~ElectricalSystem.front_left_door_power_switches) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_right_door_power_switches.name') }}</span> {% if ElectricalSystem.rear_right_door_power_switches != '' %}{{ trans('module::field.power_switches.options.'~ElectricalSystem.rear_right_door_power_switches) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_left_door_power_switches.name') }}</span> {% if ElectricalSystem.rear_left_door_power_switches != '' %}{{ trans('module::field.power_switches.options.'~ElectricalSystem.rear_left_door_power_switches) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.cd_radio_electricals.name') }}</span> {% if ElectricalSystem.cd_radio_electricals != '' %}{{ trans('module::field.working_notworking.options.'~ElectricalSystem.cd_radio_electricals) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.door_centeral_looks_system.name') }}</span> {% if ElectricalSystem.door_centeral_looks_system != '' %}{{ trans('module::field.working_notworking.options.'~ElectricalSystem.door_centeral_looks_system) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.arms_rest_console.name') }}</span> {% if ElectricalSystem.arms_rest_console != '' %}{{ trans('module::field.average_damage.options.'~ElectricalSystem.arms_rest_console) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.glove_box.name') }}</span> {% if ElectricalSystem.glove_box != '' %}{{ trans('module::field.average_damage.options.'~ElectricalSystem.glove_box) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.warning_signal_active.name') }}</span> {{ ElectricalSystem.warning_signal_active.label|raw }}</li>
									<li><span>{{ trans('module::field.horn_working.name') }}</span> {{ ElectricalSystem.horn_working.label|raw }}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="TyresWheel">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.tyres_matches.name') }}</span> {{ TyresWheel.tyres_matches.label|raw }}</li>
									<li><span>{{ trans('module::field.wheel_rim_matches.name') }}</span> {{ TyresWheel.wheel_rim_matches.label|raw }}</li>
									<li><span>{{ trans('module::field.spare_tyre_available.name') }}</span> {{ TyresWheel.spare_tyre_available.label|raw }}</li>
									<li><span>{{ trans('module::field.jack_tool_available.name') }}</span> {{ TyresWheel.jack_tool_available.label|raw }}</li>
									<li><span>{{ trans('module::field.jack_tool_available.name') }}</span> {{ TyresWheel.jack_tool_available.label|raw }}</li>
									<li><span>{{ trans('module::field.front_right_tyre_condition.name') }}</span> {% if TyresWheel.front_right_tyre_condition != '' %}{{ trans('module::field.type_conditions.options.'~TyresWheel.front_right_tyre_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.front_left_tyre_condition.name') }}</span> {% if TyresWheel.front_left_tyre_condition != '' %}{{ trans('module::field.type_conditions.options.'~TyresWheel.front_left_tyre_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_right_tyre_condition.name') }}</span> {% if TyresWheel.rear_right_tyre_condition != '' %}{{ trans('module::field.type_conditions.options.'~TyresWheel.rear_right_tyre_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.rear_left_tyre_condition.name') }}</span> {% if TyresWheel.rear_left_tyre_condition != '' %}{{ trans('module::field.type_conditions.options.'~TyresWheel.rear_left_tyre_condition) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.wheel_covers.name') }}</span> {% if TyresWheel.wheel_covers != '' %}{{ trans('module::field.wheel_covers.options.'~TyresWheel.wheel_covers) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.alloy_wheel_condition.name') }}</span> {% if TyresWheel.alloy_wheel_condition != '' %}{{ trans('module::field.alloy_wheel_condition.options.'~TyresWheel.alloy_wheel_condition) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="Interior">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.seat_belts.name') }}</span> {% if Interior.seat_belts != '' %}{{ trans('module::field.good_damage.options.'~Interior.seat_belts) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.folding_seat_system.name') }}</span> {% if Interior.folding_seat_system != '' %}{{ trans('module::field.good_damage.options.'~Interior.folding_seat_system) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.cool_heat_seat_system.name') }}</span> {% if Interior.cool_heat_seat_system != '' %}{{ trans('module::field.good_damage.options.'~Interior.cool_heat_seat_system) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.head_liner.name') }}</span> {% if Interior.head_liner != '' %}{{ trans('module::field.good_damage.options.'~Interior.head_liner) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.door_trim_panels.name') }}</span> {% if Interior.door_trim_panels != '' %}{{ trans('module::field.good_damage.options.'~Interior.door_trim_panels) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.floor_carpet.name') }}</span> {% if Interior.floor_carpet != '' %}{{ trans('module::field.floor_carpet.options.'~Interior.floor_carpet) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="Brake">
							<div class="information-list">
								<ul>
									<li><span>{{ trans('module::field.brake_pad_shoe.name') }}</span> {% if Brake.brake_pad_shoe != '' %}{{ trans('module::field.brakes.options.'~Brake.brake_pad_shoe) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.master_cylender_booster.name') }}</span> {% if Brake.master_cylender_booster != '' %}{{ trans('module::field.brakes.options.'~Brake.master_cylender_booster) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.parking_brake.name') }}</span> {% if Brake.parking_brake != '' %}{{ trans('module::field.brakes.options.'~Brake.parking_brake) }} {% else %} - {% endif %}</li>
									<li><span>{{ trans('module::field.hand_foot_brake.name') }}</span> {% if Brake.hand_foot_brake != '' %}{{ trans('module::field.brakes.options.'~Brake.hand_foot_brake) }} {% else %} - {% endif %}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}