{% extends layout('users') %}

{% block content %}
    <div class="container">

        <div class="col-lg-6 col-lg-offset-3">
        	<div class="valuation-form-wrap reset-password-form">
        		<h3>{{ template.meta_title }}</h3>
            {{ form('reset_password').redirect(request_get('redirect', '/dealer/login'))|raw }}
          </div>
        </div>

    </div>
{% endblock %}
