{% extends layout('email') %}

{% block content %}
<p>
	{{ trans('skrollx.module.cars::notification.bidding_placed.line1')|raw }}
</p>
<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Car Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.cars::field.make.name') }}: </strong>{{ bidding.car.make.title }}
	<br/><strong>{{ trans('skrollx.module.cars::field.model.name') }}: </strong>{{ bidding.car.model.title }}
	<br/><strong>{{ trans('skrollx.module.cars::field.year.name') }}: </strong>{{ bidding.car.year }}
	<br/><strong>{{ trans('skrollx.module.cars::field.engine_size.name') }}: </strong>{{ bidding.car.engine_size }}
	<br/><strong>{{ trans('skrollx.module.cars::field.specs.name') }}: </strong>{{ bidding.car.specs.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.mileage.name') }}: </strong>{{ bidding.car.mileage.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.option.name') }}: </strong>{{ bidding.car.option.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.paint.name') }}: </strong>{{ bidding.car.paint.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.date.name') }}: </strong>{{ bidding.car.date.toDateTimeString() }}
</p>

<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Person Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.dealers::field.company_name.name') }}: </strong>{{ bidding.dealer.company_name }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.email.name') }}: </strong>{{ bidding.dealer.email }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.mobile_no.name') }}: </strong>{{ bidding.dealer.mobile_no }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.phone_no.name') }}: </strong>{{ bidding.dealer.phone_no }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.amount.name') }}: </strong>{{ currency_format(bidding.amount.value) }}
</p>

<p style="text-align:left;"><a style="display: block; width: 200px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none; background-color: #22BC66;" href="{{ url('admin/cars/biddings/'~bidding.car_id) }}">View biddings</a></p>

{% endblock %}