{% extends layout('email') %}

{% block content %}

{% set facebook_url = variable('site', 'facebook').value %}
{% set twitter_url = variable('site', 'twitter').value %}
{% set instagram_url = variable('site', 'instagram').value %}

<p>Dear {{name}}</p>
<p>{{ trans('skrollx.module.cars::notification.booking-confirmed.para1', {
		'date':date,
		'time':time,
		'location':location,
	})|raw }}</p>
<br>
<p>{{ trans('skrollx.module.cars::notification.booking-confirmed.para2')|raw }}</p>
<p>{{ trans('skrollx.module.cars::notification.booking-confirmed.footerline', {
	'facebook_link':facebook_url,
	'instagram_link':instagram_url,
	'twitter_link':twitter_url
})|raw }}</p>

{% endblock %}