{% extends layout('email') %}

{% block content %}
<p>
	{{ trans('skrollx.module.cars::notification.evaluation_requested.line1', {
		'name':car.first_name~' '~car.last_name,
		'date':car.date.toDateTimeString(),
	})|raw }}
</p>
<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Car Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.cars::field.make.name') }}: </strong>{{ car.make.title }}
	<br/><strong>{{ trans('skrollx.module.cars::field.model.name') }}: </strong>{{ car.model.title }}
	<br/><strong>{{ trans('skrollx.module.cars::field.year.name') }}: </strong>{{ car.year }}
	<br/><strong>{{ trans('skrollx.module.cars::field.engine_size.name') }}: </strong>{{ car.engine_size.title }}
	<br/><strong>{{ trans('skrollx.module.cars::field.specs.name') }}: </strong>{{ car.specs.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.mileage.name') }}: </strong>{{ car.mileage.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.option.name') }}: </strong>{{ car.option.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.paint.name') }}: </strong>{{ car.paint.value }}
	<br/><strong>{{ trans('skrollx.module.cars::field.date.name') }}: </strong>{{ car.date.toDateTimeString() }}
</p>

<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Person Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.cars::field.name.name') }}: </strong>{{ car.first_name~' '~car.last_name }}
	<br/><strong>{{ trans('skrollx.module.cars::field.location.name') }}: </strong>{{ car.location.name }}
	<br/><strong>{{ trans('skrollx.module.cars::field.mobile.name') }}: </strong>{{ car.mobile }}
	<br/><strong>{{ trans('skrollx.module.cars::field.alt_contact.name') }}: </strong>{{ car.alt_contact }}
	<br/><strong>{{ trans('skrollx.module.cars::field.email.name') }}: </strong>{{ car.email }}
</p>
<p style="text-align:left;"><a style="display: block; width: 200px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none; background-color: #22BC66;" href="{{ url('admin/cars/view/'~car.id) }}">View in admin</a></p>

{% endblock %}