{% htmlcompress %}
{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ locale }}" dir="{{ direction }}">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}

<main id="main" class="site-main page-{{ str_slug(template.meta_title) }}">
	<div class="container">
		<div id="content" class="site-content">
      {% include "theme::partials/messages" %}
			<div class="about-us-container">
				<div id="primary" class="content-area">
        {% block content %}{% endblock %}

        {% set faqs = entries('mebuycar', 'faqs').get() %}
        {% if faqs.count() %}
        <div class="faq-section">
          <h3>{{ trans('theme::site.faqs') }}</h3>
          {{ view("theme::partials/faq-block", {faqs:faqs}) }}
          <div class="btn-center-wrap">
            <a href="{{ url('evaluate/step-1') }}" class="btn site-btn">{{ trans('theme::button.evaluate_my_car_now') }}</a>
          </div>
        </div>
        {% endif %}
        {% include "theme::partials/testimonial-block" %}
        </div>
      </div>
		</div>
  </div>
</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}
{% block scripts %}{% endblock %}
</body>
</html>
{% endhtmlcompress %}