{% htmlcompress %}
{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ locale }}" dir="{{ direction }}">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}

<main id="main" class="site-main page-{{ str_slug(template.meta_title) }}">
	<div class="container">
		<div id="content" class="site-content">

        {% include "theme::partials/messages" %}

        {% block content %}{% endblock %}
		</div>
  </div>
  <div id="contact-map"></div>
</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}
<script type="text/javascript">
	$(function(){
	  $('form.contact-form').validate({
	  rules: {
	    name: {
	        required: true
	    },
	    email: {
	        required: true,
	        email: true
	    },
	    contact_no: {
	        required: true
	    },
	    message: {
	        required: true
	    }
	  },
	  messages: {
      name: false,
      email: false,
      contact_no: false,
      message: false
    },
	  highlight: function(element) {
	    $(element).closest('.form-group').addClass('has-error');
	  },
	  unhighlight: function(element) {
	    $(element).closest('.form-group').removeClass('has-error');
	  },
	  errorElement: 'span',
	  errorClass: 'help-block',
	  errorPlacement: function(error, element) {
	    if(element.parent('.input-group').length) {
	      error.insertAfter(element.parent());
	    } else {
	      error.insertAfter(element);
	    }
	  }
	  });
	});
</script>
{% if page.entry.longitude and page.entry.latitude %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHZIAP_MUKzw5s8lOIufnc_OvPaq2lf0A&callback=initMap" async defer></script>
	<script>
	function initMap() {
		// Create a map object and specify the DOM element for display.
		// var latlang = {lat: 25.0122168, lng: 55.4263843};
		var latlang = {lat: {{page.entry.latitude}}, lng: {{page.entry.longitude}}};
		var map = new google.maps.Map(document.getElementById('contact-map'), {
			center: latlang,
			scrollwheel: false,
			zoom: 8
		});

		var marker = new google.maps.Marker({
    		position: latlang,
    		map: map
    });
	}
	</script>
{% endif %}
</body>
</html>
{% endhtmlcompress %}