{# {% htmlcompress %} #}
{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ locale }}" dir="{{ direction }}">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}

<main id="main" class="site-main page-{{ str_slug(template.meta_title) }}">
	<div class="container">
		{% include "theme::partials/messages" %}
		<div id="content" class="site-content">
			<div class="row">
				<div class="col-sm-3">
					<div class="user-prof-list-block">
						{% if auth_check() and auth_user().hasRole('dealer') %}
						{% include "theme::partials/nav-dealer-dashboard" %}
						{% endif %}
					</div>
				</div>
				<div class="col-sm-9">
					<div class="dashboard-content">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
  		</div>
  	</div>
</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}
{% block scripts %}{% endblock %}
</body>
</html>
{# {% endhtmlcompress %} #}