{# {% htmlcompress %} #}
{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ locale }}" dir="{{ direction }}">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}

<main id="main" class="site-main page-{{ str_slug(template.meta_title) }}">
	<div class="container-fluid">
		<div id="content" class="site-content">

        {% include "theme::partials/messages" %}

        {% block content %}{% endblock %}
		</div>
  </div>
</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}

{% block scripts %}
{{ html_script(asset_path("theme::js/theme/register-validate.js", ["parse"])) }}
{% endblock %}
</body>
</html>
{# {% endhtmlcompress %} #}