{% htmlcompress %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css" rel="stylesheet" media="all">
        /* Media Queries */
        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>
</head>

{% set style = {
    'body' : 'margin: 0; padding: 0; width: 100%; background-color: #F2F4F6;',
    'emailWrapper' : 'width: 100%; margin: 0; padding: 0; background-color: #F2F4F6;',


    'emailMasthead' : 'padding: 25px 0; text-align: left; width:570px; padding-left:15px; background-color:#eeeeee',
    'emailMasthead_name' : 'font-size: 16px; font-weight: bold; color: #2F3133; text-decoration: none; text-shadow: 0 1px 0 white;',

    'emailBody' : 'width: 100%; margin: 0; padding: 0; border-top: 1px solid #EDEFF2; border-bottom: 1px solid #EDEFF2; background-color: #FFF;',
    'emailBody_inner' : 'width: auto; margin: 0 auto; padding: 0;',
    'emailBody_cell' : 'padding: 25px;',

    'emailFooter' : 'width: 100%; margin: 0 auto; padding: 0; text-align: center; background:#2B2B2F;',
    'emailFooter_cell' : 'color: #AEAEAE; padding: 35px; text-align: center; width:570px;',


    'body_action' : 'width: 100%; margin: 30px auto; padding: 0; text-align: center;',
    'body_sub' : 'margin-top: 25px; padding-top: 25px; border-top: 1px solid #EDEFF2;',


    'anchor' : 'color: #3869D4;',
    'header1' : 'margin-bottom: 0; color: #2F3133; font-size: 19px; font-weight: bold; text-align: left;',
    'header2' : 'margin-bottom: 0; color: #a5cf3d; font-size: 16px; font-weight: bold; text-align: left;',
    'header3' : 'margin-bottom: 0; color: #a5cf3d; font-size: 14px; font-weight: bold; text-align: left;',
    'paragraph' : 'margin-top: 0; color: #74787E; font-size: 16px; line-height: 1.5em;',
    'paragraphSub' : 'margin-top: 0; color: #74787E; font-size: 12px; line-height: 1.5em;',
    'paragraphCenter' : 'text-align: center;',


    'button' : 'display: block; display: inline-block; width: 200px; min-height: 20px; padding: 10px;
                 background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px;
                 text-align: center; text-decoration: none; -webkit-text-size-adjust: none;',

    'button_green' : 'background-color: #22BC66;',
    'button_red' : 'background-color: #dc4d2f;',
    'button_blue' : 'background-color: #3869D4;',
    'email_footer' : 'background: #2b2b2f; padding: 20px 30px; text-align: center; background:#2B2B2F;',


	'emailFooter_social': 'padding: 0; margin: 0; text-align:center;',
	'emailFooter_social_a': 'display: inline-block; height: 35px; width: 35px; text-align: center; line-height: 30px; background: #19b3b0; color: #fff; font-size: 18px; border-radius: 100%; margin: 0 2px;',
	'emailFooter_social_li_a_img': 'max-width: 100%;',
	'email_signature': 'margin: 20px 0 0; border-top: 1px solid #e4e4e4; padding: 20px 0 0;',
    'email_signature_p': 'line-height:22px;',
    
    'subscription_wrapper': 'padding:15px;background-color:#eee;',
    'list_ul': 'padding:0;margin:0;list-style:none;',
    'list_li': 'padding:0;margin:0;list-style:none;font-size:12px;',
    'list_inline': 'display:inline-block;',
}
%}

{% set fontFamily = 'font-family: Arial, \'Helvetica Neue\', Helvetica, sans-serif;' %}
<body style="{{ style.body }}">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td style="{{ style.emailWrapper }}" align="center">
                <table width="570" align="center" cellpadding="0" cellspacing="0">
                    <!-- Logo -->
                    <tr>
                        <td style="{{ style.emailMasthead }}" align="left">
                            <a style="{{ fontFamily }} {{ style.emailMasthead_name }}" href="{{ url('/') }}" target="_blank">
                            	<img src="{{ env('APPLICATION_DOMAIN')}}{{ asset_path('skrollx.theme.mebuycar::img/logo.png') }}" alt="{{ config('app.name') }}">
                            </a>
                        </td>
                    </tr>

                    <!-- Email Body -->
                    <tr>
                        <td style="{{ style.emailBody }}" width="100%">
                            <table style="{{ style.emailBody_inner }}" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="{{ fontFamily }} {{ style.emailBody_cell }}">
                                        <!-- Greeting -->
                                        <h1 style="{{ style.header1 }}">
                                        	{% if greeting %}
                                        		{{ greeting }}
                                        	{% endif %}
                                        </h1>

                                        {% block content %}{% endblock %}

                                        <!-- Salutation -->
                                        <div style="{{ style.paragraph }} {{ style.email_signature }}">
                                            <p style="{{ style.email_signature_p }}">MeBuyCar.com!</p>
                                            <p>04-3795646</p>
                                            <p>info@mebuycar.com</p>
                                        </div>

                                        <!-- Sub Copy -->
                                        {% if actionText %}
                                            <table style="{{ style.body_sub }}">
                                                <tr>
                                                    <td style="{{ fontFamily }}">
                                                        <p style="{{ style.paragraphSub }}">
                                                            If you’re having trouble clicking the "{{ actionText }}" button,
                                                            copy and paste the URL below into your web browser:
                                                        </p>

                                                        <p style="{{ style.paragraphSub }}">
                                                            <a style="{{ style.anchor }}" href="{{ actionUrl }}" target="_blank">
                                                                {{ actionUrl }}
                                                            </a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Footer -->
                    <tr>
                        <td>
                            <table style="{{ style.email_footer }}" align="center" width="570" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="{{ fontFamily }} {{ style.emailFooter_cell }}">
                                        <p style="{{ style.paragraphSub }}">{{ trans('theme::site.copyright_info', {year: "now"|date("Y")})|raw }}</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{% endhtmlcompress %}