{% htmlcompress %}
{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html lang="{{ locale }}" dir="{{ direction }}">

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}

<main id="main" class="site-main page-{{ str_slug(template.meta_title) }}">
	<div class="container-fluid">
		<div id="content" class="site-content">
      {% include "theme::partials/messages" %}
			<div class="about-us-container no-top-margin">
				<div id="primary" class="content-area">
          <div class="faq-section">
            <h1 class="page-title">{{ trans('theme::site.faqs') }}</h1>
            {% set faqs = entries('mebuycar', 'faqs').get() %}
            {% if faqs.count() %}
              {{ view("theme::partials/faq-block", {faqs:faqs}) }}
            {% endif %}
          </div>
        </div>
      </div>
		</div>
  </div>
</main>

{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}
{% block scripts %}{% endblock %}
</body>
</html>
{% endhtmlcompress %}