{# {% htmlcompress %} #}
<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

{% set locale = config('app.locale') %}
{% set direction = config('streams::locales.supported.'~locale~'.direction') %}
<html lang="{{ locale }}" dir="{{ direction }}">
<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="{{ locale }} {{ direction }}">

{% include "theme::partials/header" %}
{% include "theme::partials/messages" %}
<div class="page-{{ str_slug(template.meta_title) }}">
	{% block content %}{% endblock %}
</div>
{% include "theme::partials/footer" %}
{% set appointment_count = counter_online(5) %}
{% if appointment_count > 0 %}
<div class="alert alert-success alert-floating">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	{{ trans_choice('theme::site.booking_appointment_text', appointment_count, { count: appointment_count}) }}
</div>
{% endif %}
{% include "theme::partials/assets" %}

{% block scripts %}
{{ html_script(asset_path("theme::js/theme/register-validate.js", ["parse"])) }}
<script type="text/javascript">
	$(function(){
		setTimeout(function() {
      $('.alert-floating').fadeOut();
    }, 10000);
	});
</script>
{% endblock %}
</body>
</html>
{# {% endhtmlcompress %} #}