.prices-wrapper {
    margin: 10px 0 20px 0;
}

.prices-wrapper .row {
    margin-bottom: 5px;
}

.chosen-container-multi .chosen-choices{
	display: block;
    width: 100%;
    padding: 0.3rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.1rem;
}