<aside id="sidebar" class="scrollbar {{ preference_value('pyrocms.theme.accelerant::sidebar_hover', setting_value('pyrocms.theme.accelerant::sidebar_hover')) ? 'hover' }}">

    <ul>
        {% for key, navigation in template.cp.navigation %}
            <li class="{{ navigation.active ? 'active' }} variant-border" data-slug="{{ navigation.slug }}">
                <a {{ html_attributes(navigation.attributes) }} title="{{ trans(navigation.title) }}">
                    <span class="icon">{{ navigation.icon()|raw }}</span>
                    <span class="title">{{ trans(navigation.title) }}</span>
                </a>
            </li>
            {% set segment_two = request_segment(2) %}
            {% set segment_three = request_segment(3) %}
            {% if user().hasRole('call_center') %}
                <li class="{% if segment_two == 'appointments' %}active{% endif %} variant-border" data-slug="{{ navigation.slug }}">
                    <a href="{{ url('admin/appointments') }}">
                        <span class="icon"><i class="fa fa-book"></i></span>
                        <span class="title">Appointments</span>
                    </a>
                </li>
            {% else %}
                {% if key == 1 %}
                    <li class="{% if segment_two == 'appointments' %}active{% endif %} variant-border" data-slug="{{ navigation.slug }}">
                        <a href="{{ url('admin/appointments') }}">
                            <span class="icon"><i class="fa fa-book"></i></span>
                            <span class="title">Appointments</span>
                        </a>
                    </li>
                    <li class="{% if segment_three == 'biddings' %}active{% endif %} variant-border" data-slug="{{ navigation.slug }}">
                        <a href="{{ url('admin/dashboard/biddings') }}">
                            <span class="icon"><i class="fa fa-money"></i></span>
                            <span class="title">Biddings</span>
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

</aside>
