{% set makes = entries('cars', 'makes').select('id', 'title').get() %}
<div class="filter-cars-form-wrap">
	<h4>{{ trans('skrollx.module.cars::site.filter_cars_listing') }}</h4>
		{{ form_open({url:url('cars'), method:'GET', class:'car-filter-form'}) }}
		<div class="form-group">
			<div class="select-appearance"> 
				<select name="make[]" class="form-control selectpicker" multiple title="{{ trans('skrollx.module.cars::field.make.placeholder') }}">
          <option value="">{{ trans('skrollx.module.cars::field.make.placeholder') }}</option>
          {% for make in makes %}
          <option value="{{ make.id }}" {% if make.id in request_get('make') %}selected{% endif %}>{{ make.title }}</option>
        	{% endfor %}
        </select>
      </div>
		</div>
		<div class="form-group">
			<div class="select-appearance"> 
				<select name="year[]" class="form-control selectpicker" multiple title="{{ trans('skrollx.module.cars::field.year.placeholder') }}">
          <option value="">{{ trans('skrollx.module.cars::field.year.placeholder') }}</option>
          {% for year in "now"|date("Y")..1980 %}
          <option value="{{ year }}" {% if year in request_get('year') %}selected{% endif %}>{{ year }}</option>
        	{% endfor %}
        </select>
      </div>
		</div>
		<div class="form-group">
			<div class="select-appearance">
        <select name="body_type[]" class="form-control selectpicker" multiple title="{{ trans('skrollx.module.cars::field.body_type.placeholder') }}">
          <option value="">{{ trans('skrollx.module.cars::field.body_type.placeholder') }}</option>
          {% for type in 1..12 %}
          <option value="{{ type }}" {% if type in request_get('body_type') %}selected{% endif %}>
          	{{ trans('skrollx.module.cars::field.body_type.options.'~type) }}
          </option>
        	{% endfor %}
        </select>
      </div>
		</div>
		<div class="form-group">
			<div class="select-appearance">
				<select name="mileage[]" class="form-control selectpicker" multiple title="{{ trans('skrollx.module.cars::field.mileage.placeholder') }}">
          <option value="">{{ trans('skrollx.module.cars::field.mileage.placeholder') }}</option>
          {% for type in 1..16 %}
          <option value="{{ type }}" {% if type in request_get('mileage') %}selected{% endif %}>
          	{{ trans('skrollx.module.cars::field.mileage.options.'~type) }}
          </option>
        	{% endfor %}
        </select>
			</div>
		</div>
		<div class="form-group">
			<input type="text" name="q" class="form-control" placeholder="{{ trans('skrollx.module.cars::field.title.placeholder') }}" value="{{ request_get('q') }}">
		</div>
		<div class="form-group">
			<input type="submit" class="btn site-btn" value="{{ trans('theme::button.submit') }}">
		</div>
		{% if request_get('per_page') %}
			<input type="hidden" name="per_page" value="{{ request_get('per_page') }}">
		{% endif %}
	{{ form_close() }}
</div>