{% extends layout('default') %}

{% block content %}
{% set savedCars = auth_user().dealer().savedCars().pluck('related_id') %}
<div class="container">
	<div class="car-listing-container">
		<div id="primary" class="content-area">
			
			{% include 'skrollx.module.cars::dealer/_car-filter' %}

			<div class="car-listing-content">
				{% if cars.count() %}
				<h1 class="page-title">{{ trans('module::site.n_cars_found', {total:cars.total})|raw }}</h1>
				<div class="sort-by-wrap">
					<div class="form-group">
						<div class="select-appearance"> 
							<span class="site-addon">{{ trans('skrollx.module.cars::site.sort_by') }}:</span>
              <select name="sort-by" class="form-control selectpicker submit-url">
                <option value="{{ format_url({'sort_order':'desc'}) }}" {% if request_get('sort_order') == 'desc' %}selected{% endif %}>{{ trans('skrollx.module.cars::site.recent_first') }}</option>
        				<option value="{{ format_url({'sort_order':'asc'}) }}" {% if request_get('sort_order') == 'asc' %}selected{% endif %}>{{ trans('skrollx.module.cars::site.oldest_first') }}</option>
              </select>
              </div>
					</div>
					<div class="form-group">
						<div class="select-appearance">
							<span class="site-addon">{{ trans('skrollx.module.cars::site.per_page') }}:</span>
              <select name="per-page" class="form-control selectpicker submit-url">
              	{% for i in [10,20,30,50,100] %}
                  <option value="{{ format_url({'per_page':i}) }}" {% if request_get('per_page') == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
              </select>
          	</div>
					</div>
					<nav class="site-pagination">
						{{ cars.links|raw }}
					</nav>
				</div>
				<div class="car-listing-wrap">
					{% for car in cars %}
					
					{% set is_expired = is_expired(car.expire_date.date) %}

					{% set images_count = car.images.count() %}

					{% if is_expired == false %}
						<div class="car-listing-block">
							<div class="car-listing-detail-wrap clearfix">
								<figure class="thumbnail-img">
									{% if car.image %}
										{{ car.image.image()|raw }}
									{% else %}
										<img src="{{ asset_path('theme::img/placehoder.jpg') }}" alt="car-img1.jpg">
									{% endif %}
								</figure>
								<div class="car-details">
									<h1><a href="{{ url('car/'~car.slug) }}">{{ car.title }}</a>{#  <span>Deal Offer</span> #}</h1>
									<ul>
									    <li><span>{{ trans('module::field.mileage.name') }}</span> {{ car.mileage.value }}</li>
									    <li><span>{{ trans('module::field.transmission.name') }}</span> {{ car.transmission.value }}</li>
									    <li><span>{{ trans('module::field.engine_size.name') }}</span> {{ car.engine_size.value }}</li>
									    <li><span>{{ trans('module::field.accident_history.name') }}</span> {{ car.accident_history.label|raw }}</li>
									    <li><span>{{ trans('module::field.specs.name') }}</span> {{ car.specs.value }}</li>
									</ul>
									<span class="ultimatum" data-countdown="{{ car.expire_date.format('Y/m/d H:i:s') }}">
										{# {{ car.expire_date.diff(carbon().now()).format('%D days %H:%I:%S') }} left #}
									</span>
								</div>
							</div>
							<div class="choose-option-list clearfix">
								<ul>
									{% if images_count %}
								    <li><a href="#" data-toggle="modal" data-target="#car-gallery-{{ car.id }}">
								    	{{ trans('module::site.quick_look_n_photos', { count: images_count }) }}
								    </a></li>
								  {% else %}
								  	<li></li>
								  {% endif %}
								    <li>
								    	{% if car.id in savedCars %}
								    		<a href="{{ url('dealer/saved-cars') }}">{{ trans('module::site.saved') }}</a>
								    	{% else %}
								    		<a href="{{ url('dealer/save-car/'~car.id) }}">{{ trans('module::button.save_this_car') }}</a>
								    	{% endif %}
								    </li>
								    <li><a href="{{ url('car/'~car.slug) }}">{{ trans('module::button.view_details') }}</a></li>
								    <li><a href="{{ url('car/'~car.slug) }}">{{ trans('module::button.bid_now') }}</a></li>
								</ul>
							</div>
							{% if images_count %}
							<div class="modal fade" id="car-gallery-{{ car.id }}" tabindex="-1" role="dialog" aria-labelledby="carModalGalleryLabel">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<img src="{{ asset_path('theme::img/close.png') }}" alt="x">
										</button>
										<div id="car-gallery-slider-{{ car.id }}" class="carousel slide" data-ride="carousel">
											<div class="carousel-inner" role="listbox">
												{% for image in car.images %}
												<div class="item {% if loop.index == 1 %}active{% endif %}">
													{{ image.image().width('100%')|raw }}
												</div>
												{% endfor %}
											</div>
											<ol class="carousel-indicators">
												{% for image in car.images %}
												<li data-target="#car-gallery-slider-{{ car.id }}" data-slide-to="{{ loop.index - 1 }}" class="{% if loop.index == 1 %}active{% endif %}">
													{{ image.image().fit(150)|raw }}
												</li>
												{% endfor %}
											</ol>
											<!-- Controls -->
											<a class="left carousel-control" href="#car-gallery-slider-{{ car.id }}" role="button" data-slide="prev">
											</a>
											<a class="right carousel-control" href="#car-gallery-slider-{{ car.id }}" role="button" data-slide="next">
											</a>
										</div>
									</div>
								</div>
							</div>
							{% endif %}
						{% endif %}
					</div>
					{% endfor %}
				</div>
				<nav class="site-pagination">
					{{ cars.links|raw }}
				</nav>		
				{% else %}
					<div class="alert alert-info">
						{{ trans('skrollx.module.cars::message.no_cars') }}
					</div>
				{% endif %}
			</div>			
		</div>
	</div>
</div>
{% endblock %}