{% extends layout('default') %}

{% block content %}
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3">
        	<div class="valuation-form-wrap login-form">
        		<h3>{{ trans('theme::site.dealer_login') }}</h3>

            {% if auth_check() %}
                {{ trans('skrollx.module.dealers::message.already_loggedin')|raw }}
            {% else %}

                {% set loginForm = form('login_form').redirect(request_get('redirect', '/dealer/dashboard')).get() %}
                {{ loginForm.open({'class':'dealer-login-form'})|raw }}
                    {% for field in loginForm.fields %}
                        <div class="form-group {{ field.field_name }}-field required">
                            {{ field.input|raw }}
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ loginForm.actions|raw }}
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="{{ url_route('anomaly.module.users::password.forgot') }}">
                                {{ trans('anomaly.module.users::message.forgot_password') }}
                            </a>
                        </div>
                    </div>
                {{ loginForm.close()|raw }}
            {% endif %}
			</div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(function(){
      $('form.dealer-login-form').validate({
        rules: {
          email: {
            required: true,
            email: true
          },
          password: {
            required: true
          }
        },
        messages: {
          email: {
            required: false
          },
          password: {
            required: false
          }
        },
        highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
          if(element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else {
            error.insertAfter(element);
          }
        }
      });
    });
  </script>
{% endblock %}