{% extends layout('default') %}

{% block content %}
    <div class="container">
      <div class="col-lg-6 col-lg-offset-3">
      	<div class="valuation-form-wrap login-form">
      		<h3>{{ trans('theme::site.dealer_register') }}</h3>
      		{% if auth_check() %}
      			{{ trans('skrollx.module.dealers::message.already_loggedin')|raw }}
      		{% else %}
            {% set registerForm = form('register_form').options({
              'success_message': false,
              'redirect': request_get('redirect', '/dealer/complete-registration')
            }).get() %}
						{{ registerForm.open({'class':'dealer-register-form'})|raw }}
							{% for field in registerForm.fields %}
								<div class="form-group {{ field.field_name }}-field required">
									{{ field.input|raw }}
								</div>
							{% endfor %}
							{{ registerForm.actions|raw }}
						{{ registerForm.close()|raw }}
					{% endif %}
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{{ html_script(asset_path("theme::js/theme/register-validate.js", ["parse"])) }}
{% endblock %}
