.vech-info-tab {
    background: #fff;
    box-shadow: 0 0 13px 4px rgba(170,179,191,0.14);
    overflow: hidden;
}

.nav-tabs {
    background-color: #cbcaca;
}

.nav-tabs>li>a {
    margin: 0;
    border-radius: 0;
    font-size: 18px;
    padding: 8px 22px;
}

.nav-tabs>li>a>span {
    /*transform: skewX(-23deg);*/
    display: block;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: none;
    color: #676464;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #cbcaca;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover{
    border-color: transparent;
}

.nav-tabs>li.active>a{
    color:#676464;
}

.nav-tabs>li:focus{
    outline:none;
}

.nav-tabs>li:first-child a,
.nav-tabs>li:first-child a:focus {
    border-left: none;
}

.nav-tabs>li:first-child {

}

.nav-tabs>li:first-child a {
    padding-left: 31px;
}

.tab-content {
    padding: 34px 25px 27px;
}

.vech-info-tab ul.nav.nav-tabs li {
    text-align:center;
    width: 20%;
    display: inline-block;
    border-right: 1px solid white;
}

.vech-info-tab ul.nav.nav-tabs li.active{
    background-color:white;
}

.information-list ul li {
    list-style-type: none;
    display: block;
    font-size: 18px;
    margin: 0 0 12px;
}

.information-list ul li span {
    font-size: 16px;
    width: 370px;
    display: inline-block;
}