{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
<style type="text/css">
		#buttons, #menu ul li:last-child{ display: none; }
</style>
  {{ asset_add('styles.css', 'anomaly.module.dashboard::scss/dashboard.scss') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/jquery-sortable.js') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/dashboard.js') }}
	{% 
		set recentItems = 
		{
			1 : 'Recent Appointments',
		} 
	%}
  <div id="dashboard">
    <div class="container-fluid">
			{% for status,title in recentItems %}
			<div class="columns row">
				{% set recentAppointments = entries('cars', 'cars').where('status', status).orderBy('created_at', 'desc').limit(10).get() %}
				<div class="col-lg-24">
        	<div class="widget card">
        		<div class="card-header">
        			<h5 class="card-title">{{ title }}</h5>
        		</div>
						<div class="card-block">
							<table class="table table-stripped">
								<thead>
									<tr>
										<th>Car Name</th>
										<th>Requested by</th>
										<th>Location</th>
										<th>Date</th>
										<th>Mobile</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for appointment in recentAppointments %}
									<tr>
										<td>{{ appointment.make.title ~ ' ' ~ appointment.model.title ~ ' - ' ~ appointment.year }}</td>
										<td>{{ appointment.first_name ~ ' ' ~ appointment.last_name }}</td>
										<td>{{ appointment.location.name }}</td>
										<td>{{ appointment.created_at.toDateTimeString() }}</td>
										<td>{{ appointment.mobile }}</td>
										<td>{{ appointment.email }}</td>
										<td>
											<button class="btn btn-xs btn-default add_call_log_btn" href="{{ url('admin/appointments/addlog/'~appointment.id) }}" data-id="{{appointment.id}}">Add call log</button>
										</td>
										{% if user().hasRole('admin') %}
										<td>
											<button class="btn btn-xs btn-default view_call_log_btn" href="{{ url('admin/appointments/viewlog/'~appointment.id) }}" data-id="{{appointment.id}}">View Log</button>
										</td>
										{% endif %}
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
    </div>
  </div>
  <div class="modal fade" id="modal-add-log">
  	<div class="modal-dialog">
  		<div class="modal-content">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  				<h4 class="modal-title">Add Call Log</h4>
  			</div>
  			<form action="" class="add_log_form">
  				{{csrf_field()}}
	  			<div class="modal-body">
  					<div class="form-group">
  						<input type="hidden" name="car" value="">
  						<textarea class="form-control" name="description" id="" cols="30" rows="10"></textarea>
  					</div>
	  			</div>
	  			<div class="modal-footer">
	  				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	  				<button type="submit" class="btn btn-primary">Add</button>
	  			</div>
  			</form>
  		</div>
  	</div>
  </div>
  <div class="modal fade" id="modal-view-log">
  	<div class="modal-dialog modal-lg">
  		<div class="modal-content">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  				<h4 class="modal-title">Call Logs</h4>
  			</div>
  			<div class="modal-body">
				<div class="call_logs_wrapper">
					<table class="table">
					    <thead>
					      <tr>
					        <th width="180px">Added By</th>
					        <th>Logs</th>
					      </tr>
					    </thead>
					    <tbody class="log_data_wrapper">

					    </tbody>
					</table>
				</div>
  			</div>
  			<div class="modal-footer">
  				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}