{% extends "theme::layouts/default" %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h4 class="card-title">{{ car.title }}</h4></div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <strong>{{ trans('skrollx.module.cars::field.make.name') }}: </strong>{{ car.make.title }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.model.name') }}: </strong>{{ car.model.title }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.year.name') }}: </strong>{{ car.year }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.min_bid_amount.name') }}: </strong>{{ currency_format(car.min_bid_amount.value) }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.max_bid_amount.name') }}: </strong>{{ currency_format(car.max_bid_amount.value) }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.rejected_amount.name') }}: </strong>{{ currency_format(car.rejected_amount.value) }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.seller_price.name') }}: </strong>{{ currency_format(car.seller_price.value) }}
                        <br/><strong>{{ trans('skrollx.module.cars::field.status.name') }}: </strong>{{ car.status.value }}
                    </p>
                </div>
                <div class="col-sm-12">
                    <a class="btn btn-sm btn-primary" target="_blank" href="{{ url('car/'~car.slug) }}">View car detail</a>
                </div>
            </div>

            {% if biddings.count() %}
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Bidded by</th>
                            <th>Bidding Date</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bidding in biddings %}
                        <tr>
                            <td>{{ bidding.dealer.company_name }}</td>
                            <td>{{ bidding.date.toDateTimeString() }}</td>
                            <td>{{ currency_format(bidding.amount.value) }}</td>
                            <td>
                                {% if not bidding.won.value %}
                                    <a class="btn btn-success btn-sm" href="{{ url('admin/cars/select-winner/'~bidding.id) }}">Select Winner</a>
                                {% else %}
                                    Winner
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info">
                    There are no biddings for this car.
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
