{% extends "theme::layouts/default" %}

{% block content %}
{{ asset_add("prices.css", "skrollx.module.cars::css/*") }}

{{ asset_style("prices.css") }}

<div class="container-fluid">
    {{ form_open() }}
        <div class="card">
            <div class="card-header"><h4 class="card-title">Years</h4>
            </div>
            <div class="card-block">
                <h4>Configure deprciation % on basis of vehicle's age</h4>
                <div class="section-wrapper">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                Year range from
                            </div>
                             <div class="col-md-5">
                                Year range to
                            </div>
                             <div class="col-md-5">
                                Depreciation %
                            </div>
                        </div>
                        {% set count = 1 %}
                        {% if years.count() %}
                        {% set count = years.count() %}
                        {% for key,year in years %}
                        {% set year_range = year.config_value|split('-') %}                  
                        <div class="row">
                            <div class="col-md-5">
                              <div class="form-group">                                
                                <div class="select-appearance"> 
                                    <select name="year[{{key}}][from]" class="form-control selectpicker">
                                      <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                      {% for year in "now"|date("Y")..1980 %}
                                      <option value="{{ year }}" {% if year_range[0] == year %}selected="selected"{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                  <div class="select-appearance"> 
                                      <select name="year[{{key}}][to]" class="form-control selectpicker">
                                        <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                        {% for year in "now"|date("Y")..1980 %}
                                        <option value="{{ year }}" {% if year_range[1] == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                          {% endfor %}
                                      </select>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="year[{{key}}][depr]" placeholder="Depreciation %" value="{{year.depreciation}}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                          <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="select-appearance"> 
                                        <select name="year[0][from]" class="form-control selectpicker">
                                          <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                          {% for year in "now"|date("Y")..1980 %}
                                          <option value="{{ year }}">{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="select-appearance"> 
                                        <select name="year[0][to]" class="form-control selectpicker">
                                          <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                          {% for year in "now"|date("Y")..1980 %}
                                          <option value="{{ year }}" {% if year_range[1] == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="year[0][depr]" placeholder="Depreciation %">
                                </div>
                            </div>
                          </div>
                        {% endif %}
                    </div>
                </div>
                <button type="button" class="add_more_year" data-count="{{count}}"><i class="fa fa-plus"></i> Add more</button>                 
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4 class="card-title">Mileage</h4></div>
            <div class="card-block">
                <h4>Configure deprciation % on basis of mileage</h4>
                <div class="section-wrapper">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                Mileage range from
                            </div>
                             <div class="col-md-5">
                                Mileage range to
                            </div>
                             <div class="col-md-5">
                                Depreciation %
                            </div>
                        </div>
                    {% set count = 1 %}
                    {% if mileages.count() %}
                    {% set count = mileages.count() %}
                        {% for key,mileage in mileages %}
                        {% set mileage_range = mileage.config_value|split('-') %}    
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="select-appearance"> 
                                            <select name="mileage[{{key}}][from]" class="form-control selectpicker">
                                              <option selected="selected" disabled="disabled">Mileage From</option>
                                                <option value="1" {% if mileage_range[0]=='1' %}selected="selected"{% endif %}>Up to 5,000 KM</option>
                                                <option value="2" {% if mileage_range[0]=='2' %}selected="selected"{% endif %}>Up to 10,000 KM</option>
                                                <option value="3" {% if mileage_range[0]=='3' %}selected="selected"{% endif %}>Up to 20,000 KM</option>
                                                <option value="4" {% if mileage_range[0]=='4' %}selected="selected"{% endif %}>Up to 30,000 KM</option>
                                                <option value="5" {% if mileage_range[0]=='5' %}selected="selected"{% endif %}>Up to 40,000 KM</option>
                                                <option value="6" {% if mileage_range[0]=='6' %}selected="selected"{% endif %}>Up to 60,000 KM</option>
                                                <option value="7" {% if mileage_range[0]=='7' %}selected="selected"{% endif %}>Up to 80,000 KM</option>
                                                <option value="8" {% if mileage_range[0]=='8' %}selected="selected"{% endif %}>Up to 100,000 KM</option>
                                                <option value="9" {% if mileage_range[0]=='9' %}selected="selected"{% endif %}>Up to 125,000 KM</option>
                                                <option value="10" {% if mileage_range[0]=='10' %}selected="selected"{% endif %}>Up to 150,000 KM</option>
                                                <option value="11" {% if mileage_range[0]=='11' %}selected="selected"{% endif %}>Up to 175,000 KM</option>
                                                <option value="12" {% if mileage_range[0]=='12' %}selected="selected"{% endif %}>Up to 200,000 KM</option>
                                                <option value="13" {% if mileage_range[0]=='13' %}selected="selected"{% endif %}>Up to 225,000 KM</option>
                                                <option value="14" {% if mileage_range[0]=='14' %}selected="selected"{% endif %}>Up to 250,000 KM</option>
                                                <option value="15" {% if mileage_range[0]=='15' %}selected="selected"{% endif %}>More than 250,000 KM</option>
                                                <option value="16" {% if mileage_range[0]=='16' %}selected="selected"{% endif %}>Don’t know, assume normal usage</option>
                                              </select>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="select-appearance"> 
                                            <select name="mileage[{{key}}][to]" class="form-control selectpicker">
                                              <option selected="selected" disabled="disabled">Mileage To</option>
                                              <option value="1" {% if mileage_range[1]=='1' %}selected="selected"{% endif %}>Up to 5,000 KM</option>
                                              <option value="2" {% if mileage_range[1]=='2' %}selected="selected"{% endif %}>Up to 10,000 KM</option>
                                              <option value="3" {% if mileage_range[1]=='3' %}selected="selected"{% endif %}>Up to 20,000 KM</option>
                                              <option value="4" {% if mileage_range[1]=='4' %}selected="selected"{% endif %}>Up to 30,000 KM</option>
                                              <option value="5" {% if mileage_range[1]=='5' %}selected="selected"{% endif %}>Up to 40,000 KM</option>
                                              <option value="6" {% if mileage_range[1]=='6' %}selected="selected"{% endif %}>Up to 60,000 KM</option>
                                              <option value="7" {% if mileage_range[1]=='7' %}selected="selected"{% endif %}>Up to 80,000 KM</option>
                                              <option value="8" {% if mileage_range[1]=='8' %}selected="selected"{% endif %}>Up to 100,000 KM</option>
                                              <option value="9" {% if mileage_range[1]=='9' %}selected="selected"{% endif %}>Up to 125,000 KM</option>
                                              <option value="10" {% if mileage_range[1]=='10' %}selected="selected"{% endif %}>Up to 150,000 KM</option>
                                              <option value="11" {% if mileage_range[1]=='11' %}selected="selected"{% endif %}>Up to 175,000 KM</option>
                                              <option value="12" {% if mileage_range[1]=='12' %}selected="selected"{% endif %}>Up to 200,000 KM</option>
                                              <option value="13" {% if mileage_range[1]=='13' %}selected="selected"{% endif %}>Up to 225,000 KM</option>
                                              <option value="14" {% if mileage_range[1]=='14' %}selected="selected"{% endif %}>Up to 250,000 KM</option>
                                              <option value="15" {% if mileage_range[1]=='15' %}selected="selected"{% endif %}>More than 250,000 KM</option>
                                              <option value="16" {% if mileage_range[1]=='16' %}selected="selected"{% endif %}>Don’t know, assume normal usage</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="mileage[{{key}}][depr]" placeholder="Depreciation %" value="{{mileage.depreciation}}">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select name="mileage[0][from]" class="form-control selectpicker">
                                          <option selected="selected" disabled="disabled">Mileage From</option>
                                          <option value="1">Up to 5,000 KM</option>
                                          <option value="2">Up to 10,000 KM</option>
                                          <option value="3">Up to 20,000 KM</option>
                                          <option value="4">Up to 30,000 KM</option>
                                          <option value="5">Up to 40,000 KM</option>
                                          <option value="6">Up to 60,000 KM</option>
                                          <option value="7">Up to 80,000 KM</option>
                                          <option value="8">Up to 100,000 KM</option>
                                          <option value="9">Up to 125,000 KM</option>
                                          <option value="10">Up to 150,000 KM</option>
                                          <option value="11">Up to 175,000 KM</option>
                                          <option value="12">Up to 200,000 KM</option>
                                          <option value="13">Up to 225,000 KM</option>
                                          <option value="14">Up to 250,000 KM</option>
                                          <option value="15">More than 250,000 KM</option>
                                          <option value="16">Don’t know, assume normal usage</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select name="mileage[0][to]" class="form-control selectpicker">
                                          <option selected="selected" disabled="disabled">Mileage To</option>
                                          <option value="1">Up to 5,000 KM</option>
                                          <option value="2">Up to 10,000 KM</option>
                                          <option value="3">Up to 20,000 KM</option>
                                          <option value="4">Up to 30,000 KM</option>
                                          <option value="5">Up to 40,000 KM</option>
                                          <option value="6">Up to 60,000 KM</option>
                                          <option value="7">Up to 80,000 KM</option>
                                          <option value="8">Up to 100,000 KM</option>
                                          <option value="9">Up to 125,000 KM</option>
                                          <option value="10">Up to 150,000 KM</option>
                                          <option value="11">Up to 175,000 KM</option>
                                          <option value="12">Up to 200,000 KM</option>
                                          <option value="13">Up to 225,000 KM</option>
                                          <option value="14">Up to 250,000 KM</option>
                                          <option value="15">More than 250,000 KM</option>
                                          <option value="16">Don’t know, assume normal usage</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="mileage[0][depr]" placeholder="Depreciation %">
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                    </div>
                </div>
                <button type="button" class="add_more_mileage" data-count="{{count}}"><i class="fa fa-plus"></i> Add more</button>  
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4 class="card-title">Paint</h4></div>
            <div class="card-block">
                <h4>Configure depreciation % on basis of paint condition</h4>
                <div class="section-wrapper">
                    <div class="form-group">
                        {% if paints.count() %}
                        {% for paint in paints %}
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">{{ trans('module::field.paint.options.'~paint.config_value) }}: </label>
                                <input type="number" class="form-control" name="paint[{{paint.config_value}}]" placeholder="Depreciation %" value="{{paint.depreciation}}">
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">Original: </label>
                                <input type="number" class="form-control" name="paint[1]" placeholder="Depreciation %" value="">
                            </div>
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">Partial: </label>
                                <input type="number" class="form-control" name="paint[2]" placeholder="Depreciation %">
                            </div>
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">Total Repaint: </label>
                                <input type="number" class="form-control" name="paint[3]" placeholder="Depreciation %">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4 class="card-title">Specs</h4></div>
            <div class="card-block">
                <h4>Configure deprciation % on basis of specs</h4>
                <div class="section-wrapper">
                    <div class="form-group">
                        {% if specs.count() %}
                        {% for spec in specs %}
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">{{ trans('module::field.specs.options.'~spec.config_value) }}: </label>
                                <input type="number" class="form-control" name="specs[{{spec.config_value}}]" placeholder="Depreciation %" value="{{spec.depreciation}}">
                            </div>
                        {% endfor %}
                        {% else %}
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">GCC: </label>
                                <input type="number" class="form-control" name="specs[1]" placeholder="Depreciation %">
                            </div>
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">Non GCC: </label>
                                <input type="number" class="form-control" name="specs[2]" placeholder="Depreciation %">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4 class="card-title">Option</h4></div>
            <div class="card-block">
                <h4>Configure deprciation % on basis of options</h4>
                <div class="section-wrapper">
                    <div class="form-group">
                        {% if options.count() %}
                            {% for option in options %}
                            <div class="form-inline form-group">
                                <label for="" class="col-md-4 control-label">{{ trans('module::field.option.options.'~option.config_value) }}: </label>
                                <input type="number" class="form-control" name="option[{{option.config_value}}]" placeholder="Depreciation %" value="{{option.depreciation}}">
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="form-inline form-group">
                            <label for="" class="col-md-4 control-label">Basic: </label>
                            <input type="number" class="form-control" name="option[1]" placeholder="Depreciation %">
                        </div>
                        <div class="form-inline form-group">
                            <label for="" class="col-md-4 control-label">Mid: </label>
                            <input type="number" class="form-control" name="option[2]" placeholder="Depreciation %">
                        </div>
                        <div class="form-inline form-group">
                            <label for="" class="col-md-4 control-label">Full: </label>
                            <input type="number" class="form-control" name="option[2]" placeholder="Depreciation %">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><h4 class="card-title">Litre</h4></div>
            <div class="card-block">
                <div class="form-inline form-group">
                    <label for="" class="col-md-4 control-label">Litre: </label>
                    <input type="number" class="form-control" name="litre" placeholder="Depreciation %" value="{{litre.depreciation}}">
                </div>
            </div>
        </div>
<!--         <div class="card">
            <div class="card-header"><h4 class="card-title">Engine Cylinders</h4></div>
            <div class="card-block">
            </div>
        </div> -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    {{ form_close() }}
</div>
</div>

{{ asset_add("config.js", "skrollx.module.cars::js/config.js") }}
{{ asset_script("config.js") }}

{% endblock %}
