{% if row_type == 'evaluation_year' %}
<div class="row">
  <div class="col-md-5">
      <div class="form-group">
          <div class="select-appearance"> 
              <select name="year[{{rowcount}}][from]" class="form-control selectpicker">
                <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                {% for year in "now"|date("Y")..1980 %}
                <option value="{{ year }}">{{ year }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
          <div class="select-appearance"> 
              <select name="year[{{rowcount}}][to]" class="form-control selectpicker">
                <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                {% for year in "now"|date("Y")..1980 %}
                <option value="{{ year }}" {% if year_range[1] == year %}selected="selected"{% endif %}>{{ year }}</option>
                  {% endfor %}
              </select>
          </div>
      </div>
  </div>
  <div class="col-md-5">
      <div class="form-group">
          <input type="number" class="form-control" name="year[{{rowcount}}][depr]" placeholder="Depreciation %">
      </div>
  </div>
</div>
{% else %}
<hr>
<div class="row">
    <div class="col-md-3">
        {{trans('module::field.option.options.1')}}

        <input type="hidden" name="prices[{{model}}][prices][{{newcount}}][option]" value="1">
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount}}][year_from]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount}}][year_to]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="number" name="prices[{{ model }}][prices][{{newcount}}][price]" placeholder="Price">
    </div>
    <div class="col-md-6">
        <select name="prices[{{model}}][prices][{{newcount}}][litre]" class="form-control" data-placeholder="Choose litres">
          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
          {% for size in engine_sizes %}
            <option value="{{size.id}}">{{size.title}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input class="form-control price_value" type="number" name="prices[{{ model }}][prices][{{newcount}}][depreciation]" placeholder="Depreciation">
    </div>
    <div class="col-md-1">
      <button type="button" class="remove_price_row"><i class="fa fa-minus"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{trans('module::field.option.options.2')}}

        <input type="hidden" name="prices[{{model}}][prices][{{newcount+1}}][option]" value="2">
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount+1}}][year_from]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount+1}}][year_to]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="number" name="prices[{{ model }}][prices][{{newcount+1}}][price]" placeholder="Price">
    </div>
    <div class="col-md-6">
        <select name="prices[{{model}}][prices][{{newcount+1}}][litre]" class="form-control" data-placeholder="Choose litres">
          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
          {% for size in engine_sizes %}
            <option value="{{size.id}}">{{size.title}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input class="form-control price_value" type="number" name="prices[{{ model }}][prices][{{newcount+1}}][depreciation]" placeholder="Depreciation">
    </div>
    <div class="col-md-1">
      <button type="button" class="remove_price_row"><i class="fa fa-minus"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{trans('module::field.option.options.3')}}

        <input type="hidden" name="prices[{{model}}][prices][{{newcount+2}}][option]" value="3">
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount+2}}][year_from]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="select-appearance"> 
            <select name="prices[{{model}}][prices][{{newcount+2}}][year_to]" class="form-control selectpicker">
              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
              {% for year in "now"|date("Y")..1980 %}
              <option value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <input class="form-control" type="number" name="prices[{{ model }}][prices][{{newcount+2}}][price]" placeholder="Price">
    </div>
    <div class="col-md-6">
        <select name="prices[{{model}}][prices][{{newcount+2}}][litre]" class="form-control" data-placeholder="Choose litres">
          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
          {% for size in engine_sizes %}
            <option value="{{size.id}}">{{size.title}}</option>
          {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <input class="form-control price_value" type="number" name="prices[{{ model }}][prices][{{newcount+2}}][depreciation]" placeholder="Depreciation">
    </div>
    <div class="col-md-1">
      <button type="button" class="remove_price_row"><i class="fa fa-minus"></i></button>
    </div>
</div>

<script>
  $('.remove_price_row').click(function(){
    $(this).closest('.row').remove();
  })
</script>
{% endif %}