{% extends "theme::layouts/default" %}

{% block content %}
{{ asset_add("prices.css", "skrollx.module.cars::css/*") }}

{{ asset_style("prices.css") }}

<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h4 class="card-title">{{ make.title }}</h4></div>
        <div class="card-block">
            {{ form_open() }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in models %}
                    <tr>
                        <td>
                            {{ model.title }}
                        </td>
                        <td>
                            <input class="form-control model_id" type="hidden" name="prices[{{ model.id }}][model_id]" value="{{ model.id }}">
                            <div class="row">                            
                                <div class="col-md-3">Option</div>
                                <div class="col-md-8">Year Range</div>
                                <div class="col-md-3">Price</div>
                                <div class="col-md-6">Litres</div>
                                <div class="col-md-3">Depreciation</div>
                            </div>
                            <div class="prices-wrapper"> 
                            {% set prices = entries('cars','prices').where('model_id',model.id).orderBy('id','ASC').get() %}
                            {% set new_rowcount = 3 %}

                            {% if prices.count() %}
                                
                                {% set new_rowcount = prices.count() %}
                                
                                {% for key,price in prices %}
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{trans('module::field.option.options.'~price.option)}}

                                            <input type="hidden" name="prices[{{model.id}}][prices][{{key}}][option]" value="{{price.option}}">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-appearance"> 
                                                <select name="prices[{{model.id}}][prices][{{key}}][year_from]" class="form-control selectpicker from_year_value">
                                                  <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                                  {% for year in "now"|date("Y")..1980 %}
                                                  <option value="{{ year }}" {% if price.year_from.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="select-appearance"> 
                                                <select name="prices[{{model.id}}][prices][{{key}}][year_to]" class="form-control selectpicker to_year_value">
                                                  <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
                                                  {% for year in "now"|date("Y")..1980 %}
                                                  <option value="{{ year }}" {% if price.year_to.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                                  {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][{{key}}][price]" value="{{ price.price.value }}" placeholder="Price">
                                        </div>
                                        <div class="col-md-6">
                                            <select name="prices[{{model.id}}][prices][{{key}}][litre]" class="form-control" data-placeholder="Choose litres">
                                              <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
                                              {% for size in engine_sizes %}
                                                <option value="{{size.id}}" {% if size.id == price.engine_size_id %}selected{% endif %}>{{size.title}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][{{key}}][depreciation]" value="{{ price.depreciation }}" placeholder="Price">
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            {% else %}
                                <div class="row">
                                    <div class="col-md-3">
                                        {{trans('module::field.option.options.1')}}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][0][year_from]" class="form-control from_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_from.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][0][year_to]" class="form-control to_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_to.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][0][price]" value="{{ price.price.value }}" placeholder="Price">
                                    </div>
                                    <div class="col-md-6">
                                        <select name="prices[{{model.id}}][prices][0][litre]" class="form-control" data-placeholder="Choose litres">
                                          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
                                          {% for size in engine_sizes %}
                                            <option value="{{size.id}}">{{size.title}}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="prices[{{model.id}}][prices][0][option]" value="1">
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][0][depreciation]" placeholder="Depreciation">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{trans('module::field.option.options.2')}}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][1][year_from]" class="form-control from_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_from.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][1][year_to]" class="form-control to_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_to.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][1][price]" value="{{ price.price.value }}" placeholder="Price">
                                    </div>
                                    <div class="col-md-6">
                                        <select name="prices[{{model.id}}][prices][1][litre]" class="form-control" data-placeholder="Choose litres">
                                          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
                                          {% for size in engine_sizes %}
                                            <option value="{{size.id}}">{{size.title}}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="prices[{{model.id}}][prices][1][option]" value="2">
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][1][depreciation]" placeholder="Depreciation">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{trans('module::field.option.options.3')}}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][2][year_from]" class="form-control from_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.from_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_from.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select-appearance"> 
                                            <select name="prices[{{model.id}}][prices][2][year_to]" class="form-control to_year_value">
                                              <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.to_year.placeholder') }}</option>
                                              {% for year in "now"|date("Y")..1980 %}
                                              <option value="{{ year }}" {% if price.year_to.value == year %}selected="selected"{% endif %}>{% if year=="now"|date("Y") %}Current year{% else %}{{ year }}{% endif %}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][2][price]" value="{{ price.price.value }}" placeholder="Price">
                                    </div>
                                    <div class="col-md-6">
                                        <select name="prices[{{model.id}}][prices][2][litre]" class="form-control" data-placeholder="Choose litres">
                                          <option disabled="disabled">{{ trans('skrollx.module.cars::field.engine_sizes.placeholder') }}</option>
                                          {% for size in engine_sizes %}
                                            <option value="{{size.id}}">{{size.title}}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="prices[{{model.id}}][prices][2][option]" value="3">
                                    <div class="col-md-3">
                                        <input class="form-control price_value" type="number" name="prices[{{ model.id }}][prices][2][depreciation]" placeholder="Depreciation">
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                            <div class="form-group add_more_price_wrap"> 
                                <button type="button" class="add_price" data-count='{{new_rowcount}}'><i class="fa fa-plus"></i> Add More</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ url('admin/cars/makes') }}" class="btn btn-default">Cancel</a>
            </div>
            {{ form_close() }}
        </div>
    </div>
</div>
</div>

{{ asset_add("chosen.js", "skrollx.module.cars::js/chosen.min.js") }}
{{ asset_add("prices.js", "skrollx.module.cars::js/prices.js") }}
{{ asset_script("chosen.js") }}
{{ asset_script("prices.js") }}

{% endblock %}
