{% extends "theme::layouts/default" %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h4 class="card-title">{{ car.title }}</h4></div>
        <div class="card-block">
            <h4 class="card-title">Evaluation contact info:</h4><hr>
            <p>
                <strong>{{ trans('skrollx.module.cars::field.name.name') }}: </strong>{{ car.first_name~' '~car.last_name }}
                <br/><strong>{{ trans('skrollx.module.cars::field.mobile.name') }}: </strong>{{ car.mobile }}
                <br/><strong>{{ trans('skrollx.module.cars::field.alt_contact.name') }}: </strong>{{ car.alt_contact }}
                <br/><strong>{{ trans('skrollx.module.cars::field.email.name') }}: </strong>{{ car.email }}
                <br/><strong>{{ trans('skrollx.module.cars::field.date.evaluation') }}: </strong>{{ car.date.toDateTimeString() }}
                <br/><strong>{{ trans('skrollx.module.cars::field.location.name') }}: </strong>{{ car.location.name }}
            </p>
            <h4 class="card-title">Car info:</h4><hr>
            <p>
                <strong>{{ trans('skrollx.module.cars::field.make.name') }}: </strong>{{ car.make.title }}
                <br/><strong>{{ trans('skrollx.module.cars::field.model.name') }}: </strong>{{ car.model.title }}
                <br/><strong>{{ trans('skrollx.module.cars::field.year.name') }}: </strong>{{ car.year }}
                <br/><strong>{{ trans('skrollx.module.cars::field.engine_size.name') }}: </strong>{{ car.engine_size.title }}
                <br/><strong>{{ trans('skrollx.module.cars::field.specs.name') }}: </strong>{{ car.specs.value }}
                <br/><strong>{{ trans('skrollx.module.cars::field.mileage.name') }}: </strong>{{ car.mileage.value }}
                <br/><strong>{{ trans('skrollx.module.cars::field.option.name') }}: </strong>{{ car.option.value }}
                <br/><strong>{{ trans('skrollx.module.cars::field.paint.name') }}: </strong>{{ car.paint.value }}
            </p>
            <p>
                <strong>{{ trans('skrollx.module.cars::field.status.name') }}: </strong>{{ car.status.value }}
            </p>

            {# {% for id,status in config('skrollx.module.cars::cars.status') %}
                {{ trans(status) }}
            {% endfor %} #}
        </div>
    </div>
</div>

{% endblock %}
