{% extends layout('default') %}

{% block content %}
	<div class="container">
		<div class="page_not_found">
			<h1>500</h1>
			<h3>Error occured</h3>
			<p>We are sorry but the page you are looking for does not exist or some error occcured.</p>
			<p>Return to <a href="{{ url('/') }}">homepage</a></p>
		</div>
	</div>
{% endblock %}