@media(min-width:1601px){
	.slider-form-container{
		min-height:580px;
	}

	.slider-inner-container{
		min-height:580px;
	}

	.slider-inner-container .bx-wrapper .bx-viewport{
		height:580px !important;
	}

	.slider-inner-container .bx-wrapper .bx-viewport iframe{
		height:580px !important;
	}
}

@media(max-width:1850px) and  (min-width:1601px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.slider-form-wrap{
		padding: 45px 35px 30px;
	}

	.slider-form-wrap h3{
		margin: 0 0 30px;
	}

	.steps-block{
		padding: 52px 15px 44px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */
}

@media(max-width: 1600px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.slider-inner-container .bx-wrapper .bx-viewport{
		height:500px !important;
	}

	.site-navigation ul li .btn-group .site-btn{
		width: 119px;
	}

	.site-navigation ul li a{
		padding: 5px 17px;
	}

	.site-navigation ul li.switch-lang{
		padding: 0 14px;
	}

	#menu-right ul li.dropdown .site-btn{
		width: 170px;
	}

	.slider-caption h1{
		font-size: 52px;
	}

	.slider-form-wrap{
		padding: 25px 30px;
	}

	.slider-form-wrap h3{
		font-size: 22px;
	    margin: 0 0 20px;
	}

	.slider-form-wrap h3 span{
		font-size: 19px;
	}

	.slider-form-wrap form {
	    padding-bottom: 5px;
	}

	.slider-form-wrap .form-group{
		margin-bottom: 17px;
	}

	.slider-form-wrap form .bootstrap-select .btn.btn-default {
	    padding: 6px 55px 6px 15px;
	}

	.slider-form-wrap .form-control, 
	.slider-form-wrap .bootstrap-select .btn.btn-default{
		height: 40px;
		font-size: 15px;
	}

	.slider-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret{
		line-height: 38px;
		width: 40px;
	}

	.slider-form-wrap .select-appearance .caret::before{
		font-size: 20px;
	}

	.slider-form-wrap form input[name="register"]{
		margin-top: 0;
	}

	.call-us{
		padding-top: 20px;
	}

	.steps-block{
		padding: 47px 20px 44px;
	}

	.steps-icon {
	    width: 80px;
	}

	.steps-details {
	    width: 77%;
	    padding-left: 20px;
	}

	.steps-details h4{
		font-size: 16px;
	}

	.step-ribbon {
	    font-size: 18px;
	    top: -20px;
	    left: -15px;
	    padding: 5px 20px;
	}

	.step-ribbon span {
	    font-size: 22px;
	}

	.whyMeBuyCar-block-wrap,.benefits-block-wrap{
		padding-left: 0;
		padding-right:0;
	}

	.whyMeBuyCar-block .whyMeBuyCar-icon{
		width: 78px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */
}

@media(max-width: 1280px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.site-navigation ul li a{
		padding: 5px 15px;
		font-size: 15px;
	}

	.site-navigation ul li.switch-lang{
		padding: 0 13px;
	}

	.slider-form-wrap h3{
		font-size: 20px;
		margin: 0 0 15px;
	}

	.slider-form-wrap h3 span{
		font-size: 17px;
	}

	.slider-form-wrap .form-group{
		margin-bottom: 15px;
	}

	.slider-form-wrap .site-btn{
		padding: 8px 40px 9px;
	}

	.call-us {
	    padding-top: 15px;
	}

	.call-us h4{
		font-size: 17px;
	}

	.call-us h4 span {
	    font-size: 20px;
	    padding: 8px 0 0;
	}

	.steps-icon {
	    width: 70px;
	}

	.steps-details h4{
		font-size: 15px;
	}

	.steps-details p{
		font-size: 15px;
	}

	.whyMeBuyCar-block .whyMeBuyCar-icon{
		width: 61px;: 
	}

	.whyMeBuyCar-block h4 {
	    font-size: 16px;
	    width: 184px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */
}

@media(min-width: 992px) and (max-width: 1279px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.site-header{
		height: 95px;
	}

	.site-logo {
	    padding-left: 15px;
	    padding-right: 15px;
	    height: 95px;
	    width: 20%;
	}

	.main-navigation {
	    padding: 31px 10px;
	    width: 80%;
	}

	.site-navigation ul li a{
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.site-navigation ul li.switch-lang{
		padding: 0 10px;
	}

	#menu-right ul li.dropdown .site-btn {
	    padding-left: 10px;
	    padding-right: 23px;
	    width: 134px;
	}

	#menu-right ul li.dropdown .site-btn i{
		width: 24px;
	}

	.site-navigation ul li .site-btn{
		padding: 9px 20px;
	}

	.site-navigation ul li .btn-group .site-btn {
	    width: 108px;
	}

	.slider-wrap{
		width: 65%;
	}

	.slider-caption{
		padding-left: 40px;
		padding-right: 40px;
	}

	.slider-caption h1{
		font-size: 36px;
	}

	.slider-form-wrap{
		width: 35%;
	 	padding:15px;
	}

	.slider-form-wrap h3{
	    font-size: 16px;
	    margin: 0 0 10px;
	}

	.slider-form-wrap h3 span {
	    font-size: 14px;
	}

	.slider-form-wrap .form-group {
	    margin-bottom: 10px;
	}

	.slider-form-wrap .form-control, .slider-form-wrap .bootstrap-select .btn.btn-default {
	    font-size: 14px;
	    height: 30px;
	}

	.slider-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret {
	    line-height: 30px;
	    width: 35px;
	}

	.slider-form-wrap .site-btn {
		font-size: 15px;
	    padding: 5px 40px;
	}

	.slider-form-wrap form{
		padding-bottom: 0;
	}

	.call-us {
	    padding-top: 10px;
	}

	.call-us h4 {
	    font-size: 14px;
	}

	.call-us h4 span {
	    font-size: 14px;
	    padding: 5px 0 0;
	}

	.steps-block-wrap [class^="col-"]{
		padding: 0 15px;
	}

	.steps-icon{
		display: block;
	 	margin: 0 auto 20px;
	}

	.steps-block{
		padding: 20px;
	}

	.steps-details {
	    padding-left: 0;
	    text-align: center;
	    width: auto;
	}

	.steps-details h4{
		margin: 0 0 20px;
	}

	.step-ribbon {
	    font-size: 16px;
	    left: -13px;
	    padding: 2px 15px;
	    top: -15px;
	}

	.step-ribbon span {
	    font-size: 20px;
	}

	.steps-block::before{
		width: 50%;
	}

	.whyMeBuyCar-block h4 {
	    font-size: 14px;
	    margin: 0 0 0 15px;
	    padding-left: 20px;
	    width: 145px;
	}

	.whyMeBuyCar-block .whyMeBuyCar-icon {
	    width: 54px;
	}

	.benefits-block h3{
		font-size: 16px;
	}

	.container{
		width: 970px;
		padding: 0 15px;
	}

	.about-us-container, .user-prof-container{
		padding: 0;
	}

	.contact-container{
		padding-left: 0;
	}

	.contact-form-wrap [class^="col-"]:first-child .form-group{
		width: 178px;
	}

	.filter-cars-form-wrap .form-group {
	    width: 18.8%;
	}

	.filter-cars-form-wrap .form-group:last-child {
	    margin-left: 0;
    	text-align: left;
	}

	.car-listing-block .car-details ul{
		width: 400px;
	}

	.car-view-slider{
		width: 45%;
	}

	.car-view-details{
		width: 55%;
	}

	.carousel-indicators li, .carousel-indicators .active{
		width: 97px;
	}

	.car-view-details{
		padding-left: 40px;
	}

	.car-view-details .seller-detail{
		padding: 10px 0 20px;
	}

	.page-dealer,.page-locations,.page-why-choose-us{
		min-height: 1024px;
	}

    #locMap {
        height: 325px;
    }

	/* _____________________________________________ Home Page End _________________________________________ */
}

@media(min-width: 768px) and (max-width: 991px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.site-header{
		height: auto;
	}

	.main-navigation{
		padding: 26px 70px 26px 10px;
    	position: relative;
	}

	#menu-left,.site-navigation ul li:first-child,.site-navigation ul li:nth-of-type(2){
		display: none;
	}

	.site-logo{
		padding-left: 10px;
		padding-right: 10px;
		height: 97px;
	}

	.navbar-toggle{
		background: #dc2b07;
	    border-radius: 0;
	    display: block;
	    float: right;
	    margin: 0 10px 0 0;
	    position: absolute;
	    right: 0;
	    top: 33px;
	    border: none;
	}

	.navbar-toggle .icon-bar{
		background: #fff;
	}

	.slider-wrap,.slider-form-wrap{
		float: none;
		width: 100%;
	}

	.slider-form-wrap{
		position: static;
	}

	.site-navigation ul li .btn-group,#menu-right ul li.dropdown .site-btn {
	    margin: 0;
	    top: 0;
	}

	.site-navigation ul li .site-btn{
		display: block;
	}

	#mobileResponsiveMenu {
	    background: #f1f1f1;
	    padding: 5px 10px;
	}

	#mobileResponsiveMenu .navbar-nav{
		float: none;
	}

	#mobileResponsiveMenu .navbar-nav li {
	    display: block;
	    float: none;
	}

	#mobileResponsiveMenu .navbar-nav li a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    color: #676464;
	    font-size: 15px;
	    padding: 8px 0;
	}

	#mobileResponsiveMenu .navbar-nav li:last-child a{
		border: none;
	}

	#mobileResponsiveMenu .navbar-nav li a:hover,
	#mobileResponsiveMenu .navbar-nav li.current-menu-item a{
		color:  #dc2b07;
	}

	.slider-caption{
		padding: 30px;
	}

	.slider-caption h1 {
	    font-size: 42px;
	}

	.steps-block-wrap [class^="col-"]{
		padding: 0 15px;
	}

	.steps-block {
	    padding: 15px;
	    min-height: 251px;
	}

	.steps-block::before{
		width: 50%;
	}

	.steps-icon {
	    display: block;
	    margin: 0 auto 15px;
	    width: 50px;
	}

	.steps-details {
	    padding-left: 0;
	    text-align: center;
	    width: auto;
	}

	.steps-details h4{
		margin: 0 0 10px;
	}

	.step-ribbon {
	    font-size: 15px;
	    left: -10px;
	    padding: 5px 10px;
	    top: -17px;
	}

	.step-ribbon span {
	    font-size: 18px;
	}

	.page-desc{
		width: auto;
	}

	.why-meBuy-car-section,.benefits-block-wrap{
		padding-bottom: 30px;
	}

	.whyMeBuyCar-block,.benefits-block{
		margin: 0 0 30px;
	}

	.whyMeBuyCar-block h4{
		width: 268px;
	}

	.benefits-block h3{
		font-size: 18px;
	}

	.container {
	    padding: 0 15px;
	    width: 750px;
	}

	.footer-block {
	    margin-bottom: 30px;
	}

	.footer-block-wrap [class^="col-"]:nth-of-type(2) .footer-block, 
	.footer-block-wrap [class^="col-"]:last-child .footer-block{
		padding-left: 0;
	}

	.how-it-works-container .steps-block-wrap {
	    padding: 40px 0 60px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

	/* ___________________________________________ About Page Start ________________________________________ */

	.site-main{
		min-height: 715px;
	}

	.about-us-container, .user-prof-container{
		padding: 0;
	}

	.video-frame {
	    width: 430px;
	}

	.video-frame iframe {
	    height: 240px;
	}

	.testimonial-section {
	    padding-bottom: 0;
	}

	.testimonial-block-wrap [class^="col-"]:last-child .testimonial-block {
	    margin: 0;
	}

	/* ____________________________________________ About Page End _________________________________________ */

	/* __________________________________________ Contact Page Start _______________________________________ */

	.contact-container{
		padding-left:0;
		padding-bottom: 50px;
	}

	.contact-address .page-title{
		font-size: 34px;
	}

	.contact-form-wrap [class^="col-"]:first-child .form-group {
	    display: block;
	    margin: 0 0 11px;
	    width: auto;
	}

	.page-locations,.page-why-choose-us {
	    min-height: inherit;
	}

	/* ___________________________________________ Contact Page End ________________________________________ */

	/* ________________________________________ Appointment Page Start _____________________________________ */

	.appoinment-form-wrap{
		width: auto;
	}

	.radio-list-group .radio {
	    font-size: 14px;
	    margin-right: 13px;
	}

	.valuation-box span.site-icon{
		left: 30px;
	}

	.valuation-box{
		padding-left:95px;
		padding-right: 95px;
	}

	/* _________________________________________ Appointment Page End ______________________________________ */

	/* ________________________________________ Car Listing Page Start _____________________________________ */

	#menu-right ul li.dropdown .site-btn{
		width: 200px;
	}

	.filter-cars-form-wrap .form-group{
		width: 32%;
	}

	.filter-cars-form-wrap .form-group:nth-of-type(4n){
		margin-left: 0;
	}

	.sort-by-wrap .form-group{
		width: 25%;
	}

	.car-listing-block .car-details h1{
		font-size: 28px;
	}

	.car-listing-block .car-details h1 span{
		font-size: 18px;
	}

	.car-listing-block .car-details ul{
		width: auto;
	}

	.car-listing-detail-wrap .ultimatum {
	    padding: 40px 0 10px;
	    position: static;
	    display: block;
	}

	.choose-option-list ul li a{
		font-size: 15px;
	}

	#carModalGallerySlider .carousel-indicators li, #carModalGallerySlider .carousel-indicators .active{
		width: 120px;
	}

	.carousel-control{
		bottom: 15px;
	}

	.carousel-control.left{
		left: 15px;
	}

	.carousel-control.right{
		right: 15px;
	}

	.car-view-slider{
		float: none;
		width: 100%;
	}

	.car-view-slider img{
		width: 100%;
	}

	.carousel-indicators{
		text-align: center;
	}

	.carousel-indicators li, .carousel-indicators .active{
		width: 171px;
	}

	.car-view-details {
	    float: none;
	    padding-left: 0;
	    width: 100%;
	}

	.car-view-details .seller-detail{
		padding: 10px 0 30px;
	}

	.nav-tabs > li{
		margin-bottom: -2px;
	}

    #locMap {
        height: 325px;
    }

	/* _________________________________________ Car Listing Page End ______________________________________ */

}

@media(max-width: 767px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.site-header{
		height: auto;
	}

	.main-navigation{
		padding: 10px;
		width: 100%;
	}

	#menu-left,.site-navigation ul li:first-child,.site-navigation ul li:nth-of-type(2){
		display: none;
	}

	.site-logo{
		padding: 10px 0;
		height: auto;
		width: 100%;
	}

	.container-fluid > .navbar-header.site-logo{
		margin: 0;
	}

	.site-logo img{
		width: 150px;
	}

	.navbar-toggle{
		background: #dc2b07;
	    border-radius: 0;
	    display: block;
	    margin: 0 10px 0 0;
	    padding: 5px;
	    position: absolute;
	    right: 0;
	    top: 5px;
	    border: none;
	}

	.navbar-toggle .icon-bar{
		background: #fff;
	}

	#menu-right {
	    float: none;
	    text-align: center;
	}

	.site-navigation ul li a,.site-navigation ul li.switch-lang{
		font-size: 14px;
	}

	.site-navigation ul li.switch-lang{
		padding: 0 10px 0 0;
	}

	.site-navigation ul li .site-btn{
		padding: 5px 15px;
		display: block;
	}

	.site-navigation ul li .btn-group,#menu-right ul li.dropdown .site-btn {
	    margin: 0;
	    top: 0;
	}

	#mobileResponsiveMenu {
	    background: #f1f1f1;
	    padding: 0 10px;
	}

	#mobileResponsiveMenu .navbar-nav{
		float: none;
		margin: 0;
	}

	#mobileResponsiveMenu .navbar-nav li {
	    display: block;
	    float: none;
	}

	#mobileResponsiveMenu .navbar-nav li a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    color: #676464;
	    font-size: 14px;
	    padding: 5px 0;
	}

	#mobileResponsiveMenu .navbar-nav li:last-child a{
		border: none;
	}

	#mobileResponsiveMenu .navbar-nav li a:hover,
	#mobileResponsiveMenu .navbar-nav li.current-menu-item a{
		color:  #dc2b07;
	}

	.main-slider-section,.how-it-works-section {
	    padding: 20px 0 0;
	}

	.slider-inner-container {
	    box-shadow: none;
	    margin-top: 0;
	}

	.slider-form-container {
	    background:none;
	    border: none;
	    padding: 0;
	}

	.slider-wrap{
		float: none;
		width: 100%;
		margin: 0 0 20px;
	}

	.slider-caption{
		padding: 10px 15px;
	}

	.slider-caption h1 {
	    font-size: 24px;
	}

	.slider-form-wrap{
		float: none;
		width: 100%;
		position: static;
		padding: 15px;
	}

	.slider-form-wrap h3,.call-us h4 span,.valuation-form-wrap h3,.valuation-form-wrap h3 span,
	.contact-form-wrap h3{
		font-size: 18px;
	}

	.slider-form-wrap h3 span,.call-us h4 {
	    font-size: 16px;
	}

	.slider-form-wrap .site-btn,.site-btn,.contact-form-wrap .site-btn,.step-1-form-wrap .site-btn,
	.appoinment-form-wrap .site-btn,.filter-cars-form-wrap .site-btn {
	    padding: 9px 15px;
	    font-size: 15px;
	}

	.call-us h4{
		margin: 0;
	}

	.page-title,.car-listing-block .car-details h1{
		font-size: 22px;
		margin: 0 0 15px;
	}

	.page-desc{
		font-size: 16px;
		width: auto;
	}

	.how-it-works-section .page-desc{
		padding-left: 0;
	}

	.steps-block-wrap {
	    padding: 15px 0 0;
	}

	.steps-block-wrap [class^="col-"]{
		padding: 0 15px;
	}

	.steps-block {
	    padding: 15px;
	    border-bottom-width: 2px;
	    margin: 0 0 25px;
	}

	.steps-block-wrap [class^="col-"]:last-child .steps-block,
	.whyMeBuyCar-block-wrap [class^="col-"]:last-child .whyMeBuyCar-block,
	.benefits-block-wrap [class^="col-"]:last-child .benefits-block,
	.footer-block-wrap [class^="col-"]:last-child .footer-block,
	.contact-form-wrap [class^="col-"]:last-child .form-group:last-child {
		margin: 0;
	}

	.steps-block::before{
		width: 50%;
		bottom: -2px;
		border-bottom-width: 2px;
	}

	.steps-icon {
	    display: block;
	    margin: 0 auto 15px;
	}

	.steps-details {
	    padding-left: 0;
	    text-align: center;
	    width: auto;
	}

	.steps-details h4,.benefits-block,.footer-block h4,.valuation-form-wrap h3,
	.valuation-form-wrap .form-group,.testimonial-section .page-title,.contact-address .page-title,
	.contact-form-wrap h3,.step-1-form-wrap form h3,.form-group,.appoinment-form-wrap form h3,
	.step-1-form-wrap ul{
		margin: 0 0 15px;
	}

	.step-ribbon {
	    font-size: 15px;
	    left: -10px;
	    padding: 2px 10px;
	    top: -15px;
	}

	.step-ribbon span,.benefits-block h3,.step-1-form-wrap form h3,.appoinment-form-wrap form h3 {
	    font-size: 18px;
	}

	.why-meBuy-car-section,.benefits-section,.partner-section{
		padding: 30px 0;
	}

	.whyMeBuyCar-block-wrap {
	    padding: 15px 0 0;
	}

	.whyMeBuyCar-block-wrap{
		text-align: left;
	}

	.whyMeBuyCar-block,.footer-block,.footer-block-wrap,.testimonial-block,.contact-address,.car-listing-block {
	    margin: 0 0 20px;
	}

	.whyMeBuyCar-block .whyMeBuyCar-icon{
		width: 50px;
	}

	.whyMeBuyCar-block h4{
		font-size: 15px;
		width: auto;
		margin: 0 0 0 15px;
		padding-left: 15px;
	}

	.whyMeBuyCar-block h4 br,.slider-caption h1 br{
		display: none;
	}

	.benefits-block-wrap {
	    padding: 10px 0 20px;
	}

	.container{
		width: auto;
		padding: 0 15px;
	}

	.site-footer{
		padding: 20px 0 0;
	}

	.footer-block #testimonial-slider p{
		padding-right: 0;
	}

	.footer-block-wrap [class^="col-"]:nth-of-type(2) .footer-block, 
	.footer-block-wrap [class^="col-"]:last-child .footer-block{
		padding-left: 0;
	}

	.site-info{
		padding: 10px 0;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

	/* ________________________________________ How It Works Page Start ____________________________________ */

	.site-main{
		padding: 20px 0;
		min-height: inherit;
	}

	.how-it-works-container .steps-block-wrap{
		padding: 15px 0 20px;
	}

	.valuation-form-wrap,.contact-form-wrap{
		width: 100%;
		padding: 15px;
		margin: 0;
	}

	.form-control, .bootstrap-select .btn.btn-default{
		height: 40px;
		font-size: 15px;
	}

	.bootstrap-select.btn-group .dropdown-toggle .caret{
	 	line-height: 38px;
		width: 40px;
	}

	.select-appearance .caret::before{
		font-size: 20px;
	}

	.valuation-form-wrap .form-group:last-child{
		padding: 0;
		margin: 0;
	}

	/* _________________________________________ How It Works Page End _____________________________________ */

	/* ___________________________________________ Dealer Page Start _______________________________________ */

	.site-navigation ul li .btn-group .site-btn{
		width: 95px;
	 	padding: 5px 10px;
	}

	.partner-block {
	    margin-top: 0;
	}

	.page-complete-your-details .stripped-form-wrap{
		padding: 20px;
	}

	.page-complete-your-details .stripped-form-wrap .form-title{
		font-size: 18px;
		margin: 0 0 15px;
	}

	.complete-registration-form .input-group-btn .btn {
	    padding: 10px 15px;
	    border-right: none;
	    font-size: 14px;
	}

	.page-complete-your-details .stripped-form-wrap h3 {
	    font-size: 16px;
	    margin: 0 0 15px;
	}

	.complete-registration-form .help-block {
	    font-size: 12px;
	    margin: 4px 0 0;
	}

	.page-complete-your-details .container, .page-complete-your-details .container > .col-sm-12 {
	    padding: 0;
	}

	.complete-registration-form .checkbox {
	    font-size: 15px;
	}

	p:empty,p br {
	    display: none;
	}

	/* ____________________________________________ Dealer Page End ________________________________________ */

	/* ___________________________________________ About Page Start ________________________________________ */

	.about-us-container, .user-prof-container,.testimonial-block-wrap,.faq-section,.contact-container,
	.appoinment-form-wrap form .btn-center-wrap{
		padding: 0;
	}

	.video-section{
		padding: 10px 0 0;
	}

	.video-section [class^="col-"]:first-child{
		float: none;
		margin: 0 0 20px;
	}

	.video-section p{
		font-size: 16px;
	}

	.video-frame {
	    width: auto;
	    float: none;
	    margin: 0 0 20px;
	}

	.faq-section h3{
		font-size: 18px;
		margin: 0 0 15px;
	}

	.panel-title,.panel-body{
		font-size: 15px;
	}

	.panel-title > a,.panel-body{
		padding: 10px;
	}

	.testimonial-section{
		padding: 30px 0 0 0;
	}

	.thumb-profile{
		height: 100px;
		width: 100px;
		margin-bottom: 15px;
	}

	/* ____________________________________________ About Page End _________________________________________ */

	/* __________________________________________ Contact Page Start _______________________________________ */

	.contact-address ul li{
		line-height: 25px;
	}

	.contact-form-wrap,.contact-info-block,.filter-cars-form-wrap,.sort-by-wrap,.car-view-wrap,.note-block{
		margin: 0 0 20px;
	}

	.contact-form-wrap [class^="col-"]:first-child .form-group{
		width: auto;
		display: block;
		margin-right: 0;
	}

	.contact-form-wrap .site-btn{
		margin-top: 0;
	}

	#contact-map {
	    height: 300px;
	    margin-bottom: 0;
	}

	/* ___________________________________________ Contact Page End ________________________________________ */

	/* ________________________________________ Appointment Page Start _____________________________________ */

	.appoinment-form-wrap{
		width: auto;
	}

	.appoinment-form-wrap > ul > li,.user-prof-container #primary{
		padding-left: 0;
	}

	.appoinment-form-wrap > ul > li > a{
		font-size: 16px;
	}

	.appoinment-form-wrap > ul > li > a > span{
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin-right: 5px;
	}

	.appoinment-form-wrap.step-1-form-wrap form,.appoinment-form-wrap form{
		padding: 15px;
	}

	.appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child{
		float: none;
	}

	.step-1-form-wrap .col-sm-6, .appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child + .col-sm-6, 
	.appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child{
		padding: 0 15px;
	}

	.radio-list-group{
		padding: 6px 15px;
	}

	.radio-list-group > label{
		margin: 0 0 5px;
	}

	.step-1-form-wrap .checkbox,.appoinment-form-wrap.step-1-form-wrap form > .form-group:last-child{
		margin: 0;
	}

	.valuation-box{
		margin: 15px 0 20px;
		padding: 15px 15px 15px 60px;
	}

	.valuation-box h3{
		font-size: 18px;
		margin: 0 0 5px;
	}

	.valuation-box h3 span,.car-view-details .seller-detail{
		font-size: 18px;
	}

	.valuation-box span.site-icon {
	    left: 15px;
	    top: 25px;
	    width: 35px;
	}

	.valuation-box p,.contact-info-block h2 a{
		font-size: 15px;
	}

	.appoinment-form-wrap form .col-sm-6:first-child {
	    float: none;
	    padding-left: 15px;
	}

	.appoinment-form-wrap form .col-sm-6:first-child + .col-sm-6{
		padding-right: 15px;
	}

	/* _________________________________________ Appointment Page End ______________________________________ */

	/* _______________________________________ User Profile Page Start _____________________________________ */

	#menu-right ul li.dropdown .site-btn {
	    font-size: 13px;
	    padding: 5px 30px 5px 15px;
	    width: 149px;
	}

	#menu-right ul li.dropdown .site-btn i{
		line-height: 33px;
		width: 25px;
	}

	.user-prof-container #secondary,.user-prof-container #primary,.car-listing-block .thumbnail-img,
	.car-listing-block .car-details,.car-view-slider,.car-view-details{
		float: none;
		width: auto;
	}

	.contact-info-block h2,.car-view-details h2 {
	    font-size: 22px;
	    margin: 0 0 15px;
	}

	.user-prof-list-block{
		padding: 10px 15px;
	}

	/* ________________________________________ User Profile Page End ______________________________________ */

	/* _______________________________________ Car listing Page Start ______________________________________ */
	
	.filter-cars-form-wrap h4{
		font-size: 20px;
		margin: 0 0 15px;
	}

	.filter-cars-form-wrap .form-group,.sort-by-wrap .form-group,.sort-by-wrap .form-group:first-child{
		display: block;
		width: auto;
		margin-left: 0;
	}

	.filter-cars-form-wrap .form-group:last-child,.site-pagination .pagination{
		text-align: inherit;
	}

	.sort-by-wrap .form-group,.sort-by-wrap .form-group:first-child{
		margin-right: 0;
	}

	.sort-by-wrap .site-addon {
	    font-size: 15px;
	    line-height: 40px;
	}

	.sort-by-wrap .site-pagination{
		float: none;
	}

	.site-pagination .pagination{
		margin: 20px 0 0;
	}

	.sort-by-wrap .site-pagination .pagination{
		margin: 0;
	}

	.pagination > li > a, .pagination > li > span{
		padding: 7px;
		width: 40px;
		text-align: center;
	}

	.car-listing-block .thumbnail-img img{
		width: 100%;
	}

	.car-listing-block .car-details,.car-view-details{
		padding: 15px 0 0;
	}

	.car-listing-block .car-details h1 span{
		font-size: 16px;
		float: none;
		padding-left: 10px;
	}

	.car-listing-block .car-details ul{
		width: auto;
	}

	.car-listing-block .car-details ul li span{
		width: 160px;
	}

	.car-listing-detail-wrap .ultimatum {
		display: block;
		font-size: 18px;
		padding: 20px 0 0;
		position: static;
	}

	.choose-option-list ul li{
		display: block;
		float: none;
		width: auto;
	}

	.choose-option-list ul li a {
	    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
	    font-size: 15px;
	    padding: 8px 0;
	}

	.modal-dialog{
		padding: 0 15px;
	}

	#carModalGallerySlider .carousel-indicators li, #carModalGallerySlider .carousel-indicators .active,
	.carousel-indicators li, .carousel-indicators .active{
		width: 23%;
	}

	.carousel-control.left{
		left: 50%;
    	margin-left: -20px;
	}

	.carousel-control.right{
    	right: 50%;
		margin-right: -20px;
	}

	.carousel-control{
		bottom: -55px;
	}

	.car-view-slider img{
		width: 100%;
	}

	.carousel-indicators{
		text-align: center;
	}

	.car-view-details .seller-detail{
		padding: 0 0 15px;
	}

	.car-view-details form label {
	    font-size: 16px;
	    padding: 0 0 10px;
	}

	.note-block{
		padding: 10px 15px;
	}

	.nav-tabs > li:first-child{
		margin-left:0;
	}

	.nav-tabs > li > a,.nav-tabs > li:first-child > a{
		padding: 8px 15px;
		transform: inherit;
		font-size: 15px;
	}

	.nav-tabs > li > a > span{
		transform: inherit;
	}

	.information-list ul li span{
		width: 48%;
		padding: 0 20px 0 0;
	}

	.tab-content{
		padding: 15px;
	}

    .page-why-spanchoosespan-us .page-desc-wrap {
        padding:0;
    }

	/* ________________________________________ Car Listing Page End _______________________________________ */

}

@media(max-width: 667px){

	.how-it-works-container video{
		width: 100%;
	}
}

@media(max-width: 480px){
	/* ___________________________________________ Home Page Start ________________________________________ */
	
	.slider-caption h3{
		font-size: 16px;
		line-height: 20px;
	}

	.advantages-block h3{
		font-size:16px;
	}

	.advantages-block p{
		font-size:16px;
	}

	/* ____________________________________________ Home Page End _________________________________________ */
}

@media(max-width: 414px){

	/* ________________________________________ Appointment Page Start _____________________________________ */

	.appoinment-form-wrap > ul > li > a{
		font-size: 14px;
	}

	.radio{
		display: block;
	}

	.radio-list-group .radio{
		margin: 0 0 10px;
	}

	#carModalGallerySlider .carousel-indicators li, #carModalGallerySlider .carousel-indicators .active,
	.carousel-indicators li, .carousel-indicators .active{
		width: 22%;
	}

	.information-list ul li {
	    border-bottom: 1px solid #f1f1f1;
	    font-size: 16px;
	    margin: 0 0 10px;
	    padding: 0 0 10px;
	}

	.information-list ul li:last-child{
		margin: 0;
		padding:0;
		border: none;
	}

	.information-list ul li span{
		width: auto;
		display: block;
	}

	.video-section iframe{
		height: 250px;
	}

	.partner-block .partner-logo{
		width: 150px;
	}

	.appoinment-form-wrap >  ul > li{
		width: 49%;
	}

	.appoinment-form-wrap > ul > li > a {
	    font-size: 12px;
	}

	/* _________________________________________ Appointment Page End ______________________________________ */
}

@media(max-width: 360px){
	
	/* ___________________________________________ About Page Start ________________________________________ */

	.video-section iframe{
		height: 185px;
	}

	.slider-caption h3{
		font-size: 14px;
	}

	.advantages-block h3{
		font-size:15px;
	}

	/* ____________________________________________ About Page End _________________________________________ */

	/* _________________________________________ Contact Page Start ________________________________________ */

	#contact-map {
	    height: 250px;
	}
	
	/* __________________________________________ Contact Page End _________________________________________ */

	/* ________________________________________ Appointment Page Start _____________________________________ */

	.appoinment-form-wrap > ul > li{
		width: auto;
		display: block;
		margin: 0 0 10px;
	}

	.partner-block .partner-logo {
	    display: block;
	    margin: 0 auto 20px;
	    width: 150px;
	}

	.partner-block .partner-logo:last-child {
	    margin-bottom: 0;
	}

	/* _________________________________________ Appointment Page End ______________________________________ */

}

@media(max-width: 320px){

	/* ____________________________________________ Home Page Start ________________________________________ */

	.slider-caption h1{
		font-size:18px; 
	}

	.slider-caption h3 {
	    font-size: 12px;
	    line-height: 16px;
	}

	.whyMeBuyCar-block h4 {
	    width: 221px;
	}

	/* _____________________________________________ Home Page End _________________________________________ */

	/* ___________________________________________ Dealer Page Start _______________________________________ */

 	.site-navigation ul li .btn-group{
 		display: block;
 		margin: 10px 0 0;
 	}

	/* ____________________________________________ Dealer Page End ________________________________________ */

	/* ________________________________________ Car Listing Page Start _____________________________________ */
	
	.car-listing-block .car-details h1 span{
		display: block;
		padding: 10px 0 0;
	}

	/* _________________________________________ Car listing Page End ______________________________________ */
}