/*------------------------------------------------------------------------------------------------------

Theme Name: MeBuyCar.com
Theme URI: localhost/skrollx/mebuycar
Description: Lorem ipsum dolor sit amet 

------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------

CSS Document
Edited By: Sharad Sharma

------------------------------------------------------------------------------------------------------*/

@font-face{
    font-family:'FontAwesome';
    src:url('{{ asset_path("theme::fonts/fontawesome-webfont.eot") }}?v=4.7.0');
    src:url('{{ asset_path("theme::fonts/fontawesome-webfont.eot") }}?#iefix&v=4.7.0') format('embedded-opentype'),
        url('{{ asset_path("theme::fonts/fontawesome-webfont.woff2") }}?v=4.7.0') format('woff2'),
        url('{{ asset_path("theme::fonts/fontawesome-webfont.woff") }}?v=4.7.0') format('woff'),
        url('{{ asset_path("theme::fonts/fontawesome-webfont.ttf") }}?v=4.7.0') format('truetype'),
        url('{{ asset_path("theme::fonts/fontawesome-webfont.svg") }}?v=4.7.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src:url('{{ asset_path("theme::fonts/AvenirNext-Regular.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNext-Regular.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Regular.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Regular.svg") }}#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src:url('{{ asset_path("theme::fonts/AvenirNext-Medium.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNext-Medium.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Medium.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Medium.svg") }}#AvenirNext-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-Bold';
    src:url('{{ asset_path("theme::fonts/AvenirNext-Bold.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNext-Bold.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Bold.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNext-Bold.svg") }}#AvenirNext-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src:url('{{ asset_path("theme::fonts/AvenirNext-DemiBold.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNext-DemiBold.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNext-DemiBold.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNext-DemiBold.svg") }}#AvenirNext-DemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Regular';
    src:url('{{ asset_path("theme::fonts/AvenirNextCyr-Regular.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Regular.otf") }}')  format('opentype'),
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Regular.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Regular.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Regular.svg") }}#AvenirNextCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Medium';
    src:url('{{ asset_path("theme::fonts/AvenirNextCyr-Medium.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Medium.otf") }}')  format('opentype'),
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Medium.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Medium.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Medium.svg") }}#AvenirNextCyr-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Bold';
    src:url('{{ asset_path("theme::fonts/AvenirNextCyr-Bold.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Bold.otf") }}')  format('opentype'),
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Bold.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Bold.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Bold.svg") }}#AvenirNextCyr-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextCyr-Demi';
    src:url('{{ asset_path("theme::fonts/AvenirNextCyr-Demi.eot") }}?#iefix') format('embedded-opentype'),  
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Demi.otf") }}')  format('opentype'),
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Demi.woff") }}') format('woff'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Demi.ttf") }}')  format('truetype'), 
        url('{{ asset_path("theme::fonts/AvenirNextCyr-Demi.svg") }}#AvenirNextCyr-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'AvenirNext-Regular','Helvetica Nue','Helvetica',Arial,sans-serif;
    font-size: 16px;
    color:#676464;
    font-weight: normal;
    line-height: 1.4em;
    background: #feffff;
}

a{
    color:#dc2b07;
    text-decoration:none;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
}

a:hover{
    text-decoration:none;
    color:#dc2b07;
}

a:focus{
    text-decoration:none;
    outline: none;
    color: #dc2b07;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 20px;
    font-weight:normal;
    color: #3d3d3d;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
}

h3{
    font-size:24px;
}

h4{
    font-size:18px;
}

h5{
    font-size: 16px;
}

h6{
    font-size:13px;
}

p {
    line-height: 1.61em;
    margin:0 0 20px;
}

ul,
ol,
figure{
    margin:0;
    padding:0;
}

.form-group{
    margin-bottom: 20px;
}

label {
    font-weight: normal;
    margin: 0 0 10px;
    font-family: 'AvenirNext-Medium';
}

.form-control,.bootstrap-select .btn.btn-default,textarea{
    background: #fff;
    border: 1px solid #cfd4d9;
    border-radius: 0;
    box-shadow: none;
    height: 52px;
    color: #676464;
    font-size: 16px;
    padding: 6px 15px;
    font-family: 'AvenirNext-Regular';
}

input:focus,.form-control:focus,button:focus,
.bootstrap-select .btn-default:focus{
    outline: 0;
    box-shadow: none;
    outline-offset:0;
    border-color: #cfd4d9;
}

.form-control::-webkit-input-placeholder{
    color:#676464;
}

.btn-group-lg>.btn, .btn-lg{
    padding: 13px 16px;
}

.bootstrap-select.open > .dropdown-toggle.btn-default{
    background-color:inherit;
}

.bootstrap-select .btn.btn-default,.bootstrap-select .btn.btn-default:hover,
.bootstrap-select .btn-default:active,.bootstrap-select .btn-default:focus,
.bootstrap-select.open .btn-default:focus{
    background:none;
    border-color: #cfd4d9;
}

.bootstrap-select .btn-default:focus,
.bootstrap-select.open .btn-default:focus{
    outline:none !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 0;
    width: 51px;
    top: 0;
    margin: 0;
    text-align: center;
    line-height: 52px;
    background: #fff;
}

.select-appearance .caret{
    border: none;
}

.select-appearance .caret::before {
    content: '\f107';
    font-size: 24px;
    font-family: 'FontAwesome';
    color: #dc340a;
}

.select-appearance .dropup .caret::before{
    content: '\f106';
}

.select-appearance .bootstrap-select .btn.btn-default{
    color: #676464;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu{
    background: #dc2b07;
    border: none;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu > li > a{
    color: #fff;
    padding: 3px 12px;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu>li>a:focus, 
.select-appearance .bootstrap-select.form-control .dropdown-menu>li>a:hover{
    color: #dc2b07;
    outline: none;
    background: #fff;
}

.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a,
.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a:hover,
.select-appearance .bootstrap-select.form-control .dropdown-menu>.disabled>a:focus{
    color: #d3d3d3;
    outline: none;
    background: none;
}

.select-appearance, .date{
    position: relative;
}

.bootstrap-datetimepicker-widget {
    color: #fff;
    background:  #dc2b07;
    border: none;
}

.bootstrap-datetimepicker-widget table th{
    font-weight: normal;
    font-family: 'AvenirNext-Medium';
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover,
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table td span.active {
    background: #fff;
    color: #dc2b07;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover,
.bootstrap-datetimepicker-widget table td span.active{
    text-shadow: none;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second{
    font-weight: normal;
    font-family: 'AvenirNext-Medium';
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom::before{
    border-bottom-color:#dc2b07;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom::after{
    border-bottom: 6px solid #dc2b07;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top::before{
    border-top-color:#dc2b07;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top::after{
    border-top: 6px solid #dc2b07;
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

.bootstrap-datetimepicker-widget table td.today:hover::before {
  border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]{
    border: none;
    background: #fff;
    color: #dc2b07;
    font-family: 'AvenirNext-Bold';
}

.bootstrap-datetimepicker-widget a[data-action]{
    color: #fff;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new{
    color: #ff947e;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
    background: #fff;
    color: #dc2b07;
    text-shadow: none;
}

.bootstrap-datetimepicker-widget table td.active.today::before {
    border-bottom-color: #dc2b07;
}

.reset-password-form .btn, .site-btn {
    padding: 10px 40px 11px;
    font-size: 16px;
    font-family: 'AvenirNext-DemiBold';
    color: #fff;
    border-radius: 2px;
    background:#dc2b07;
    border:none;
    box-shadow:none;
    text-shadow: none;
    line-height: inherit;
    transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
}

.reset-password-form .btn:hover, .site-btn:hover,
.reset-password-form .btn:focus, .site-btn:focus{
    outline:none;
    background: #414141;
    color: #fff;
}
.btn.btn-danger{
    color: #fff;
    border-radius: 2px;
    background:#dc2b07;
}
.btn.btn-danger:hover{
    background: #bf2404;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

textarea.form-control{
    resize:none;
    height:200px;
    padding: 6px 11px;
}

img{
    max-width: 100%;   
}

.thumbnail-img{
    overflow: hidden;
    position: relative;
}

.thumbnail-img img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.container {
    width: 1251px;
    padding: 0;
}

/* =================================== Home Page Start =============================== */

.site-header {
    background: #3c3d42;
    height: 111px;
    box-shadow: 0 4px 51px 0 rgba(52,59,64,0.19);
    -webkit-box-shadow: 0 4px 51px 0 rgba(52,59,64,0.19);
    -moz-box-shadow: 0 4px 51px 0 rgba(52,59,64,0.19);
    -ms-box-shadow: 0 4px 51px 0 rgba(52,59,64,0.19);
    -o-box-shadow: 0 4px 51px 0 rgba(52,59,64,0.19);
}

.site-header .container-fluid {
    padding: 0;
}

.site-logo {
    padding: 38.5px 27px;
    background: #fff;
    float: left;
    width: 27.31%;
    height: 111px;
}

.site-logo img {
    margin: 0 auto;
    max-width: 100%;
}

.navbar-brand {
    line-height: inherit;
    float: none;
    height: auto;
    padding: 0;
    display: block;
}

.main-navigation {
    float: left;
    width: 72.69%;
    padding: 40px 25px 39px 10px;
}

#menu-left{
    float: left;
}

#menu-right {
    float: right;
}

.site-navigation ul li{
    list-style-type: none;
    display: inline-block;
    color: #fff;
}

.site-navigation ul li a{
    color: #fff;
    padding: 5px 20px;
    display: block;
    font-family: 'AvenirNext-Medium';
}

.site-navigation ul li a:hover,.site-navigation ul li.current-menu-item a{
    color: #a9a9a9;
}
.site-navigation ul li.nav-item-home a{
    font-size: 20px;
}
.site-navigation ul li.switch-lang {
    padding: 0 20px;
    border: none;
}

.site-navigation ul > li.switch-lang > a {
    display: inline-block;
    padding: 0;
   /*  color: #dc2b07; */
}

.site-navigation ul > li.switch-lang > a > i {
    margin: 0 0 0 6px;
    position: relative;
    top: 1px;
    color: #fff;
}

.site-navigation ul li .dropdown-menu {
    border-radius: 0;
    left: auto;
    right: 0;
    margin-top: 10px;
    border: none;
    width: 100%;
    background: #dc340a;
    padding: 0;
}

.site-navigation ul li .dropdown-menu li {
    display: block;
    border:none;
}

.site-navigation ul li .dropdown-menu > li > a {
    display: block;
    padding: 7px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
}

.site-navigation ul li .dropdown-menu > li:last-child > a{
    border: none;
} 

#menu-right ul li:last-child {
    border: none;
    padding: 0;
}

.site-navigation ul li .site-btn {
    background: none;
    border: 2px solid #fff;
    padding: 9px 33px;
    display: inline;
    font-family: 'AvenirNextCyr-Medium';
}

.site-navigation ul li .site-btn:hover,#menu-right ul li.dropdown.open .site-btn{
    background: #dc2b07;
    border-color:#dc2b07;
    color: #fff;
}

.site-navigation ul li .btn-group {
    margin: -12px 0 0;
    top: 5px;
}

.site-navigation ul li .btn-group .site-btn {
    width: 124px;
    padding: 9px 10px;
}

.site-navigation ul li .btn-group .site-btn:last-child {
    border-left: none;
}

#menu-right ul li.dropdown .site-btn {
    padding: 9px 40px 9px 18px;
    width: 212px;
    display: inline-block;
    text-align: left;
    top: 5px;
    margin-top: -12px;
    position: relative;
}

#menu-right ul li.dropdown .site-btn i {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 44px;
    border-left: 2px solid #fff;
    width: 31px;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

#menu-right ul li.dropdown .site-btn:hover i,
#menu-right ul li.dropdown.open .site-btn i {
    border-left-color: #bf3417;
}

#mobileResponsiveMenu,.navbar-toggle{
    display: none;
}

/* ----------------------------- Main Slider Start -----------------------*/

.main-slider-section {
    padding: 68px 0 0 0;
    background: url('{{ asset_path("theme::img/main-banner-bg.png") }}') repeat-x;
}

.slider-form-container {
    background: #dbdbdb;
    border: 2px solid #bab7b7;
    padding: 13px;
}

.slider-inner-container {
    position: relative;
    box-shadow: 0 0 27px 3px rgba(73,75,77,0.25);
    margin-top: -31px;
}

.slider-wrap {
    width: 70%;
    float: left;
    background: #fff;
}

.slider-item img {
    width: 100%;
}

.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
    left: 0;
    background: none;
}

.slider-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 30px 90px;
}

.slider-caption h1 {
    color: #fff;
    font-size: 79px;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0;
}

.slider-caption h3 {
    color: #fff;
    font-size: 32px;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0;
    line-height: 38px;
}

.slider-form-wrap {
    width: 30%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    padding: 70px 35px 47px;
}

.slider-form-wrap h3,.valuation-form-wrap h3 {
    font-family: 'AvenirNextCyr-Demi';
    color: #dc340a;
    line-height: 1.3em;
    margin: 0 0 35px;
}

.slider-form-wrap h3 span,.valuation-form-wrap h3 span {
    display: block;
    font-size: 21px;
    color: #676464;
}

.slider-form-wrap form {
    padding-bottom: 15px;
}

.slider-form-wrap form .bootstrap-select .btn.btn-default {
    padding:6px 66px 6px 15px;
}

.slider-form-wrap .bootstrap-select.btn-group .dropdown-toggle .caret{
    border-left: 1px solid #c2c4c7;
}

.slider-form-wrap form input[name="register"]{
    width: 100%;
    margin-top: 15px;
}

.call-us {
    border-top: 1px solid #d0d4d9;
    padding-top: 30px;
}

.call-us h4 {
    font-family: 'AvenirNext-DemiBold';
}

.call-us h4 span {
    display: block;
    font-size: 24px;
    font-family: 'AvenirNext-Bold';
    padding: 12px 0 0;
}

.call-us h4 span i {
    margin: 0 12px 0 0;
    position: relative;
    top: 2px;
    color: #666464;
}

.dealer-register-form .has-error .help-block {
    display: none;
}

/* ---------------------------- Main Slider End --------------------------*/

/* -------------------------- How It Works Start -------------------------*/

.how-it-works-section {
    padding: 50px 0 70px;
    background: #f0f3f6;
}

.page-title {
    text-transform: uppercase;
    font-family: 'AvenirNext-DemiBold';
    text-align: center;
    margin: 0 0 28px;
}

.how-it-works-section .page-title {
    margin: 0 0 10px;
    text-align: left;
}

.page-title span {
    color: #dc2b07;
}

.page-desc {
    font-size: 18px;
    color: #676464;
    font-family: 'AvenirNextCyr-Demi';
    line-height: initial;
    margin: 0 auto 20px;
}

.how-it-works-section .page-desc {
    margin: 0 0 25px;
}

.steps-block-wrap {
    padding: 37px 0 0;
}

.steps-block-wrap [class^="col-"] {
    padding: 0 22px;
}

.steps-block {
    background: url('/app/default/assets/addons/shared/skrollx/mebuycar-theme/resources/img/steps-ptrn-bg.png?v=1513851561') #3c3d42;
    background-size: cover;
    color: #fff;
    padding: 52px 52px 44px;
    text-align: center;
    border-bottom: 8px solid #dc2b07;
    position: relative;
    min-height: 248px;
}

.steps-block::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 199px;
    border-bottom: 8px solid #424347;
}

.steps-icon {
    display: inline-block;
    vertical-align: middle;
    width: 91px;
    text-align: left;
}

.steps-icon img {
    max-width: 100%;
}

.steps-details {
    display: inline-block;
    vertical-align: middle;
    width: 71%;
    padding-left: 52px;
    text-align: left;
}

.steps-details h4 {
    text-transform: uppercase;
    font-family: 'AvenirNextCyr-Bold';
    margin: 0 0 25px;
    color: #fff;
}

.steps-details p {
    font-family: 'AvenirNextCyr-Regular';
    line-height: initial;
    margin: 0;
}

.step-ribbon {
    line-height: initial;
    display: block;
    font-family: 'AvenirNext-DemiBold';
    font-size: 22px;
    position: absolute;
    top: -28px;
    left: -17px;
    background: #dc2b07;
    padding: 8px 29px;
}

.step-ribbon span {
    font-size: 28px;
}

/* --------------------------- How It Works End --------------------------*/

.why-meBuy-car-section {
    padding: 70px 0 64px;
}

/*.why-meBuy-car-section .page-title{
    text-align: left;
}*/

.whyMeBuyCar-block-wrap {
    padding: 0 150px 70px;
    text-align: center;
}



.whyMeBuyCar-block .whyMeBuyCar-icon {
    display: inline-flex;
    vertical-align: middle;
    width: 79px;
}

.whyMeBuyCar-block .whyMeBuyCar-icon  img{
    max-width: 100%;
}

.whyMeBuyCar-block h4 {
    display: inline-flex;
    vertical-align: middle;
    font-family: 'AvenirNextCyr-Bold';
    text-transform: uppercase;
    padding: 10px 0 10px 25px;
    width: 204px;
    min-height: 58px;
    border-left: 1px solid #d0d1d1;
    margin: 0 0 0 21px;
    align-items: center;
    text-align: left;
}

.whyMeBuyCar-block.member_sbh {
    height: 58px;
    border-left: 1px solid #d0d1d1;
}

.member_sbh img {
    height: 58px;
}


/* ----------------------- Why MeBuyCar Section End ----------------------*/

/* ------------------------- Benefits Section Start ----------------------*/

.benefits-section {
    background: #f0f3f6;
    padding: 80px 0 68px;
    text-align: center;
}

.benefits-block-wrap {
    padding: 60px 150px 81px;
}

.benefits-block h3 {
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 20px 0;
}

/* -------------------------- Benefits Section End -----------------------*/

/* ------------------------- advantages Section Start ----------------------*/

.advantages-section {
    background: #f0f3f6;
    padding: 80px 0 68px;
    text-align: center;
}

.advantages-block-wrap {
    font-size: 0;
    line-height: 0;
    padding: 60px 0 0;
}

.advantages-block{
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.advantages-block h3 {
    text-transform: uppercase;
    font-size: 21px;
    color: #dc2b07;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 15px 0;
}

.advantages-block p{
    font-size: 18px;
    color: #676464;
    font-family: 'AvenirNextCyr-Demi';
    line-height: initial;
}

.advantages-section .page-desc{
    width: auto;
    text-align: left;
}

/* ------------------------- Partners Section Start ----------------------*/

.partner-section {
    background: #ffffff;
    padding: 80px 0 68px;
    text-align: center;
}
.partner-block {
    margin-top: 40px;
}
.partner-block .partner-logo{
    display: inline-block;
    margin: 0 20px 20px 20px;
    width: 200px;
}

.partner-block .partner-logo img {
    height: auto;
}

/* -------------------------- Partners Section End -----------------------*/

/* -------------------------- Footer Section Start -----------------------*/

.site-footer{
    background: #3c3e42;
    color: #fff;
    font-size: 14px;
    padding: 50px 0 0;
}

.footer-block-wrap {
    margin: 0 0 35px;
}

.footer-block h4 {
    color: #fff;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 16px;
}

.footer-block #testimonial-slider p {
    padding-right: 42px;
}

.footer-block #testimonial-slider p span {
    display: block;
}

.footer-block ul li {
    list-style-type: none;
    display: block;
    line-height: initial;
    margin: 0 0 3px;
}

.footer-block ul li:last-child{
    margin:0;
}

.footer-block ul li a{
    display: block;
    color: #fff;
}

.footer-block ul li a:hover{
    color: #a9a9a9;
}

.footer-address {
    margin: 0;
}

.footer-block p {
    line-height: initial;
    margin: 0;
}

.footer-block .form-control{
    height: auto;
}

.site-info {
    background: #fff;
    padding: 12px 0;
}

.site-info p{
    margin: 0;
    font-size: 12px;
    color: #3c3d42;
}

.site-info p a{
    color: #3c3d42;
}

.site-info p a:hover{
    color: #dc2b07;
}
.footer-block .list-social{
    margin-top: 15px;
}
.footer-block .list-social li {
    display: inline-block;
}

.footer-block .list-social li a {
    height: 22px;
    width: 22px;
    display: block;
    font-size: 12px;
    background: #ffffff;
    color: #3C3E42;
    border: 1px solid #ffffff;
    border-radius: 50%;
    line-height: 11px;
    text-align: center;
    padding: 4px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

.footer-block .list-social li a i {
    width: 100%;
    text-align: center;
}

.footer-block .list-social li a:hover {
    background: #3C3E42;
    border: 1px solid #ffffff;
    color: #ffffff;
}
/* Carousel Fading slide */
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


.subscribe-form input.form-control{
    background-color: #636568;
    border: none;
    color: #ffffff;
}
.subscribe-form input.form-control:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.footer-block .form-control::-webkit-input-placeholder{
    color:#ffffff;
}

.footer-block .alert{
    margin-top: 5px;
    padding: 7px;
}
.footer-block .alert-success{
    background-color: rgba(223,240,216,0.8);
    color: #155d16;
}
.footer-block .alert-danger{
    background-color: rgba(242,222,222,0.8);
    color: #a94442;
}

#subscribe-newsletter .form-control {
    height: 43px;
}

#subscribe-newsletter .form-control:focus{
    box-shadow: none;
}

#subscribe-newsletter .site-btn {
    padding: 10px 20px;
}

.footer-address p span {
    display: block;
}

.footer-address p span a {
    color: #fff;
}

.footer-address p span a:hover{
    color: #a9a9a9;
}

.subscribe-form .has-error .form-control {
    border: 1px solid #f53f3f;
}

#subscribe-newsletter .site-btn:hover,
#subscribe-newsletter .site-btn:focus,
#subscribe-newsletter .site-btn:active{
    background: #bf3417;
    color: #fff;
    outline: none !important;
    box-shadow: none;
}

.alert-floating{
    width: 400px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
}
/* --------------------------- Footer Section End ------------------------*/

/* =================================== Home Page End ================================= */

/* ============================== How It Works Page Start ============================ */

.site-main{
    min-height: 793px;
    padding:53px 0 49px;
    background: url('{{ asset_path("theme::img/main-banner-bg.png") }}') repeat-x;
}

.site-main.page-cars,.page-about-saif-belhasa{
    background: url('{{ asset_path("theme::img/bdy-grd-background.png") }}')repeat-x;
}

.how-it-works-container .steps-block-wrap {
    padding: 76px 0 89px;
}

.valuation-form-wrap{
    width: 647px;
    margin: 0 auto 34px;
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    padding: 44px 40px 24px;
}

.page-how-it-spanworksspan .valuation-form-wrap{
    text-align: center;
}

.stripped-form-wrap{
    margin: 0 auto 34px;
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    padding: 44px 40px 24px;
}

.valuation-form-wrap .form-group {
    margin-bottom: 24px;
}

.valuation-form-wrap .form-group:last-child {
    padding: 22px 0 0;
}

.reset-password-form{
    text-align: left;
}

.how-it-works-container video {
    margin: 0 auto 40px;
    display: block;
}

.bidding-form .modal-content {
    background: #fff;
}

.car-view-details form .confirm-bid .site-btn {
    position: static;
    padding: 10px 40px 11px;
}

.car-view-details form .confirm-bid button.site-btn {
    background: #414141;
}

.car-view-details form .confirm-bid button.site-btn:hover{
    background: #dc2b07;
}




/* ============================== How It Works Page End ============================== */

/* ================================= About Page Start ================================ */


.about-us-container,.user-prof-container {
    padding: 0 131px;
}

.video-section {
    padding: 59px 0 0;
}

.video-section [class^="col-"]:first-child {
    float: right;
}

.video-section iframe {
    width: 100%;
    height: 285px;
    display: block;
}

.video-section p {
    font-size: 18px;
    font-family: 'AvenirNextCyr-Demi';
    line-height: inherit;
}
.video-frame{
    width: 560px;
    float: right;
    margin-left: 20px;
}
.faq-section {
    padding-top: 50px;
}

.faq-section h3 {
    color: #dc2b07;
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 37px;
}

.panel.panel-default {
    border-radius: 0;
    border: none;
    background: none;
    box-shadow: none;
}

.panel-group .panel+.panel {
    margin-top: 10px;
}

.panel-default>.panel-heading {
    border: none;
    background: none;
    padding: 0;
}

.panel-title>a {
    display: block;
    padding: 13px 11px;
    font-family: 'AvenirNext-DemiBold';
    color: #676464;
    background: #fff;
    border: 1px solid #eee;
}

.panel-title>a.collapsed {
    margin-bottom: 0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    padding-bottom: 0;
    background: #fff;
    border:1px solid #eee;
    border-top: none;
}

.panel-group .panel-heading+.panel-collapse>.panel-body p {
    line-height: 1.19em;
    font-family: 'AvenirNext-DemiBold';
    margin: 0 0 17px;
}

.btn-center-wrap {
    text-align: center;
}

.testimonial-section {
    padding: 123px 0 26px;
}

.testimonial-section .page-title {
    margin: 0 0 55px;
}

.testimonial-block-wrap {
    padding: 0 0 37px;
}

.testimonial-block {
    text-align: center;
    margin: 0 0 49px;
}

.thumb-profile {
    width: 132px;
    height: 132px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 24px;
    box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.12);
}

.testimonial-block p {
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 19px;
    line-height: inherit;
}

.testimonial-block h5 {
    font-family: 'AvenirNextCyr-Bold';
    color: #dc2b07;
    margin: 0;
}

.testimonial-widget {
    padding: 100px 0 26px;
}

.testimonial-widget .page-title {
    margin: 0 0 55px;
}

.testimonial-widget__wrap {
}

.testimonial-widget__item {
    position: relative;
    padding-left: 50px;
}

.testimonial-widget__item:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    height: 24px;
    width: 30px;
    background: url('{{ asset_path("theme::img/quote.png") }}') center center no-repeat;

}

.testimonial-widget p {
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 19px;
    line-height: inherit;
}

.testimonial-widget__name{
    font-family: 'AvenirNextCyr-Bold';
    color: #dc2b07;
    font-size: 16px;
}

/* ================================== About Page End ================================ */

/* ================================ Contact Page Start ============================== */

.contact-container {
    padding: 0 0 92px 105px;
}

.contact-address {
    margin: 0;
}

.contact-address .page-title {
    text-align: left;
    margin: 0 0 42px;
}

.contact-address ul li {
    list-style-type: none;
    display: block;
    line-height: 30px;
    font-family: 'AvenirNext-Medium';
}

.contact-address ul li span {
    font-family: 'AvenirNext-Bold';
}

.contact-form-wrap {
    text-align: center;
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    padding: 28px 26px
}

.contact-form-wrap .form-group {
    margin: 0 0 15px;
}

.contact-form-wrap [class^='col-']:first-child .form-group {
    display: inline-block;
    width: 224px;
    margin-right: 11px;
}

.contact-form-wrap [class^='col-']:first-child .form-group:last-child {
    margin-right: 0;
}

.contact-form-wrap h3, .form-title {
    font-family: 'AvenirNext-DemiBold';
    color: #dc340a;
    margin: 0 0 37px;
}

.contact-form-wrap .form-control {
    border: none;
}

.contact-form-wrap textarea {
    height: 133px;
}

.contact-form-wrap .site-btn {
    margin-top: 19px;
    padding: 10px 70px 11px;
}

#contact-map {
    height: 432px;
    margin-bottom: -49px;
    background: #ddd;
}

/* ================================= Contact Page End =============================== */

/* =============================== Appointment Page Start =========================== */

.appoinment-form-wrap {
    width: 797px;
    margin: 0 auto;
}

.appoinment-form-wrap >  ul > li {
    list-style-type: none;
    display: inline-block;
    width: 48%;
    text-align: left;
    padding-left: 50px;
}

.appoinment-form-wrap  > ul > li > a {
    font-size: 20px;
    font-family: 'AvenirNext-Medium';
    color: #c6cacd;
    display: block;
}

.appoinment-form-wrap > ul > li > a > span {
    height: 52px;
    width: 52px;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    border-radius: 100%;
    background: #d7dadc;
    margin-right: 15px;
}

.appoinment-form-wrap > ul > li > a:hover,
.appoinment-form-wrap > ul > li.active > a{
    color: #3c3d42;
}

.valuation-box {
    background: #fff;
    position: relative;
    padding: 15px 112px;
    color: #676464;
    box-shadow: 0 0 13px 4px rgba(170,179,191,0.12);
    margin: 25px 0;
}

.valuation-box span.site-icon {
    position: absolute;
    top: 33px;
    left: 47px;
}

.valuation-box h3 {
    margin: 0 0 6px;
    color: #676464;
    font-size: 26px;
}

.valuation-box h3 span {
    font-family: 'AvenirNext-Bold';
    font-size: 32px;
}

.valuation-box p {
    margin: 0;
}

.valuation-box p a:hover {
    color: #676464;
}

.appoinment-form-wrap form,
.appoinment-form-wrap .information-wrap{
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    padding: 39px 33px;
}

.appoinment-form-wrap form h3{
    color: #676464;
    margin: 0 0 24px;
    font-size: 21px;
    font-family: 'AvenirNext-DemiBold';
}

.appoinment-form-wrap form .col-sm-6:first-child {
    float: right;
    padding-left: 8px;
}

.appoinment-form-wrap form .col-sm-6:first-child + .col-sm-6 {
    padding-right: 8px;
}

.appoinment-form-wrap form .form-control, 
.appoinment-form-wrap form .select-appearance .bootstrap-select .btn.btn-default{
    border: none;
}

.appoinment-form-wrap form .btn-center-wrap {
    padding-top: 32px;
}

.appoinment-form-wrap .site-btn {
    padding: 10px 26px 11px;
}
.form-group.has-error > .form-control,
.form-group.has-error .btn-group > .btn,
.appoinment-form-wrap .form-group.has-error input,
.appoinment-form-wrap .form-group.has-error .btn-group,
.slider-form-wrap .form-group.has-error .form-control{
    border: 1px solid #a94442;
}
.step-1-form-wrap ul {
    margin: 0 0 13px;
}

.step-1-form-wrap form h3 {
    margin: 0 0 44px;
}

.appoinment-form-wrap.step-1-form-wrap form {
    padding: 52px 40px 18px;
}

.step-1-form-wrap .col-sm-6,.appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child + .col-sm-6,
.appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child {
    padding: 0 8px;
}

.appoinment-form-wrap.step-1-form-wrap form .col-sm-6:first-child {
    float: left;
}

.radio-list-group {
    background: #fff;
    padding: 11px 20px 14px;
}

.radio-list-group > label {
    display: block;
    margin: 0 0 15px;
}

.radio-list-group .radio {
    margin-right: 18px;
}

.radio {
    display: inline-block;
    margin: 0;
}

.radio-list-group .radio:last-child {
    margin: 0;
}


.radio label,.checkbox label{
    font-family: 'AvenirNext-Regular';
    padding: 0;
}

.checkbox{
    margin: 0;
}

.checkbox span a {
    font-family: 'AvenirNext-Medium';
}

.checkbox span a:hover {
    color: #3d3d3d;
}
 
form input[type=radio]:checked, form input[type=radio]:not(:checked),
form input[type=checkbox]:checked, form input[type=checkbox]:not(:checked) {
    position: absolute;
    margin-left: 0;
    opacity: 0;
}

form input[type=radio]:checked+span, form input[type=radio]:not(:checked)+span,
form input[type=checkbox]:checked+span, form input[type=checkbox]:not(:checked)+span {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}

form input[type=radio]:checked+span::before, form input[type=radio]:not(:checked)+span::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #dc2b07;
    border-radius: 50%;
    left: 0;
    top: 2px;
}

form input[type=radio]:checked+span::after, form input[type=radio]:not(:checked)+span::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: #dc2b07;
    border-radius: 50%;
    left: 5px;
    top: 7px;
    opacity: 0;
    visibility: hidden;
}

form input[type=radio]:checked+span::after, form input[type=radio]:checked+span::after {
    opacity: 1;
    visibility: visible;
}

form input[type=checkbox]:checked+span::before, form input[type=checkbox]:not(:checked)+span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #dc2b07;
    left: 0;
    top: 3px;
}

form input[type=checkbox]:checked+span::after, form input[type=checkbox]:not(:checked)+span::after {
    content: '\f00c';
    position: absolute;
    left: 2px;
    top: 5px;
    font-family: 'FontAwesome';
    line-height: initial;
    font-size: 12px;
    color: #dc2b07;
    opacity: 0;
    visibility: hidden;
}

form input[type=checkbox]:checked+span::after, form input[type=checkbox]:checked+span::after {
    opacity: 1;
    visibility: visible;
}

.step-1-form-wrap .checkbox {
    margin: 25px 0 35px;
}

.step-1-form-wrap .site-btn {
    padding: 10px 55px 11px;
}

form .has-error input[type=checkbox]:checked+span::before, 
form .has-error input[type=checkbox]:not(:checked)+span::before{
    border-color: #a94442;
}

/* =============================== Appointment Page End ============================= */

/* ============================= User Profile Page Start ============================ */

.user-prof-container #primary {
    width: 73.6%;
    float: right;
    padding-left: 40px;
}

.user-prof-container #secondary {
    float: left;
    width: 26.4%;
}

.user-prof-list-block{
    background: #fff;
    padding: 8px 22px 18px;
    box-shadow: 0 0 13px 4px rgba(170,179,191,0.14);
}

.user-prof-list-block ul li {
    list-style-type: none;
    line-height: 31px;
}

.user-prof-list-block ul li a {
    display: block;
    color: #676464;
}

.user-prof-list-block ul li a:hover,
.user-prof-list-block ul li.active a{
    color: #f94200;
}

.user-prof-container .page-title {
    text-align: left;
}

.contact-info-block h2 {
    font-size: 30px;
    font-family: 'AvenirNextCyr-Demi';
}

.contact-info-block h2 a {
    font-size: 18px;
    color: #3d3d3d;
    font-family: 'AvenirNext-Regular';
    text-decoration: underline;
    margin-left: 31px;
}

.contact-info-block h2 a:hover{
    color: #dc2b07;
}

.contact-info-block {
    margin: 0 0 33px;
}

.contact-info-block ul li {
    display: block;
    list-style-type: none;
    color: #3d3d3d;
}

/* ============================== User Profile Page End ============================= */

/* ============================= Car Listing Page Start ============================= */

.filter-cars-form-wrap {
    margin: 0 0 29px;
}

.filter-cars-form-wrap h4 {
    font-size: 21px;
    color: #676464;
    font-family: 'AvenirNext-DemiBold';
    margin: 0 0 24px;
}

.filter-cars-form-wrap .form-group {
    display: inline-block;
    vertical-align: middle;
    width: 15.75%;
    margin-left: 9px;
}

.filter-cars-form-wrap .form-group:first-child {
    margin-left: 0;
}

.filter-cars-form-wrap .form-group:last-child {
    text-align: right;
}

.filter-cars-form-wrap .form-control,.filter-cars-form-wrap .bootstrap-select .btn.btn-default,
.sort-by-wrap .form-group .bootstrap-select .btn.btn-default{
    border: none;
}

.filter-cars-form-wrap .site-btn {
    padding: 10px 55px 11px;
}

.car-listing-content .page-title {
    text-align: left;
    text-transform: inherit;
    font-family: 'AvenirNextCyr-Demi';
}

.sort-by-wrap {
    margin: 0 0 29px;
}

.sort-by-wrap .form-group {
    display: inline-block;
    width: 18.63%;
}

.sort-by-wrap .form-group:first-child {
    width: 29%;
    margin-right: 28px;
}

.sort-by-wrap .site-addon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    line-height: 52px;
    padding: 0 15px;
}

.sort-by-wrap .form-group .bootstrap-select .btn.btn-default {
    padding-left: 87px;
}

.sort-by-wrap .form-group:first-child .bootstrap-select .btn.btn-default{
    padding-left: 75px;
}

.sort-by-wrap .site-pagination {
    float: right;
}

.site-pagination .pagination {
    text-align: right;
    margin: 51px 0 42px;
}

.pagination {
    display: block;
    border-radius: 0;
}

.sort-by-wrap .site-pagination .pagination{
    margin: 4px 0;
}

.pagination>li {
    display: inline-block;
}

.pagination>li>a, .pagination>li>span {
    float: none;
    margin: 0;
    border: none;
    color: #676464;
    border-radius: 2px;
    padding: 11px 17px;
    display: block;
    width: 44px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background: #fff;
    color: #dc2b07;
    font-family: 'AvenirNext-Bold';
}

.car-listing-block {
    margin: 0 0 64px;
}

.car-listing-block:last-child {
    margin: 0;
}

.car-listing-block .thumbnail-img {
    width: 33.6%;
    float: left;
}

.car-listing-block .car-details {
    width: 66.4%;
    float: left;
    padding-left:40px;
    position: relative;
}

.car-listing-block .car-details h1 {
    font-family: 'AvenirNextCyr-Demi';
    margin: 0 0 28px;
}

.car-listing-block .car-details h1 span {
    font-size: 21px;
    color: #676464;
    float: right;
    font-family: 'AvenirNext-DemiBold';
}

.car-listing-block .car-details ul {
    width: 500px;
}

.car-listing-block .car-details ul li {
    list-style-type: none;
    display: block;
    margin: 0 0 5px;
}

.car-listing-block .car-details ul li span {
    width: 48.5%;
    display: inline-block;
}

.car-listing-block .car-details ul li:last-child {
    margin: 0;
}

.car-listing-detail-wrap .ultimatum {
    font-size: 21px;
    font-family: 'AvenirNext-DemiBold';
    position: absolute;
    bottom: 0;
    right: 0;
}

.ultimatum span {
    padding: 0 11px;
}

.choose-option-list {
    margin-top: 17px;
    background: #fff;
}

.choose-option-list ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}

.choose-option-list ul li a {
    display: block;
    color: #676464;
    font-family: 'AvenirNext-DemiBold';
    padding: 15px 0;
}

.choose-option-list ul li a:hover{
    color: #dc2b07;
}

.choose-option-list ul li:first-child a {
    background: #dc2b07;
    color: #fff;
}

.choose-option-list ul li:first-child a:hover{
    background: #414141;
}

.modal {
    background: rgba(37,37,37,0.9);
}

.modal-content{
    border: none;
    border-radius: 0;
    box-shadow: none;
    box-shadow: none;
    background: none;
}

.modal-dialog{
    margin: 10px auto;
}

.car-listing-block .modal .carousel-inner>.item {
    border: 1px solid rgba(163, 162, 162, 0.39);
}

.car-listing-block .modal .carousel-indicators {
    text-align: center;
}

.car-listing-block .modal .carousel-indicators li, 
.car-listing-block .modal .carousel-indicators .active{
    width: 168px;
    border: 1px solid rgba(163, 162, 162, 0.39);
}

.car-listing-block .modal .carousel-indicators li img{
    width: 100%;
}

.carousel-control {
    width: 14px;
    height: 38px;
    opacity: 1;
    top: auto;
    bottom: 60px;
    transition: all 0s ease; 
}

.carousel-control.left{
    background: url('{{ asset_path("theme::img/slider-arrow.png") }}') no-repeat 0 0;
    left: 39px;
}

.carousel-control.left:hover{
    background-position: 0 -38px;
}

.carousel-control.right{
    background: url('{{ asset_path("theme::img/slider-arrow.png") }}') no-repeat -14px 0;
    right: 39px;
}

.carousel-control.right:hover{
    background-position: -14px -38px; 
}

button.close {
    opacity: 1;
    text-shadow: none;
    line-height: inherit;
    cursor: pointer;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
}

/* ============================== Car Listing Page End ============================== */

/* =============================== Car View Page Start ============================== */

.car-view-wrap {
    margin: 0 0 55px;
}

.car-view-slider {
    width: 54.5%;
    float: left;
}

.carousel-indicators {
    position: static;
    margin: 13px 0 0 0;
    width: auto;
    text-align: left;
}

.carousel-indicators li,.carousel-indicators .active {
    width: auto;
    height: auto;
    text-indent: inherit;
    border: none;
    background: none;
    border-radius: 0;
    margin: 0 7.2px 0 0;
    width: 162px;
}

.carousel-indicators li:last-child {
    margin: 0;
}

.car-view-details {
    float: left;
    width: 45.5%;
    padding-left: 50px;
}

.car-view-details h2 {
    font-size: 29px;
    font-family: 'AvenirNextCyr-Demi';
    margin: 16px 0 29px;
}

.car-view-details p {
    font-size: 14px;
    line-height: 1.45em;
}

.car-view-details p span{
    font-family: 'AvenirNext-DemiBold';
    font-size: 16px;
}

.car-view-details .seller-detail {
    font-size: 22px;
    font-family: 'AvenirNext-DemiBold';
    line-height: 1.45em;
    padding: 49px 0 51px;
}

.car-view-details .seller-detail .ultimatum {
    display: block;
}

.car-view-details form label {
    font-size: 22px;
    font-family: 'AvenirNext-DemiBold';
    margin: 0;
    padding: 15px 0;
}

.car-view-details form .form-group {
    position: relative;
    margin: 0;
}

.car-view-details form .form-control {
    border: none;
    padding: 6px 135px 6px 15px;
}

.car-view-details form .site-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 28px;
}

.note-block {
    text-align: center;
    background: #fff;
    padding: 9px 172px;
    box-shadow: 0 0 13px 4px rgba(170,179,191,0.14);
    margin: 0 0 38px;
}

.note-block p {
    margin: 0;
    line-height: 1.5em;
}

.vech-info-tab {
    background: #fff;
    box-shadow: 0 0 13px 4px rgba(170,179,191,0.14);
    overflow: hidden;
}

.nav-tabs {
    border-bottom-color: #cbcaca;
}

.nav-tabs>li>a {
    margin: 0;
    border-radius: 0;
    font-size: 18px;
    font-family: 'AvenirNext-DemiBold';
    padding: 8px 22px;
    transform: skewX(23deg);
    color: #dc2b07;
}

.nav-tabs>li>a>span {
    transform: skewX(-23deg);
    display: block;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: none;
    color: #676464;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #cbcaca;
    border-bottom-color: transparent;
}

.nav-tabs>li>a:hover{
    border-color: transparent;
}

.nav-tabs>li.active>a{
    color:#676464;
}

.nav-tabs>li:focus{
    outline:none;
}

.nav-tabs>li:first-child a,
.nav-tabs>li:first-child a:focus {
    border-left: none;
}

.nav-tabs>li:first-child {
    margin-left: -9px;
}

.nav-tabs>li:first-child a {
    padding-left: 31px;
}

.tab-content {
    padding: 34px 25px 27px;
}

.information-list ul li {
    list-style-type: none;
    display: block;
    font-size: 18px;
    margin: 0 0 12px;
}

.information-list ul li span {
    font-size: 16px;
    font-family: 'AvenirNext-DemiBold';
    width: 370px;
    display: inline-block;
}

/* ================================ Car View Page End =============================== */

.page-dashboard .dashboard-content .table>thead>tr>th {
    border-bottom: none;
}

.dashboard-content td:empty {
    display: none;
}

/* ------------------------ Terms & Conditions Page --------------------------- */

.page-desc-wrap {
    margin: 0 0 30px;
    font-size: 18px;
    color: #676464;
    font-family: 'AvenirNextCyr-Demi';
    line-height: initial;
}

.page-terms-and-conditions h3,.page-privacy-policy h3,
.page-alshrot-o-alahkam h3,.page-syas-alkhsosy h3 {
    color: #dc2b07;
    font-family: 'AvenirNextCyr-Demi';
    font-size: 20px;
    text-transform: uppercase;
}

.page-terms-and-conditions h3 strong, .page-privacy-policy h3 strong,
.page-alshrot-o-alahkam h3 strong,.page-syas-alkhsosy h3 strong {
    font-weight: normal;
}

.page-terms-and-conditions h4,.page-alshrot-o-alahkam h4,.page-why-spanchoosespan-us h4 {
    font-family: 'AvenirNextCyr-Bold';
    margin: 0 0 15px;
    font-size: 15px;
    text-transform: uppercase;
}

.page-terms-and-conditions ol li, .page-terms-and-conditions ul li,.page-privacy-policy ul li,
.page-alshrot-o-alahkam ol li, .page-alshrot-o-alahkam ul li,.page-syas-alkhsosy ul li {
    position: relative;
    list-style-type: none;
    padding: 0 0 6px 20px;
}

.page-terms-and-conditions ol li::before, .page-terms-and-conditions ul li::before,
.page-alshrot-o-alahkam ol li::before, .page-alshrot-o-alahkam ul li::before,
.page-privacy-policy ul li::before,.page-syas-alkhsosy ul li::before{
    content: '\f111';
    position: absolute;
    top: 5px;
    left: 0;
    color: #dc2b07;
    font-family: 'FontAwesome';
    line-height: initial;
    font-size: 10px;
}

.page-terms-and-conditions .submenu,.page-privacy-policy .submenu,
.page-alshrot-o-alahkam .submenu,.page-syas-alkhsosy .submenu {
    padding: 8px 0 0 5px;
}

.page-terms-and-conditions .submenu li::before,.page-privacy-policy .submenu li::before,
.page-alshrot-o-alahkam .submenu li::before,.page-syas-alkhsosy .submenu li::before {
    content: '\f10c';
}

.about-content h4 {
    color: #dc2b07;
    font-family: 'AvenirNextCyr-Demi';
    text-transform: uppercase;
    margin: 0 0 15px;
}

.about-content p {
    margin: 0 0 30px;
}

.about-content .page-title {
    padding: 30px 0 0;
}

/* ------------------------ Terms & Conditions End --------------------------- */

/* ------------------------ WhyChooseUs Page Start --------------------------- */

.page-why-spanchoosespan-us .how-it-works-section,
.page-lmatha-tkom-bekhtyarna .how-it-works-section {
    padding: 0 0 40px;
}

.page-why-spanchoosespan-us .how-it-works-section .container-fluid,
.page-lmatha-tkom-bekhtyarna .how-it-works-section .container-fluid {
    padding: 0;
}

/* ------------------------ WhyChooseUs Page End --------------------------- */

/* -------------------------------- Location Page Start ---------------------------- */

.locationsList-wrap {
    padding: 18px 0 0;
}

.locations-block {
    background: url('{{ asset_path("theme::img/form-pattern.jpg") }}');
    margin: 0 0 31px;
}

.loc-address {
    margin: 0;
    padding: 85px 88px 68px;
}

.loc-address h3 {
    font-size: 25px;
    font-family: 'AvenirNext-DemiBold';
    margin: 0 0 16px;
}

.loc-address p {
    margin: 0 0 13px;
}

.loc-address ul li {
    list-style-type: none;
}

.loc-address ul li span,.loc-address p span {
    font-family: 'AvenirNext-Medium';
}

#locMap img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#locMap {
    height: 300px;
    background: #ddd;
    overflow: hidden;
}

.locations-block:last-child {
    margin: 0;
}

.page-why-spanchoosespan-us .page-desc-wrap {
    padding: 0 35px;
}

/* --------------------------------- Location Page End ----------------------------- */

/*--------------------------------Page not found-----------------------------------*/

.page_not_found {
    text-align: center;
    margin: 120px 0 0 0;
}

.page_not_found h1 {
    font-size: 126px;
    font-weight: 800;
}

.page_not_found h3 {
    font-size: 40px;
}