{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
<style type="text/css">
		#buttons, #menu ul li:last-child{ display: none; }
</style>
  {{ asset_add('styles.css', 'anomaly.module.dashboard::scss/dashboard.scss') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/jquery-sortable.js') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/dashboard.js') }}
	{% 
		set recentItems = 
		{
			1 : 'Recent Appointments',
		} 
	%}
  <div id="dashboard">
    <div class="container-fluid">
			{% for status,title in recentItems %}
			<div class="columns row">
				{% set recentAppointments = entries('cars', 'cars').where('status', status).orderBy('created_at', 'desc').limit(10).get() %}
				<div class="col-lg-24">
        	<div class="widget card">
        		<div class="card-header">
        			<h5 class="card-title">{{ title }}</h5>
        		</div>
						<div class="card-block">
							<table class="table table-stripped">
								<thead>
									<tr>
										<th>Car Name</th>
										<th>Requested by</th>
										<th>Location</th>
										<th>Date</th>
										<th>Mobile</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for appointment in recentAppointments %}
									<tr>
										<td>{{ appointment.make.title ~ ' ' ~ appointment.model.title ~ ' - ' ~ appointment.year }}</td>
										<td>{{ appointment.first_name ~ ' ' ~ appointment.last_name }}</td>
										<td>{{ appointment.location.name }}</td>
										<td>{{ appointment.created_at.toDateTimeString() }}</td>
										<td>{{ appointment.mobile }}</td>
										<td>{{ appointment.email }}</td>
										<td>
											<a class="btn btn-xs btn-default" href="{{ url('admin/cars/view/'~appointment.id) }}">View</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
    </div>
  </div>
{% endblock %}