{% extends template.layout ?: "theme::layouts/default" %}

{% block content %}
<style type="text/css">
		#buttons, #menu ul li:last-child{ display: none; }
</style>
  {{ asset_add('styles.css', 'anomaly.module.dashboard::scss/dashboard.scss') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/jquery-sortable.js') }}
  {{ asset_add('scripts.js', 'anomaly.module.dashboard::js/dashboard.js') }}
  
  <div id="dashboard">
    <div class="container-fluid">
			<div class="columns row">
				{% set recentBiddings = entries('dealers', 'biddings').orderBy('created_at', 'desc').limit(10).get() %}
		    <div class="col-lg-24">
        	<div class="widget card">
        		<div class="card-header">
        			<h5 class="card-title">Recent Bids</h5>
        		</div>
						<div class="card-block">
            {% for item in recentBiddings %}
					    <div class="media">
				        <div class="media-left">
				            <i class="fa fa-calendar fa-lg text-faded"></i>
				        </div>
				        <div class="media-body">
			            <h3 class="media-heading">
			                <a href="{{ url('admin/cars/biddings/'~item.car.id) }}">
			                    {{ item.dealer.company_name }}
			                </a>
			                <br>
			                <small class="text-muted">
			                    {{ item.car.title }} - {{ item.created_at|date('F j, Y') }}
			                </small>
			            </h3>
				        </div>
					    </div>

					    {% if not loop.last %}
					    <hr>
					    {% endif %}
						{% endfor %}
					</div>
        </div>
				</div>
			</div>
    </div>
  </div>
{% endblock %}