{% extends layout('email') %}

{% block content %}
<p>
	{{ trans('skrollx.module.dealers::notification.account_activated.line1', {
		'name':dealer.first_name~' '~dealer.last_name,
	})|raw }}
</p>

<p style="text-align:left;"><a style="display: block; width: 200px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none; background-color: #22BC66;" href="{{ url('dealer/login') }}">Login now!</a></p>

{% endblock %}