{% extends layout('email') %}

{% block content %}
<p>
	{{ trans('skrollx.module.dealers::notification.bill_generated.line1')|raw }}
</p>
<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.dealers::field.company_name.name') }}: </strong>{{ billing.dealer.company_name }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.date.name') }}: </strong>{{ billing.date.toDateTimeString() }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.car_no.name') }}: </strong>{{ billing.car_no }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.invoice_no.name') }}: </strong>{{ billing.invoice_no }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.amount.name') }}: </strong>{{ currency_format(billing.amount.value) }}
</p>

<p style="text-align:left;">
	<a style="display: block; width: 250px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none; background-color: #22BC66;" href="{{ url('dealer/billing') }}">Login to dashboard!</a>
</p>

{% endblock %}