{% extends layout('email') %}

{% block content %}
<p>
	{{ trans('skrollx.module.dealers::notification.registration_completed.line1', {
		'name':dealer.first_name~' '~dealer.last_name,
	})|raw }}
</p>
<h4 style="border-bottom:1px solid #ddd; padding-bottom:10px;margin-bottom:10px;">Dealer Detail:</h4>
<p style="line-height:22px;">
	<strong>{{ trans('skrollx.module.dealers::field.company_name.name') }}: </strong>{{ dealer.company_name }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_address.name') }}: </strong>{{ dealer.company_address }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_building.name') }}: </strong>{{ dealer.company_building }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_country.name') }}: </strong>{{ dealer.company_country }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_city.name') }}: </strong>{{ dealer.company_city }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_state.name') }}: </strong>{{ dealer.company_state }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.company_zip.name') }}: </strong>{{ dealer.company_zip }}
	<br/><strong>{{ trans('skrollx.module.dealers::field.contact_no.name') }}: </strong>{{ dealer.contact_no }}
</p>

<p style="text-align:left;"><a style="display: block; width: 200px; min-height: 20px; padding: 10px; background-color: #3869D4; border-radius: 3px; color: #ffffff; font-size: 15px; line-height: 25px; text-align: center; text-decoration: none; -webkit-text-size-adjust: none; background-color: #22BC66;" href="{{ url('admin/dealers/view/'~dealer.id) }}">View in admin</a></p>

{% endblock %}