{#
    Main CSS can be found in metadata.twig
#}

{# Core Theme Components #}
{{ asset_add("theme.js", "theme::js/vendor/jquery.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/modernizr-2.8.3.min.js") }}
{{ asset_add("theme.js", "theme::js/vendor/bootstrap.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/jquery.bxslider.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/moment.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/datepicker.js") }}
{{ asset_add("theme.js", "theme::js/theme/bootstrap-timepicker.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/bootstrap-select.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/moment-timezone-with-data-2012-2022.min.js") }}
{{ asset_add("theme.js", "theme::js/theme/jquery.countdown.js") }}
{{ asset_add("theme.js", "theme::js/validate/jquery.validate.min.js") }}

{# Theme Scripts #}
{#{{ asset_add("theme.js", "theme::js/plugins/*") }}#}
{{ asset_add("theme.js", "theme::js/theme/initialize.js") }}

{{ html_script(asset_path("theme.js", ["min"])) }}
<script type="text/javascript">
    $.ajaxSetup({
    headers: {
      'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
});
</script>
{# Include Scripts Loaded From Outside #}
{% for script in asset_scripts("scripts.js") %}
    {{ script|raw }}
{% endfor %}

<script type="text/javascript">
  $(function(){
    $('form#subscribe-newsletter').on('submit', function(e){
      e.preventDefault();
      $btn = $(this).find('[type="submit"]');
      var btnText = $btn.text();
      var $emailField = $(this).find('[name="email"]');
      if(!skrollx.validateEmail($emailField.val())){
        $emailField.closest('.input-group').addClass('has-error');
        return false;
      }else{
        $emailField.closest('.input-group').removeClass('has-error');
      }

      $btn.html('<i class="fa fa-spinner fa-pulse"></i>')
      $.ajax({
        url: $(this).attr('action'),
        method: "POST",
        data: $(this).serialize()
      }).done(function(data){
        skrollx.alert('#subs-alert', data.status ? 'success' : 'danger', data.message);
        $btn.text(btnText);
        $emailField.val('');
      });
  });

  $('[data-countdown]').each(function() {
    var $this = $(this), finalDate = moment.tz($(this).data('countdown'), "UTC");
    
    $this.countdown(finalDate.toDate(), function(event) {
      var format = '%H:%M:%S left';
      if(event.offset.totalDays == 1){
        format = '%D day ' + format;
      }
      if(event.offset.totalDays > 1){
        format = '%D days ' + format;
      }
      $this.html(event.strftime(format));
    })
    .on('finish.countdown', function(event) {
      $(this).html('');
      $('.row.price-group').remove();
    });
  });
});
</script>

{# Include Styles Loaded From Outside #}
{% for style in asset_styles("styles.css") %}
    {{ style|raw }}
{% endfor %}
