{% set makes = entries('cars', 'makes').get() %}
<h3>{{ trans('theme::site.free_online_car_valuation') }}<span>{{ trans('theme::site.no_registration_required') }}</span></h3>
	{{ form_open({'url': url('evaluate/step-1'),'method':'GET','class':'form-valuation' }) }}
		<div class="form-group required">
			<div class="select-appearance" data-typed=""> 
        <select name="make" class="form-control selectpicker">
            <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.make.placeholder') }} *</option>
            {% for make in makes %}
            <option value="{{ make.id }}">{{ make.title }}</option>
          	{% endfor %}
        </select>
      </div>
		</div>
		<div class="form-group required">
			<div class="select-appearance" data-typed=""> 
        <select name="model" class="form-control selectpicker">
            <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.model.placeholder') }} *</option>
        </select>
      </div>
		</div>	
		<div class="form-group required">
			<div class="select-appearance" data-typed=""> 
        <select name="year" class="form-control selectpicker">
          <option selected="selected" disabled="disabled">{{ trans('skrollx.module.cars::field.year.placeholder') }} *</option>
          {% for year in "now"|date("Y")..1980 %}
          <option value="{{ year }}">{{ year }}</option>
        	{% endfor %}
        </select>
      </div>
		</div>	
		<div class="form-group">
			<input type="submit" class="btn site-btn" value="{{ trans('theme::button.evaluate_my_car_now') }}">
		</div>								
	{{ form_close() }}
	<div class="call-us">
		<h4>{{ trans('theme::site.call_us_now') }} <span><i class="fa fa-phone"></i><a href="tel:{{ variable('site', 'contact_no').value|raw }}">{{ variable('site', 'contact_no').value|raw }}</a></span></h4>
	</div>