{% if auth_check() and auth_user().hasRole('dealer') %}
	<h3>{{ trans('theme::site.welcome_user', {'name':auth_user().name()}) }}</h3>
	<a class="btn site-btn" href="{{ url('dealer/dashboard') }}">{{ trans('theme::site.go_to_dashboard') }}</a>
{% else %}
<h3>{{ trans('theme::button.register_now') }}</h3>
{% set registerForm = form('register_form').options({
	'success_message': false,
	'redirect': request_get('redirect', '/dealer/complete-registration')
}).get() %}
{{ registerForm.open({'class':'dealer-register-form'})|raw }}
	{% for field in registerForm.fields %}
		<div class="form-group {{ field.field_name }}-field required">
			{{ field.input|raw }}
		</div>
	{% endfor %}
	{{ registerForm.actions|raw }}
{{ registerForm.close()|raw }}
{% endif %}