<footer id="main-footer" class="site-footer">
	<div class="container">
		<div class="footer-block-wrap">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-block">
						{% set testimonials = entries('mebuycar', 'testimonials').get() %}
						{% if testimonials.count() %}
						<h4>{{ trans('theme::site.testimonials') }}</h4>
						<div id="testimonial-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
							<div class="carousel-inner" role="listbox">
								{% for testimonial in testimonials %}
								<div class="item {% if loop.index == 1 %}active{% endif %}">
									<p>
										{{ testimonial.description|raw }}
										<span>- {{ testimonial.name|raw }}</span>
									</p>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-block">
						<h4>{{ trans('theme::site.about_mebuycar') }}</h4>
						<ul>
              {% for link in links('footer').get() %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="footer-block">
						<h4>{{ trans('theme::button.contact_us') }}</h4>
						<address class="footer-address">
							<p>
								{{ variable('site', 'contact_address').value|raw }}
							</p>
							<ul class="list-inline list-social">
				{% set facebook_url = variable('site', 'facebook').value %}
                {% set twitter_url = variable('site', 'twitter').value %}
                {% set instagram_url = variable('site', 'instagram').value %}
                {% set linkedin_url = variable('site', 'linkedin').value %}
                {% set youtube_url = variable('site', 'youtube').value %}

                {% if facebook_url %}
                  <li><a target="_blank" href="{{ facebook_url|raw }}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if twitter_url %}
                  <li><a target="_blank" href="{{ twitter_url|raw }}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if instagram_url %}
                  <li><a target="_blank" href="{{ instagram_url|raw }}"><i class="fa fa-instagram"></i></a></li>
                {% endif %}
                {% if linkedin_url %}
                  <li><a target="_blank" href="{{ linkedin_url|raw }}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if youtube_url %}
                  <li><a target="_blank" href="{{ youtube_url|raw }}"><i class="fa fa-youtube"></i></a></li>
                {% endif %}
							</ul>
						</address>
					</div>				
				</div>
				<div class="col-md-3">
					<div class="footer-block">
						<h4>{{ trans('theme::site.newsletter') }}</h4>
						{{ form_open({url: url("ajax/subscribe"), id:'subscribe-newsletter', class:'subscribe-form clearfix'}) }}
						<div class="input-group">
				      <input type="email" name="email" class="form-control" placeholder="{{ trans('theme::field.email.name') }}">
				      <span class="input-group-btn">
				        <button class="btn btn-default site-btn" type="submit">{{ trans('theme::button.subscribe') }}</button>
				      </span>
				    </div>
				    {{ form_close() }}
				    <div id="subs-alert"></div>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="site-info">
		<div class="container">
			<p>{{ trans('theme::site.copyright_info', {year:"now"|date("Y")})|raw }}</p>
		</div>
	</div>
</footer><!-- /main-footer -->
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'jyIIqedJQF';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<link type="text/css" rel="stylesheet" href="/app/default/assets/public/air-datepicker-master/dist/css/datepicker.min.css">
<link type="text/css" rel="stylesheet" href="/app/default/assets/public/TimePicki-master/css/timepicki.css">