<header id="masthead" class="site-header">
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/51863476a138360bc0136ea48/7c71d94223d66b7a10eac4393.js");</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111481299-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'UA-111481299-1');
</script>

{% set dealer_pages = ['dealer', 'login', 'cars', 'car'] %}
{% set navView = request_segment(1) in dealer_pages ? 'nav-dealer' : 'nav-default' %}
{{ view('theme::partials/'~navView) }}
</header><!-- /header -->