<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="{{ trans(template.meta_description) }}"/>
<meta name="csrf-token" content="{{ csrf_token() }}">

{% block ogdata %}
    <meta property="og:site_name" content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}"/>
    {#<meta property="og:image" content="{{ image_url('theme::img/og.png') }}"/>#}
    <meta property="og:description" content="{{ trans(template.meta_description) }}"/>
    <meta property="og:title" content="{{ trans(template.meta_title) }}"/>
    <meta property="og:url" content="{{ url_current() }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title)|striptags }}
</title>

<!-- Favicon -->
<link rel="shortcut icon" href="{{ asset_path('skrollx.theme.mebuycar::img/favicon/favicon.ico') }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon.png') }}" />
<link rel="apple-touch-icon" sizes="57x57" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-57x57.png') }}" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-72x72.png') }}" />
<link rel="apple-touch-icon" sizes="76x76" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-76x76.png') }}" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-114x114.png') }}" />
<link rel="apple-touch-icon" sizes="120x120" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-120x120.png') }}" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-144x144.png') }}" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-152x152.png') }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ image_url('skrollx.theme.mebuycar::img/favicon/apple-touch-icon-180x180.png') }}" />

{# Base Theme Components #}
{{ asset_add("theme.css", "theme::css/bootstrap.min.css", ["parse"]) }}
{{ asset_add("theme.css", "theme::css/jquery.bxslider.css", ["parse"]) }}
{{ asset_add("theme.css", "theme::css/font-awesome.min.css", ["parse"]) }}
{{ asset_add("theme.css", "theme::css/normalize.min.css") }}
{{ asset_add("theme.css", "theme::css/bootstrap-timepicker.min.css") }}
{{ asset_add("theme.css", "theme::css/bootstrap-select.min.css") }}
{{ asset_add("theme.css", "theme::css/style.css", ["parse"]) }}
{{ asset_add("theme.css", "theme::css/site.css") }}
{{ asset_add("theme.css", "theme::css/responsive.css") }}

{# Include Asset Collections #}
{{ asset_style("theme.css") }}

{% if config('app.locale') == 'ar' %}
    {{ asset_add("theme-rtl.css", "theme::css/rtl/bootstrap-rtl.min.css") }}
    {{ asset_add("theme-rtl.css", "theme::css/rtl/style-rtl.css") }}
    {{ asset_add("theme-rtl.css", "theme::css/rtl/responsive-rtl.css") }}
    {{ asset_style("theme-rtl.css") }}
{% endif %}

{# Important!! #}
{{ constants() }}
