<div class="container-fluid">
    <div class="navbar-header site-logo">
      <a href="/{{ config('app.locale') }}" class="navbar-brand">
        {% set sitelogo = variable('site', 'logo') %}
        {% set sitelogoar = variable('site', 'logo_ar') %}
        {% if sitelogo %}
          {% if config('app.locale') == 'ar' %}
            <img src="{{ sitelogoar.image().path }}" alt="{{ config_get('streams::distribution.name') }}">
          {% else %}
            <img src="{{ sitelogo.image().path }}" alt="{{ config_get('streams::distribution.name') }}">
          {% endif %}
        {% else %}
          {% if config('app.locale') == 'ar' %}
            <img src="{{ image_url('skrollx.theme.mebuycar::img/arabic-logo.png') }}" alt="{{ config_get('streams::distribution.name') }}">
          {% else %}
            <img src="{{ image_url('skrollx.theme.mebuycar::img/logo.png') }}" alt="{{ config_get('streams::distribution.name') }}">
          {% endif %}
        {% endif %}
      </a>
    </div>
    <div class="main-navigation">
      <nav id="menu-left" class="site-navigation">
        <ul>
          <li class="nav-item-home {% if request_segment(1) == '' %}current-menu-item{% endif %}">
            <a href="/{{ config('app.locale') }}"><i class="fa fa-home"></i></a>
          </li>
          {# <li class="{% if request_segment(2) == 'how-it-works' %}current-menu-item{% endif %}">
            <a href="{{ url('dealer/how-it-works') }}">{{ trans('theme::button.how_it_works') }}</a>
          </li> #}
          <li class="{% if request_segment(1) == 'cars' %}current-menu-item{% endif %}">
            <a href="{{ url('cars') }}">{{ trans('skrollx.module.cars::addon.title') }}</a>
          </li>
          <li>
            <a href="{{ url('/') }}">{{ trans('theme::button.want_to_sell_a_car') }}</a>
          </li>
        </ul>
      </nav>
      <nav id="menu-right" class="site-navigation">
        <ul>
          <li class="{% if request_segment(1) == 'about' %}current-menu-item{% endif %}">
            <a href="{{ url('about') }}">{{ trans('theme::button.about') }}</a>
          </li>
          <li class="{% if request_segment(1) == 'contact' %}current-menu-item{% endif %}">
            <a href="{{ url('contact') }}">{{ trans('theme::button.contact') }}</a>
          </li>
          <li class="dropdown switch-lang">{{ trans('theme::site.language') }} :
            <a href="javascript:void(0);" class="dropdown-toggle" id="langDrop" data-toggle="dropdown">
              {{ config('app.locale') == 'ar' ? trans('theme::button.arabic') : trans('theme::button.english') }}<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/ar">{{ trans('theme::button.arabic') }}</a></li>
              <li><a href="/en">{{ trans('theme::button.english') }}</a></li>
            </ul>
          </li>
          {% if auth_check() %}
          <li class="dropdown">
            <a href="javascript:void(0);" class="btn site-btn dropdown-toggle" data-toggle="dropdown">{{ str_limit(auth_user().display_name, 15) }} <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              {% set dashboard_url = auth_user().hasRole('admin') ? url('admin/dashboard') : url('dealer/dashboard') %}
              <li><a href="{{ dashboard_url }}">{{ trans('theme::site.dashboard') }}</a></li>
              <li><a href="{{ url('logout?redirect=/dealer') }}">{{ trans('theme::button.logout') }}</a></li>
            </ul>
          </li>
          {% else %}
          <li>
            <div class="btn-group">
              <a href="{{ url('dealer/register') }}" class="btn site-btn">{{ trans('theme::button.register') }}</a>
              <a href="{{ url('dealer/login') }}" class="btn site-btn">{{ trans('theme::button.login') }}</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </nav>
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>        
  <div id="mobileResponsiveMenu">
    <ul class="nav navbar-nav">
      <li class="{% if request_segment(2) == 'how-it-works' %}current-menu-item{% endif %}">
        <a href="{{ url('dealer/how-it-works') }}">{{ trans('theme::button.how_it_works') }}</a>
      </li>
      <li>
        <a href="{{ url('/') }}">{{ trans('theme::button.want_to_sell_a_car') }}</a>
      </li>
      <li class="{% if request_segment(1) == 'about' %}current-menu-item{% endif %}">
        <a href="{{ url('about') }}">{{ trans('theme::button.about') }}</a>
      </li>
      <li class="{% if request_segment(1) == 'contact' %}current-menu-item{% endif %}">
        <a href="{{ url('contact') }}">{{ trans('theme::button.contact') }}</a>
      </li>
    </ul>
  </div>