<ul>
  <li {% if request_segment(2) == 'dashboard'%}class="active"{% endif %}>
    <a href="{{ url('dealer/dashboard') }}">{{ trans('skrollx.module.dealers::site.dashboard') }}</a>
  </li>
  <li {% if request_segment(2) == 'contact-info'%}class="active"{% endif %}>
    <a href="{{ url('dealer/contact-info') }}">{{ trans('skrollx.module.dealers::site.contact_info')|raw }}</a>
  </li>
  <li {% if request_segment(2) == 'notification-preferences'%}class="active"{% endif %}>
    <a href="{{ url('dealer/notification-preferences') }}">{{ trans('skrollx.module.dealers::site.notification_preferences') }}</a>
  </li>
  <li {% if request_segment(2) == 'address'%}class="active"{% endif %}>
    <a href="{{ url('dealer/address') }}">{{ trans('skrollx.module.dealers::site.address') }}</a>
  </li>
  <li {% if request_segment(2) == 'billing'%}class="active"{% endif %}>
    <a href="{{ url('dealer/billing') }}">{{ trans('skrollx.module.dealers::site.billing') }}</a>
  </li>
  <li {% if request_segment(2) == 'deposit'%}class="active"{% endif %}>
    <a href="{{ url('dealer/deposit') }}">{{ trans('skrollx.module.dealers::site.deposit') }}</a>
  </li>
  <li {% if request_segment(2) == 'invoice'%}class="active"{% endif %}>
    <a href="{{ url('dealer/invoice') }}">{{ trans('skrollx.module.dealers::site.invoice') }}</a>
  </li>
  <li {% if request_segment(2) == 'bids'%}class="active"{% endif %}>
    <a href="{{ url('dealer/bids') }}">{{ trans('skrollx.module.dealers::site.bids') }}</a>
  </li>
  <li {% if request_segment(2) == 'saved-cars'%}class="active"{% endif %}>
    <a href="{{ url('dealer/saved-cars') }}">{{ trans('skrollx.module.dealers::field.saved_cars.name') }}</a>
  </li>
  <li {% if request_segment(2) == 'change-password'%}class="active"{% endif %}>
    <a href="{{ url('dealer/change-password') }}">{{ trans('skrollx.module.dealers::site.change_password') }}</a>
  </li>
</ul>