{% set testimonials = entries('mebuycar', 'testimonials').get() %}
{% if testimonials.count() %}
<div class="testimonial-section">
	<h1 class="page-title">{{ trans('theme::site.what_our_customers_says')|raw }}</h1>
	<div class="testimonial-block-wrap">
		<div class="row">
			{% for testimonial in testimonials %}
			{% set displaystyle = loop.index > 4 ? 'display:none;' : '' %}
			<div class="col-sm-6" style="{{ displaystyle }}">
				<div class="testimonial-block">
					{% if testimonial.photo %}
					<figure class="thumb-profile">
						{{ testimonial.photo.image().resize(150)|raw }}
					</figure>
					{% endif %}
					<p>
						{{ testimonial.description }}
					</p>
					<h5>{{ testimonial.name }}</h5>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% if testimonials.count() > 4 %}
	<div class="btn-center-wrap">
		<a href="javascript:void(1)" class="btn site-btn load-more">{{ trans('theme::button.load_more') }}</a>
	</div>
	{% endif %}
</div>
{% endif %}