{% extends "theme::layouts/default" %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h4 class="card-title">{{ dealer.company_name }}</h4></div>
        <div class="card-block">
            <h4 class="card-title">Dealer info:</h4><hr>
            <p>
                <strong>{{ trans('skrollx.module.dealers::field.company_name.name') }}: </strong>{{ dealer.company_name }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.name.name') }}: </strong>{{ dealer.user.first_name~' '~dealer.user.last_name }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.email.name') }}: </strong>{{ dealer.user.email }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_address.name') }}: </strong>{{ dealer.company_address }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_building.name') }}: </strong>{{ dealer.company_building }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_country.name') }}: </strong>{{ dealer.company_country }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_city.name') }}: </strong>{{ dealer.company_city }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_state.name') }}: </strong>{{ dealer.company_state }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.company_zip.name') }}: </strong>{{ dealer.company_zip }}
                <br/><strong>{{ trans('skrollx.module.dealers::field.contact_no.name') }}: </strong>{{ dealer.contact_no }}
            </p>
            <h4 class="card-title">Documents:</h4><hr>
            <p>
                {% for field in ['passport', 'power_of_attorny', 'trade_license', 'other_docs'] %}
                    {% set doc_name = attribute(dealer, field).getName() %}
                    <strong>{{ trans('module::field.'~field~'.name')|raw }}</strong>: 
                        {% if doc_name %}
                            <a class="btn btn-link" href="{{ attribute(dealer, field).url() }}" target="_blank"><i class="fa fa-download"></i> {{ doc_name }}</a>
                        {% endif %}
                    <br/>
                {% endfor %}
            </p>
            <h4 class="card-title">User status:</h4><hr>
            <p>
                <strong>{{ trans('skrollx.module.cars::field.status.name') }}: </strong>{{ dealer.user.activated.value ? 'Activated' : 'Not activated' }}
            </p>
            <p>
                {% if dealer.user.activated.value %}
                    <a href="{{ url('admin/dealers/activate/'~dealer.user.id~'/0') }}" class="btn btn-primary">{{ trans('module::button.deactivate') }}</a>
                {% else %}
                    <a href="{{ url('admin/dealers/activate/'~dealer.user.id~'/1') }}" class="btn btn-primary">{{ trans('module::button.activate') }}</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

{% endblock %}
